.elementor-73 .elementor-element.elementor-element-d1123f2>.elementor-container {
    max-width: 1172px
}

.elementor-73 .elementor-element.elementor-element-d1123f2>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-73 .elementor-element.elementor-element-d1123f2 {
    margin-top: 49px;
    margin-bottom: 0;
    padding: 0 0 7.5rem
}

.elementor-73 .elementor-element.elementor-element-79f13c>.elementor-element-populated {
    padding: 0 60px 0 0
}

.elementor-73 .elementor-element.elementor-element-da8141>.elementor-widget-container {
    padding: 0 0 1.25rem
}

.elementor-73 .elementor-element.elementor-element-41355aaa>.elementor-widget-container {
    padding: 0 0 2.5rem
}

.elementor-73 .elementor-element.elementor-element-193f54a3 {
    text-align: left
}

.elementor-73 .elementor-element.elementor-element-193f54a3>.elementor-widget-container {
    padding: 0 0 2.5rem
}

.elementor-73 .elementor-element.elementor-element-0be93ff>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-73 .elementor-element.elementor-element-045f943.elementor-column>.elementor-widget-wrap {
    justify-content: flex-start
}

.elementor-73 .elementor-element.elementor-element-045f943>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-73 .elementor-element.elementor-element-26fad45 .elementor-button .elementor-align-icon-right {
    margin-left: 16px
}

.elementor-73 .elementor-element.elementor-element-26fad45 .elementor-button .elementor-align-icon-left {
    margin-right: 16px
}

.elementor-73 .elementor-element.elementor-element-26fad45 .elementor-button {
    fill: var(--e-global-color-text);
    color: var(--e-global-color-text);
    background-color: var(--e-global-color-primary)
}

.elementor-73 .elementor-element.elementor-element-26fad45 .elementor-button:hover,
.elementor-73 .elementor-element.elementor-element-26fad45 .elementor-button:focus {
    color: var(--e-global-color-text);
    background-color: var(--e-global-color-secondary)
}

.elementor-73 .elementor-element.elementor-element-26fad45 .elementor-button:hover svg,
.elementor-73 .elementor-element.elementor-element-26fad45 .elementor-button:focus svg {
    fill: var(--e-global-color-text)
}

.elementor-73 .elementor-element.elementor-element-26fad45 a.elementor-button:hover .elementor-button-icon i {
    color: var(--e-global-color-text)
}

.elementor-73 .elementor-element.elementor-element-26fad45>.elementor-widget-container {
    padding: 0 1rem 0 0
}

.elementor-73 .elementor-element.elementor-element-26fad45 {
    width: auto;
    max-width: auto
}

.elementor-73 .elementor-element.elementor-element-0eccb7f .elementor-button .elementor-align-icon-right {
    margin-left: 16px
}

.elementor-73 .elementor-element.elementor-element-0eccb7f .elementor-button .elementor-align-icon-left {
    margin-right: 16px
}

.elementor-73 .elementor-element.elementor-element-0eccb7f .elementor-button {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    background-color: #fafafa;
    border-style: solid;
    border-width: 1px;
    border-color: var(--e-global-color-secondary)
}

.elementor-73 .elementor-element.elementor-element-0eccb7f .elementor-button:hover,
.elementor-73 .elementor-element.elementor-element-0eccb7f .elementor-button:focus {
    color: var(--e-global-color-text);
    background-color: var(--e-global-color-secondary)
}

.elementor-73 .elementor-element.elementor-element-0eccb7f .elementor-button:hover svg,
.elementor-73 .elementor-element.elementor-element-0eccb7f .elementor-button:focus svg {
    fill: var(--e-global-color-text)
}

.elementor-73 .elementor-element.elementor-element-0eccb7f a.elementor-button {
    border-color: var(--e-global-color-primary)
}

.elementor-73 .elementor-element.elementor-element-0eccb7f a.elementor-button .elementor-button-icon i {
    color: var(--e-global-color-primary)
}

.elementor-73 .elementor-element.elementor-element-0eccb7f a.elementor-button:hover {
    border-color: var(--e-global-color-secondary)
}

.elementor-73 .elementor-element.elementor-element-0eccb7f a.elementor-button:hover .elementor-button-icon i {
    color: var(--e-global-color-text)
}

.elementor-73 .elementor-element.elementor-element-0eccb7f {
    width: auto;
    max-width: auto
}

.elementor-73 .elementor-element.elementor-element-61e132c5 {
    text-align: right
}

.elementor-73 .elementor-element.elementor-element-5e385a11>.elementor-container {
    max-width: 1172px
}

.elementor-73 .elementor-element.elementor-element-5e385a11>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-73 .elementor-element.elementor-element-5e385a11:not(.elementor-motion-effects-element-type-background),
.elementor-73 .elementor-element.elementor-element-5e385a11>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #fafafa
}

.elementor-73 .elementor-element.elementor-element-5e385a11 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 0 0 120px
}

.elementor-73 .elementor-element.elementor-element-5e385a11>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-73 .elementor-element.elementor-element-605bf079.elementor-column>.elementor-widget-wrap {
    justify-content: space-between
}

.elementor-73 .elementor-element.elementor-element-dbc392e {
    text-align: left
}

.elementor-73 .elementor-element.elementor-element-7c2634c0.elementor-column>.elementor-widget-wrap {
    justify-content: space-between
}

.elementor-73 .elementor-element.elementor-element-4aafab4f>.elementor-widget-container {
    padding: 0 0 2.5rem
}

.elementor-73 .elementor-element.elementor-element-2bf590f3>.elementor-widget-container {
    padding: 0 0 40px
}

.elementor-73 .elementor-element.elementor-element-625468e:not(.elementor-motion-effects-element-type-background),
.elementor-73 .elementor-element.elementor-element-625468e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary)
}

.elementor-73 .elementor-element.elementor-element-625468e {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 120px 0 0
}

.elementor-73 .elementor-element.elementor-element-625468e>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-73 .elementor-element.elementor-element-d04bff9>.elementor-element-populated {
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: #8F929534;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 0 3.5rem 0 0
}

.elementor-73 .elementor-element.elementor-element-d04bff9>.elementor-element-populated,
.elementor-73 .elementor-element.elementor-element-d04bff9>.elementor-element-populated>.elementor-background-overlay,
.elementor-73 .elementor-element.elementor-element-d04bff9>.elementor-background-slideshow {
    border-radius: 0
}

.elementor-73 .elementor-element.elementor-element-d04bff9>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-73 .elementor-element.elementor-element-7087ad3 .elementor-heading-title {
    color: var(--e-global-color-text)
}

.elementor-73 .elementor-element.elementor-element-7087ad3>.elementor-widget-container {
    padding: 0 0 2.625rem
}

.elementor-73 .elementor-element.elementor-element-bf76f58 .elementor-heading-title {
    color: var(--e-global-color-text);
    line-height: 1.2em
}

.elementor-73 .elementor-element.elementor-element-bf76f58>.elementor-widget-container {
    padding: 0 0 20px
}

.elementor-73 .elementor-element.elementor-element-be59906>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-73 .elementor-element.elementor-element-be59906:not(.elementor-motion-effects-element-type-background),
.elementor-73 .elementor-element.elementor-element-be59906>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary)
}

.elementor-73 .elementor-element.elementor-element-be59906 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-73 .elementor-element.elementor-element-be59906>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-73 .elementor-element.elementor-element-d947b33 {
    --spacer-size: 215px
}


.elementor-73 .elementor-element.elementor-element-58a3f227>.elementor-container {
    max-width: 1172px
}

.elementor-73 .elementor-element.elementor-element-58a3f227:not(.elementor-motion-effects-element-type-background),
.elementor-73 .elementor-element.elementor-element-58a3f227>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary)
}

.elementor-73 .elementor-element.elementor-element-58a3f227 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 0 0 7.5rem
}

.elementor-73 .elementor-element.elementor-element-58a3f227>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-73 .elementor-element.elementor-element-42bd2b6>.elementor-element-populated {
    margin: 0 25%;
    --e-column-margin-right: 25%;
    --e-column-margin-left: 25%
}

.elementor-73 .elementor-element.elementor-element-72ee92fa {
    text-align: center
}

.elementor-73 .elementor-element.elementor-element-72ee92fa>.elementor-widget-container {
    padding: 0 0 2.5rem
}

.elementor-73 .elementor-element.elementor-element-e0bb068 {
    text-align: center
}

.elementor-73 .elementor-element.elementor-element-e0bb068 .elementor-heading-title {
    color: var(--e-global-color-text)
}

.elementor-73 .elementor-element.elementor-element-e0bb068>.elementor-widget-container {
    padding: 0 0 2rem
}

.elementor-73 .elementor-element.elementor-element-1678ab18 {
    text-align: center;
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: var(--e-global-typography-primary-font-size);
    font-weight: var(--e-global-typography-primary-font-weight);
    line-height: var(--e-global-typography-primary-line-height)
}

.elementor-73 .elementor-element.elementor-element-1678ab18>.elementor-widget-container {
    margin: 0;
    padding: 0 0 3.75rem
}

.elementor-73 .elementor-element.elementor-element-d22fd02 .elementor-button .elementor-align-icon-right {
    margin-left: 16px
}

.elementor-73 .elementor-element.elementor-element-d22fd02 .elementor-button .elementor-align-icon-left {
    margin-right: 16px
}

.elementor-73 .elementor-element.elementor-element-d22fd02 .elementor-field-group {
    padding-right: calc(16px/2);
    padding-left: calc(16px/2);
    margin-bottom: 34px
}

.elementor-73 .elementor-element.elementor-element-d22fd02 .elementor-form-fields-wrapper {
    margin-left: calc(-16px/2);
    margin-right: calc(-16px/2);
    margin-bottom: -34px
}

.elementor-73 .elementor-element.elementor-element-d22fd02 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-73 .elementor-element.elementor-element-d22fd02 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0
}

body.rtl .elementor-73 .elementor-element.elementor-element-d22fd02 .elementor-labels-inline .elementor-field-group>label {
    padding-left: 8px
}

body:not(.rtl) .elementor-73 .elementor-element.elementor-element-d22fd02 .elementor-labels-inline .elementor-field-group>label {
    padding-right: 8px
}

body .elementor-73 .elementor-element.elementor-element-d22fd02 .elementor-labels-above .elementor-field-group>label {
    padding-bottom: 8px
}

.elementor-73 .elementor-element.elementor-element-d22fd02 .elementor-field-group>label,
.elementor-73 .elementor-element.elementor-element-d22fd02 .elementor-field-subgroup label {
    color: var(--e-global-color-text)
}

.elementor-73 .elementor-element.elementor-element-d22fd02 .elementor-mark-required .elementor-field-label:after {
    color: var(--e-global-color-secondary)
}

.elementor-73 .elementor-element.elementor-element-d22fd02 .elementor-field-group>label {
    font-family: "Inter", Sans-serif;
    font-size: .875rem;
    font-weight: 400
}

.elementor-73 .elementor-element.elementor-element-d22fd02 .elementor-field-type-html {
    padding-bottom: 0
}

.elementor-73 .elementor-element.elementor-element-d22fd02 .elementor-field-group .elementor-field {
    color: var(--e-global-color-text)
}

.elementor-73 .elementor-element.elementor-element-d22fd02 .elementor-field-group .elementor-field,
.elementor-73 .elementor-element.elementor-element-d22fd02 .elementor-field-subgroup label {
    font-family: "Inter", Sans-serif;
    font-weight: 400
}

.elementor-73 .elementor-element.elementor-element-d22fd02 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #2f2f2d;
    border-color: #343433;
    border-width: 0
}

.elementor-73 .elementor-element.elementor-element-d22fd02 .elementor-field-group .elementor-select-wrapper select {
    background-color: #2f2f2d;
    border-color: #343433;
    border-width: 0
}

.elementor-73 .elementor-element.elementor-element-d22fd02 .elementor-field-group .elementor-select-wrapper:before {
    color: #343433
}

.elementor-73 .elementor-element.elementor-element-d22fd02 .elementor-button {
    font-family: "Inter", Sans-serif;
    font-size: .9375rem;
    font-weight: 500;
    padding: 1em 1.25em
}

.elementor-73 .elementor-element.elementor-element-d22fd02 .e-form__buttons__wrapper__button-next {
    background-color: var(--e-global-color-text);
    color: var(--e-global-color-primary)
}

.elementor-73 .elementor-element.elementor-element-d22fd02 .elementor-button[type=submit] {
    background-color: var(--e-global-color-text);
    color: var(--e-global-color-primary)
}

.elementor-73 .elementor-element.elementor-element-d22fd02 .elementor-button[type=submit] svg * {
    fill: var(--e-global-color-primary)
}

.elementor-73 .elementor-element.elementor-element-d22fd02 .e-form__buttons__wrapper__button-previous {
    background-color: var(--e-global-color-text);
    color: var(--e-global-color-primary)
}

.elementor-73 .elementor-element.elementor-element-d22fd02 .e-form__buttons__wrapper__button-next:hover {
    background-color: var(--e-global-color-secondary);
    color: var(--e-global-color-text)
}

.elementor-73 .elementor-element.elementor-element-d22fd02 .elementor-button[type=submit]:hover {
    background-color: var(--e-global-color-secondary);
    color: var(--e-global-color-text)
}

.elementor-73 .elementor-element.elementor-element-d22fd02 .elementor-button[type=submit]:hover svg * {
    fill: var(--e-global-color-text)
}

.elementor-73 .elementor-element.elementor-element-d22fd02 .e-form__buttons__wrapper__button-previous:hover {
    background-color: var(--e-global-color-secondary);
    color: #fff
}

.elementor-73 .elementor-element.elementor-element-d22fd02 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #fff;
    --e-form-steps-indicator-active-secondary-color: #fff;
    --e-form-steps-indicator-completed-secondary-color: #fff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px
}

.elementor-73 .elementor-element.elementor-element-d22fd02>.elementor-widget-container {
    margin: 0;
    padding: 0;
    border-radius: 8px
}

@media(min-width:768px) {
    .elementor-73 .elementor-element.elementor-element-d04bff9 {
        width: 25%
    }

    .elementor-73 .elementor-element.elementor-element-b660f3a {
        width: 75%
    }
}

@media(max-width:1064px) {
    .elementor-73 .elementor-element.elementor-element-d1123f2 {
        margin-top: 94px;
        margin-bottom: 0;
        padding: 0 1.25rem 3rem
    }

    .elementor-73 .elementor-element.elementor-element-79f13c>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-73 .elementor-element.elementor-element-79f13c>.elementor-element-populated {
        padding: 0 0 60px
    }

    .elementor-73 .elementor-element.elementor-element-41355aaa>.elementor-widget-container {
        padding: 0 0 1rem
    }

    .elementor-73 .elementor-element.elementor-element-5a9083e5.elementor-column>.elementor-widget-wrap {
        justify-content: center
    }

    .elementor-73 .elementor-element.elementor-element-5a9083e5>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-73 .elementor-element.elementor-element-61e132c5 {
        text-align: center
    }

    .elementor-73 .elementor-element.elementor-element-61e132c5 img {
        width: 60%
    }

    .elementor-73 .elementor-element.elementor-element-5e385a11 {
        padding: 0 1.25rem 7.625rem
    }

    .elementor-73 .elementor-element.elementor-element-dbc392e {
        text-align: center
    }

    .elementor-73 .elementor-element.elementor-element-dbc392e img {
        width: 50%
    }

    .elementor-73 .elementor-element.elementor-element-7c2634c0>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-73 .elementor-element.elementor-element-4aafab4f>.elementor-widget-container {
        padding: 0 0 2rem
    }

    .elementor-73 .elementor-element.elementor-element-2bf590f3>.elementor-widget-container {
        padding: 0 0 2rem
    }

    .elementor-73 .elementor-element.elementor-element-625468e {
        padding: 5rem 1.25rem 0
    }

    .elementor-73 .elementor-element.elementor-element-42bd2b6>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-73 .elementor-element.elementor-element-72ee92fa>.elementor-widget-container {
        margin: 2% 20% 0
    }

    .elementor-73 .elementor-element.elementor-element-e0bb068>.elementor-widget-container {
        margin: 0 10%
    }

    .elementor-73 .elementor-element.elementor-element-1678ab18 {
        text-align: center;
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height)
    }

    .elementor-73 .elementor-element.elementor-element-1678ab18>.elementor-widget-container {
        margin: 0 10%
    }
}

@media(max-width:767px) {
    .elementor-73 .elementor-element.elementor-element-d1123f2 {
        margin-top: 93px;
        margin-bottom: 0;
        padding: 3.125rem 1.25rem 3rem
    }

    .elementor-73 .elementor-element.elementor-element-41355aaa>.elementor-widget-container {
        padding: 0 0 1.56rem
    }

    .elementor-73 .elementor-element.elementor-element-193f54a3>.elementor-widget-container {
        padding: 0 0 1.56rem
    }

    .elementor-73 .elementor-element.elementor-element-26fad45>.elementor-widget-container {
        padding: 0 0 1.24rem
    }

    .elementor-73 .elementor-element.elementor-element-61e132c5 {
        text-align: center
    }

    .elementor-73 .elementor-element.elementor-element-61e132c5 img {
        width: 100%
    }

    .elementor-73 .elementor-element.elementor-element-5e385a11 {
        padding: 0 1.25rem 4.5rem
    }

    .elementor-73 .elementor-element.elementor-element-dbc392e img {
        width: 90%
    }

    .elementor-73 .elementor-element.elementor-element-4aafab4f>.elementor-widget-container {
        padding: 0 0 1.75rem
    }

    .elementor-73 .elementor-element.elementor-element-2bf590f3>.elementor-widget-container {
        padding: 0 0 3rem
    }

    .elementor-73 .elementor-element.elementor-element-625468e {
        padding: 4.6875rem 1.25rem 0
    }

    .elementor-73 .elementor-element.elementor-element-d04bff9>.elementor-element-populated {
        border-width: 0
    }

    .elementor-73 .elementor-element.elementor-element-7087ad3>.elementor-widget-container {
        padding: 0 0 2.3125rem
    }

    .elementor-73 .elementor-element.elementor-element-bf76f58>.elementor-widget-container {
        padding: 0 0 2.3125rem
    }

    .elementor-73 .elementor-element.elementor-element-d947b33>.elementor-widget-container {
        margin: 3.75rem 0 4rem
    }

    .elementor-73 .elementor-element.elementor-element-58a3f227 {
        padding: 0 1.25rem 4.6875rem
    }

    .elementor-73 .elementor-element.elementor-element-42bd2b6>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0%;
        --e-column-margin-left: 0%
    }

    .elementor-73 .elementor-element.elementor-element-72ee92fa>.elementor-widget-container {
        margin: 0;
        padding: 0 1.25rem 1.5625rem
    }

    .elementor-73 .elementor-element.elementor-element-e0bb068>.elementor-widget-container {
        margin: 0;
        padding: 0 1.25rem 1.5625rem
    }

    .elementor-73 .elementor-element.elementor-element-1678ab18 {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height)
    }

    .elementor-73 .elementor-element.elementor-element-1678ab18>.elementor-widget-container {
        margin: 0;
        padding: 0 1.25rem 2rem
    }
}

@media(max-width:1064px) and (min-width:768px) {
    .elementor-73 .elementor-element.elementor-element-79f13c {
        width: 100%
    }

    .elementor-73 .elementor-element.elementor-element-5a9083e5 {
        width: 100%
    }

    .elementor-73 .elementor-element.elementor-element-605bf079 {
        width: 100%
    }

    .elementor-73 .elementor-element.elementor-element-7c2634c0 {
        width: 100%
    }

    .elementor-73 .elementor-element.elementor-element-42bd2b6 {
        width: 100%
    }
}

.welcomekit-jobs-list {
    columns: 2
}

.welcomekit-jobs-list-item {
    margin: 0 0 30px;
    padding: 0 0 0 30px;
    background: #fff;
    border-radius: 8px
}

.welcomekit-jobs-list-item-link {
    position: relative;
    display: block;
    margin: 0;
    padding: 30px 5px;
    text-decoration: none;
    transition: all .2s
}

.welcomekit-jobs-list-item-link:after {
    position: absolute;
    top: 50%;
    right: 30px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    content: ' ';
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(45deg);
    transition: all .2s
}

.welcomekit-jobs-list-item-link:hover {
    background: #fff;
    border-bottom-color: #ddd;
    border-radius: 8px
}

.welcomekit-jobs-list-item-link:hover:after {
    right: 20px;
    border-top-color: #e99b17;
    border-right-color: #e99b17
}

.welcomekit-job-name {
    margin: 0 0 10px;
    padding: 0;
    font-weight: 500;
    font-size: 19px;
    line-height: 20px
}

.welcomekit-job-name:hover {
    color: #e99b17
}

.welcomekit-job-infos {
    margin: 0;
    padding: 0
}

.welcomekit-job-infos>li {
    position: relative;
    display: inline-block;
    margin: 0 34px 0 0;
    color: #000
}

.welcomekit-job-infos>li:before {
    position: absolute;
    top: 6px;
    left: -20px;
    content: ' ';
    display: block;
    height: 6px;
    width: 6px;
    background: #fff;
    border-radius: 50%
}

.welcomekit-job-infos>li:first-child:before {
    display: none
}

.welcomekit-job-infos>li.welcomekit-job-description {
    display: block;
    margin: 10px 0 0;
    padding: 10px 20px;
    border-left: 2px solid #eee
}

.welcomekit-job-infos>li.welcomekit-job-description p,
.welcomekit-job-infos>li.welcomekit-job-description ul {
    margin: 0;
    padding: 0 0 10px;
    color: #bbb
}

.welcomekit-job-infos>li.welcomekit-job-description ul li {
    border-left: 1px solid #eee;
    padding-left: 10px;
    margin-bottom: 10px
}

.welcomekit-job-infos>li.welcomekit-job-description pre {
    border-left: 1px solid #eee;
    padding-left: 10px;
    overflow: auto
}

.welcomekit-job-infos>li.welcomekit-job-description:before {
    display: none
}

.welcomekit-office-city,
.welcomekit-department-name {
    display: block;
    padding: 15px;
    background: #eee;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    font-weight: 500;
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase
}

.welcomekit-warning {
    display: block;
    padding: 50px 0;
    text-align: center
}

@media only screen and (max-width:1064px) {
    .welcomekit-jobs-list {
        columns: 1
    }
}

@media only screen and (max-width:767px) {
    .welcomekit-jobs-list {
        padding-inline-start: 0px
    }

    .welcomekit-job-name,
    .welcomekit-job-officeCity,
    .welcomekit-job-contractType {
        font-size: 1rem !important
    }
}