.elementor-5214 .elementor-element.elementor-element-75a75a9f>.elementor-container {
    max-width: 1172px
}

.elementor-5214 .elementor-element.elementor-element-75a75a9f>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: flex-start;
    align-items: flex-start
}

.elementor-5214 .elementor-element.elementor-element-75a75a9f {
    margin-bottom: 0;
    padding: 6.9375rem 0 3.75rem
}

.elementor-5214 .elementor-element.elementor-element-3129d64a>.elementor-widget-container {
    padding: 0 0 1.25rem
}

.elementor-5214 .elementor-element.elementor-element-7faaf0c7>.elementor-widget-container {
    padding: 0 0 2.5rem
}

.elementor-5214 .elementor-element.elementor-element-20c1f46f>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: flex-start;
    align-items: flex-start
}

.elementor-5214 .elementor-element.elementor-element-20c1f46f {
    padding: 0
}

.elementor-5214 .elementor-element.elementor-element-7c3a8553 .ae-acf-repeater-item {
    margin-bottom: 10px
}

.elementor-5214 .elementor-element.elementor-element-7c3a8553 .ae-widget-title-wrap {
    text-align: center
}

.elementor-5214 .elementor-element.elementor-element-7c3a8553 .ae-widget-title-inner {
    border-style: solid;
    border-width: 0 0 1px;
    padding: 0 10px 5px;
    margin: 0 0 10px
}

.elementor-5214 .elementor-element.elementor-element-7c3a8553 {
    width: auto;
    max-width: auto
}

.elementor-5214 .elementor-element.elementor-element-527bde26 img {
    width: 100%;
    max-width: 100%
}

.elementor-5214 .elementor-element.elementor-element-527bde26 {
    z-index: -1
}

.elementor-5214 .elementor-element.elementor-element-527bde26>.elementor-widget-container {
    --e-transform-translateX: 58%;
    --e-transform-translateY: 138px;
    --e-transform-scale: 2;
    --e-transform-flipX: -1
}

.elementor-5214 .elementor-element.elementor-element-2b43c88a>.elementor-container {
    max-width: 1172px
}

.elementor-5214 .elementor-element.elementor-element-2b43c88a {
    margin-top: -10%;
    margin-bottom: 0;
    z-index: 1
}

.elementor-5214 .elementor-element.elementor-element-2f386a0f img {
    width: 100%
}

.elementor-5214 .elementor-element.elementor-element-2f386a0f {
    width: initial;
    max-width: initial
}

.elementor-5214 .elementor-element.elementor-element-10074d55>.elementor-container {
    max-width: 1172px;
    min-height: 400px
}

.elementor-5214 .elementor-element.elementor-element-10074d55:not(.elementor-motion-effects-element-type-background),
.elementor-5214 .elementor-element.elementor-element-10074d55>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: black
}

.elementor-5214 .elementor-element.elementor-element-10074d55 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: -14rem;
    margin-bottom: 0;
    padding: 6rem 0 2rem;
    z-index: 0
}

.elementor-5214 .elementor-element.elementor-element-10074d55>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-5214 .elementor-element.elementor-element-3039fe41 .elementor-heading-title {
    color: var(--e-global-color-text);
    font-size: 7rem
}

.elementor-5214 .elementor-element.elementor-element-3039fe41 {
    width: 2300px;
    max-width: 2300px;
    top: 0
}

body:not(.rtl) .elementor-5214 .elementor-element.elementor-element-3039fe41 {
    left: -220%
}

body.rtl .elementor-5214 .elementor-element.elementor-element-3039fe41 {
    right: -220%
}

.elementor-5214 .elementor-element.elementor-element-26aeb6f4>.elementor-container {
    max-width: 1172px
}

.elementor-5214 .elementor-element.elementor-element-26aeb6f4:not(.elementor-motion-effects-element-type-background),
.elementor-5214 .elementor-element.elementor-element-26aeb6f4>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: black;
}

.elementor-5214 .elementor-element.elementor-element-26aeb6f4 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-5214 .elementor-element.elementor-element-26aeb6f4>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-5214 .elementor-element.elementor-element-5b20fd39 .ae-acf-repeater-item {
    width: calc(100%/1);
    margin-bottom: 0
}

.elementor-5214 .elementor-element.elementor-element-5b20fd39.ae-acf-repeater-layout-grid .ae-acf-repeater-item {
    padding-left: 0;
    padding-right: 0
}

.elementor-5214 .elementor-element.elementor-element-5b20fd39 .ae-widget-title-wrap {
    text-align: center
}

.elementor-5214 .elementor-element.elementor-element-5b20fd39 .ae-widget-title-inner {
    border-style: solid;
    border-width: 0 0 1px;
    padding: 0 10px 5px;
    margin: 0 0 10px
}

.elementor-5214 .elementor-element.elementor-element-a03e5ab:not(.elementor-motion-effects-element-type-background),
.elementor-5214 .elementor-element.elementor-element-a03e5ab>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary)
}

.elementor-5214 .elementor-element.elementor-element-a03e5ab {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 0 0 5rem
}

.elementor-5214 .elementor-element.elementor-element-a03e5ab>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-5214 .elementor-element.elementor-element-2d69a539 {
    --spacer-size: 215px
}



.elementor-5214 .elementor-element.elementor-element-2687ded5>.elementor-container {
    max-width: 1172px
}

.elementor-5214 .elementor-element.elementor-element-2687ded5:not(.elementor-motion-effects-element-type-background),
.elementor-5214 .elementor-element.elementor-element-2687ded5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary)
}

.elementor-5214 .elementor-element.elementor-element-2687ded5 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 0 30%
}

.elementor-5214 .elementor-element.elementor-element-2687ded5>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-5214 .elementor-element.elementor-element-16033034 {
    text-align: center
}

.elementor-5214 .elementor-element.elementor-element-16033034>.elementor-widget-container {
    padding: 0 0 2.5rem
}

.elementor-5214 .elementor-element.elementor-element-3af7bc27 {
    text-align: center
}

.elementor-5214 .elementor-element.elementor-element-3af7bc27 .elementor-heading-title {
    color: var(--e-global-color-text)
}

.elementor-5214 .elementor-element.elementor-element-3af7bc27>.elementor-widget-container {
    padding: 0 0 2.5rem
}

.elementor-5214 .elementor-element.elementor-element-6e8b9864>.elementor-widget-container {
    margin: 0;
    padding: 0 0 2.5rem
}

.elementor-5214 .elementor-element.elementor-element-575e262e .elementor-button {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    background-color: var(--e-global-color-secondary)
}

.elementor-5214 .elementor-element.elementor-element-575e262e .elementor-button:hover,
.elementor-5214 .elementor-element.elementor-element-575e262e .elementor-button:focus {
    color: var(--e-global-color-primary);
    background-color: var(--e-global-color-text)
}

.elementor-5214 .elementor-element.elementor-element-575e262e .elementor-button:hover svg,
.elementor-5214 .elementor-element.elementor-element-575e262e .elementor-button:focus svg {
    fill: var(--e-global-color-primary)
}

.elementor-5214 .elementor-element.elementor-element-575e262e>.elementor-widget-container {
    padding: 0 0 5rem
}

@media(min-width:768px) {
    .elementor-5214 .elementor-element.elementor-element-28b49a4b {
        width: 100%
    }

    .elementor-5214 .elementor-element.elementor-element-22452d29 {
        width: 100%
    }
}

@media(max-width:1064px) {
    .elementor-5214 .elementor-element.elementor-element-75a75a9f {
        padding: 5rem 1.25rem 2rem
    }

    .elementor-5214 .elementor-element.elementor-element-20c1f46f {
        padding: 0 0 2rem
    }

    .elementor-5214 .elementor-element.elementor-element-7c3a8553 .ae-acf-repeater-item {
        width: calc(100%/3)
    }

    .elementor-5214 .elementor-element.elementor-element-2b43c88a {
        margin-top: -5%;
        margin-bottom: 0;
        padding: 0 1.25rem
    }

    .elementor-5214 .elementor-element.elementor-element-2f386a0f>.elementor-widget-container {
        --e-transform-translateX: 0%
    }

    .elementor-5214 .elementor-element.elementor-element-10074d55 {
        margin-top: -20%;
        margin-bottom: 0;
        padding: 3rem 0 0
    }

    .elementor-5214 .elementor-element.elementor-element-3039fe41 .elementor-heading-title {
        font-size: 7rem
    }

    .elementor-5214 .elementor-element.elementor-element-5b20fd39 .ae-acf-repeater-item {
        width: calc(100%/1)
    }

    .elementor-5214 .elementor-element.elementor-element-2687ded5 {
        padding: 0 20%
    }

    .elementor-5214 .elementor-element.elementor-element-788abd06>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-5214 .elementor-element.elementor-element-6e8b9864 {
        text-align: center
    }
}

@media(max-width:767px) {
    .elementor-5214 .elementor-element.elementor-element-75a75a9f {
        padding: 3.125rem 1.25rem 0
    }

    .elementor-5214 .elementor-element.elementor-element-400221b6>.elementor-element-populated {
        padding: 0 0 2.375rem
    }

    .elementor-5214 .elementor-element.elementor-element-7c3a8553 .ae-acf-repeater-item {
        width: calc(100%/1)
    }

    .elementor-5214 .elementor-element.elementor-element-2b43c88a {
        padding: 6rem 1.25rem 0
    }

    .elementor-5214 .elementor-element.elementor-element-2f386a0f img {
        width: 100vw;
        max-width: 100%
    }

    .elementor-5214 .elementor-element.elementor-element-2f386a0f>.elementor-widget-container {
        --e-transform-translateY: -44%
    }

    .elementor-5214 .elementor-element.elementor-element-10074d55>.elementor-container {
        min-height: 27vh
    }

    .elementor-5214 .elementor-element.elementor-element-10074d55 {
        margin-top: -10rem;
        margin-bottom: 0;
        padding: 0
    }

    .elementor-5214 .elementor-element.elementor-element-3039fe41 .elementor-heading-title {
        font-size: 3.375rem
    }

    .elementor-5214 .elementor-element.elementor-element-26aeb6f4 {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 0 4rem
    }

    .elementor-5214 .elementor-element.elementor-element-5b20fd39 .ae-acf-repeater-item {
        width: calc(100%/1)
    }

    .elementor-5214 .elementor-element.elementor-element-2687ded5 {
        padding: 0 1.25rem 4rem
    }

    .elementor-5214 .elementor-element.elementor-element-3af7bc27 {
        text-align: center
    }

    .elementor-5214 .elementor-element.elementor-element-6e8b9864 {
        width: 100%;
        max-width: 100%
    }
}

@media(max-width:1064px) and (min-width:768px) {
    .elementor-5214 .elementor-element.elementor-element-400221b6 {
        width: 100%
    }

    .elementor-5214 .elementor-element.elementor-element-788abd06 {
        width: 100%
    }
}