.elementor-127 .elementor-element.elementor-element-92c7c6e>.elementor-container {
    max-width: 1172px
}

.elementor-127 .elementor-element.elementor-element-92c7c6e>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-127 .elementor-element.elementor-element-92c7c6e:not(.elementor-motion-effects-element-type-background),
.elementor-127 .elementor-element.elementor-element-92c7c6e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #fafafa
}

.elementor-127 .elementor-element.elementor-element-92c7c6e {
    border-style: solid;
    border-width: 0 0 1px;
    border-color: #8F92953B;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-127 .elementor-element.elementor-element-92c7c6e,
.elementor-127 .elementor-element.elementor-element-92c7c6e>.elementor-background-overlay {
    border-radius: 0
}

.elementor-127 .elementor-element.elementor-element-92c7c6e>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-127 .elementor-element.elementor-element-550c103 .hfe-site-logo-container,
.elementor-127 .elementor-element.elementor-element-550c103 .hfe-caption-width figcaption {
    text-align: left
}

.elementor-127 .elementor-element.elementor-element-550c103 .hfe-site-logo-container .hfe-site-logo-img {
    border-style: none
}

.elementor-127 .elementor-element.elementor-element-550c103 .widget-image-caption {
    margin-top: 0;
    margin-bottom: 0
}

.elementor-127 .elementor-element.elementor-element-550c103 {
    width: 149.989px;
    max-width: 149.989px;
    top: 0
}

body:not(.rtl) .elementor-127 .elementor-element.elementor-element-550c103 {
    left: 0
}

body.rtl .elementor-127 .elementor-element.elementor-element-550c103 {
    right: 0
}

.elementor-127 .elementor-element.elementor-element-e935e7c>.elementor-element-populated {
    margin: 0 20px 0 0;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 0px
}

.elementor-127 .elementor-element.elementor-element-1e6965e .hfe-nav-menu__toggle {
    margin-left: auto
}

.elementor-127 .elementor-element.elementor-element-1e6965e .menu-item a.hfe-menu-item,
.elementor-127 .elementor-element.elementor-element-1e6965e .menu-item a.hfe-sub-menu-item {
    padding-top: 28px;
    padding-bottom: 28px
}

body:not(.rtl) .elementor-127 .elementor-element.elementor-element-1e6965e .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-right: 32px
}

body.rtl .elementor-127 .elementor-element.elementor-element-1e6965e .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-left: 32px
}

.elementor-127 .elementor-element.elementor-element-1e6965e nav:not(.hfe-nav-menu__layout-horizontal) .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-bottom: 32px
}

.elementor-127 .elementor-element.elementor-element-1e6965e a.hfe-menu-item,
.elementor-127 .elementor-element.elementor-element-1e6965e a.hfe-sub-menu-item {
    font-family: "Inter", Sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px
}

.elementor-127 .elementor-element.elementor-element-1e6965e .menu-item a.hfe-menu-item,
.elementor-127 .elementor-element.elementor-element-1e6965e .sub-menu a.hfe-sub-menu-item {
    color: var(--e-global-color-primary)
}

/* .elementor-127 .elementor-element.elementor-element-1e6965e .menu-item a.hfe-menu-item:hover,
.elementor-127 .elementor-element.elementor-element-1e6965e .sub-menu a.hfe-sub-menu-item:hover,
.elementor-127 .elementor-element.elementor-element-1e6965e .menu-item.current-menu-item a.hfe-menu-item,
.elementor-127 .elementor-element.elementor-element-1e6965e .menu-item a.hfe-menu-item.highlighted,
.elementor-127 .elementor-element.elementor-element-1e6965e .menu-item a.hfe-menu-item:focus {
    color: var(--e-global-color-secondary)
} */

.elementor-127 .elementor-element.elementor-element-1e6965e .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent a.hfe-menu-item:before,
.elementor-127 .elementor-element.elementor-element-1e6965e .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent a.hfe-menu-item:after {
    background-color: var(--e-global-color-secondary)
}

.elementor-127 .elementor-element.elementor-element-1e6965e .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent .sub-menu .hfe-has-submenu-container a:after {
    background-color: var(--e-global-color-secondary)
}

.elementor-127 .elementor-element.elementor-element-1e6965e .hfe-pointer__framed .menu-item.parent a.hfe-menu-item:before,
.elementor-127 .elementor-element.elementor-element-1e6965e .hfe-pointer__framed .menu-item.parent a.hfe-menu-item:after {
    border-color: var(--e-global-color-secondary)
}

.elementor-127 .elementor-element.elementor-element-1e6965e .menu-item.current-menu-item a.hfe-menu-item,
.elementor-127 .elementor-element.elementor-element-1e6965e .menu-item.current-menu-ancestor a.hfe-menu-item {
    color: var(--e-global-color-secondary)
}

.elementor-127 .elementor-element.elementor-element-1e6965e .sub-menu,
.elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown,
.elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown-expandible,
.elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown .menu-item a.hfe-menu-item,
.elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
    background-color: #fff
}



.elementor-127 .elementor-element.elementor-element-1e6965e .sub-menu {
    border-radius: 8px
}

.elementor-127 .elementor-element.elementor-element-1e6965e .sub-menu li.menu-item:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden
}

.elementor-127 .elementor-element.elementor-element-1e6965e .sub-menu li.menu-item:last-child {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    overflow: hidden
}

.elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown {
    border-radius: 8px
}

.elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown li.menu-item:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden
}

.elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown li.menu-item:last-child {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    overflow: hidden
}

.elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown-expandible {
    border-radius: 8px
}

.elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown-expandible li.menu-item:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden
}

.elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown-expandible li.menu-item:last-child {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    overflow: hidden
}

.elementor-127 .elementor-element.elementor-element-1e6965e .hfe-nav-menu .sub-menu,
.elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown,
.elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown-expandible {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, .2)
}

.elementor-127 .elementor-element.elementor-element-1e6965e ul.sub-menu {
    width: 300px
}

.elementor-127 .elementor-element.elementor-element-1e6965e .sub-menu li a.hfe-sub-menu-item,
.elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown li a.hfe-menu-item,
.elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown-expandible li a.hfe-menu-item {
    padding-left: 32px;
    padding-right: 32px
}

.elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown-expandible a.hfe-sub-menu-item,
.elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown li a.hfe-sub-menu-item {
    padding-left: calc(32px + 20px);
    padding-right: 32px
}

.elementor-127 .elementor-element.elementor-element-1e6965e .hfe-dropdown .menu-item ul ul a.hfe-sub-menu-item,
.elementor-127 .elementor-element.elementor-element-1e6965e .hfe-dropdown-expandible .menu-item ul ul a.hfe-sub-menu-item {
    padding-left: calc(32px + 40px);
    padding-right: 32px
}

.elementor-127 .elementor-element.elementor-element-1e6965e .hfe-dropdown .menu-item ul ul ul a.hfe-sub-menu-item,
.elementor-127 .elementor-element.elementor-element-1e6965e .hfe-dropdown-expandible .menu-item ul ul ul a.hfe-sub-menu-item {
    padding-left: calc(32px + 60px);
    padding-right: 32px
}

.elementor-127 .elementor-element.elementor-element-1e6965e .hfe-dropdown .menu-item ul ul ul ul a.hfe-sub-menu-item,
.elementor-127 .elementor-element.elementor-element-1e6965e .hfe-dropdown-expandible .menu-item ul ul ul ul a.hfe-sub-menu-item {
    padding-left: calc(32px + 80px);
    padding-right: 32px
}

.elementor-127 .elementor-element.elementor-element-1e6965e .sub-menu a.hfe-sub-menu-item,
.elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown li a.hfe-menu-item,
.elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    padding-top: 10px;
    padding-bottom: 10px
}

.elementor-127 .elementor-element.elementor-element-1e6965e .sub-menu li.menu-item:not(:last-child),
.elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
    border-bottom-style: none
}

.elementor-127 .elementor-element.elementor-element-1e6965e div.hfe-nav-menu-icon {
    color: var(--e-global-color-primary)
}

.elementor-127 .elementor-element.elementor-element-1e6965e div.hfe-nav-menu-icon svg {
    fill: var(--e-global-color-primary)
}

.elementor-127 .elementor-element.elementor-element-1e6965e div.hfe-nav-menu-icon:hover {
    color: var(--e-global-color-primary)
}

.elementor-127 .elementor-element.elementor-element-1e6965e div.hfe-nav-menu-icon:hover svg {
    fill: var(--e-global-color-primary)
}

.elementor-127 .elementor-element.elementor-element-1e6965e>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-127 .elementor-element.elementor-element-f9893f8>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-127 .elementor-element.elementor-element-1b31f65 .elementor-button .elementor-align-icon-right {
    margin-left: 16px
}

.elementor-127 .elementor-element.elementor-element-1b31f65 .elementor-button .elementor-align-icon-left {
    margin-right: 16px
}

.elementor-127 .elementor-element.elementor-element-1b31f65 .elementor-button:hover,
.elementor-127 .elementor-element.elementor-element-1b31f65 .elementor-button:focus {
    color: var(--e-global-color-text);
    background-color: var(--e-global-color-secondary)
}

.elementor-127 .elementor-element.elementor-element-1b31f65 .elementor-button:hover svg,
.elementor-127 .elementor-element.elementor-element-1b31f65 .elementor-button:focus svg {
    fill: var(--e-global-color-text)
}

@media(min-width:768px) {
    .elementor-127 .elementor-element.elementor-element-9e00ba4 {
        width: 16.894%
    }

    .elementor-127 .elementor-element.elementor-element-e935e7c {
        width: 62.771%
    }

    .elementor-127 .elementor-element.elementor-element-f9893f8 {
        width: 19.638%
    }
}

@media(max-width:1064px) and (min-width:768px) {
    .elementor-127 .elementor-element.elementor-element-e935e7c {
        width: 78%
    }
}

@media(max-width:1064px) {
    .elementor-127 .elementor-element.elementor-element-92c7c6e {
        padding: 0 20px
    }

    .elementor-127 .elementor-element.elementor-element-9e00ba4>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-127 .elementor-element.elementor-element-550c103 .hfe-site-logo .hfe-site-logo-container img {
        width: 94px
    }

    body:not(.rtl) .elementor-127 .elementor-element.elementor-element-550c103 {
        left: 0
    }

    body.rtl .elementor-127 .elementor-element.elementor-element-550c103 {
        right: 0
    }

    .elementor-127 .elementor-element.elementor-element-550c103 {
        top: -1px
    }

    .elementor-bc-flex-widget .elementor-127 .elementor-element.elementor-element-e935e7c.elementor-column .elementor-widget-wrap {
        align-items: center
    }

    .elementor-127 .elementor-element.elementor-element-e935e7c.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center
    }

    .elementor-127 .elementor-element.elementor-element-e935e7c.elementor-column>.elementor-widget-wrap {
        justify-content: flex-end
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e .menu-item a.hfe-menu-item {
        padding-left: 15px;
        padding-right: 15px
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e .menu-item a.hfe-sub-menu-item {
        padding-left: calc(15px + 20px);
        padding-right: 15px
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
        padding-left: calc(15px + 40px);
        padding-right: 15px
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
        padding-left: calc(15px + 60px);
        padding-right: 15px
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
        padding-left: calc(15px + 80px);
        padding-right: 15px
    }

    body:not(.rtl) .elementor-127 .elementor-element.elementor-element-1e6965e.hfe-nav-menu__breakpoint-tablet .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-right: 0
    }

    body .elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-bottom: 0
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e .sub-menu {
        border-radius: 0
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e .sub-menu li.menu-item:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        overflow: hidden
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e .sub-menu li.menu-item:last-child {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        overflow: hidden
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown {
        border-radius: 0
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown li.menu-item:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        overflow: hidden
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown li.menu-item:last-child {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        overflow: hidden
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown-expandible {
        border-radius: 0
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown-expandible li.menu-item:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        overflow: hidden
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown-expandible li.menu-item:last-child {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        overflow: hidden
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e ul.sub-menu {
        width: 120px
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e .sub-menu li a.hfe-sub-menu-item,
    .elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown li a.hfe-menu-item,
    .elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown-expandible li a.hfe-menu-item {
        padding-left: 100px;
        padding-right: 100px
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown-expandible a.hfe-sub-menu-item,
    .elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown li a.hfe-sub-menu-item {
        padding-left: calc(100px + 20px);
        padding-right: 100px
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e .hfe-dropdown .menu-item ul ul a.hfe-sub-menu-item,
    .elementor-127 .elementor-element.elementor-element-1e6965e .hfe-dropdown-expandible .menu-item ul ul a.hfe-sub-menu-item {
        padding-left: calc(100px + 40px);
        padding-right: 100px
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e .hfe-dropdown .menu-item ul ul ul a.hfe-sub-menu-item,
    .elementor-127 .elementor-element.elementor-element-1e6965e .hfe-dropdown-expandible .menu-item ul ul ul a.hfe-sub-menu-item {
        padding-left: calc(100px + 60px);
        padding-right: 100px
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e .hfe-dropdown .menu-item ul ul ul ul a.hfe-sub-menu-item,
    .elementor-127 .elementor-element.elementor-element-1e6965e .hfe-dropdown-expandible .menu-item ul ul ul ul a.hfe-sub-menu-item {
        padding-left: calc(100px + 80px);
        padding-right: 100px
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e .sub-menu a.hfe-sub-menu-item,
    .elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown li a.hfe-menu-item,
    .elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown li a.hfe-sub-menu-item,
    .elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown-expandible li a.hfe-menu-item,
    .elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
        padding-top: 20px;
        padding-bottom: 20px
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e .hfe-nav-menu-icon {
        font-size: 25px
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e .hfe-nav-menu-icon svg {
        font-size: 25px;
        line-height: 25px;
        height: 25px;
        width: 25px
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e>.elementor-widget-container {
        margin: 0;
        padding: 23px 0
    }

    .elementor-127 .elementor-element.elementor-element-f9893f8>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
}

@media(max-width:767px) {
    .elementor-127 .elementor-element.elementor-element-9e00ba4 {
        width: 33%
    }

    body:not(.rtl) .elementor-127 .elementor-element.elementor-element-1e6965e.hfe-nav-menu__breakpoint-mobile .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-right: 0
    }

    body .elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-bottom: 0
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e .sub-menu li a.hfe-sub-menu-item,
    .elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown li a.hfe-sub-menu-item,
    .elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown li a.hfe-menu-item,
    .elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown-expandible li a.hfe-menu-item,
    .elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
        font-size: 21px
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e .sub-menu {
        border-radius: 0
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e .sub-menu li.menu-item:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        overflow: hidden
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e .sub-menu li.menu-item:last-child {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        overflow: hidden
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown {
        border-radius: 0
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown li.menu-item:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        overflow: hidden
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown li.menu-item:last-child {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        overflow: hidden
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown-expandible {
        border-radius: 0
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown-expandible li.menu-item:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        overflow: hidden
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown-expandible li.menu-item:last-child {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        overflow: hidden
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e .sub-menu li a.hfe-sub-menu-item,
    .elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown li a.hfe-menu-item,
    .elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown-expandible li a.hfe-menu-item {
        padding-left: 20px;
        padding-right: 20px
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown-expandible a.hfe-sub-menu-item,
    .elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-dropdown li a.hfe-sub-menu-item {
        padding-left: calc(20px + 20px);
        padding-right: 20px
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e .hfe-dropdown .menu-item ul ul a.hfe-sub-menu-item,
    .elementor-127 .elementor-element.elementor-element-1e6965e .hfe-dropdown-expandible .menu-item ul ul a.hfe-sub-menu-item {
        padding-left: calc(20px + 40px);
        padding-right: 20px
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e .hfe-dropdown .menu-item ul ul ul a.hfe-sub-menu-item,
    .elementor-127 .elementor-element.elementor-element-1e6965e .hfe-dropdown-expandible .menu-item ul ul ul a.hfe-sub-menu-item {
        padding-left: calc(20px + 60px);
        padding-right: 20px
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e .hfe-dropdown .menu-item ul ul ul ul a.hfe-sub-menu-item,
    .elementor-127 .elementor-element.elementor-element-1e6965e .hfe-dropdown-expandible .menu-item ul ul ul ul a.hfe-sub-menu-item {
        padding-left: calc(20px + 80px);
        padding-right: 20px
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-nav-menu__layout-horizontal:not(.hfe-dropdown) ul.sub-menu,
    .elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-nav-menu__layout-expandible.menu-is-active,
    .elementor-127 .elementor-element.elementor-element-1e6965e nav.hfe-nav-menu__layout-vertical:not(.hfe-dropdown) ul.sub-menu {
        margin-top: 0
    }

    .elementor-127 .elementor-element.elementor-element-1e6965e .hfe-dropdown.menu-is-active {
        margin-top: 0
    }
}
