.elementor-7230 .elementor-element.elementor-element-24d79048>.elementor-container {
    max-width: 1172px
}

.elementor-7230 .elementor-element.elementor-element-24d79048>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: flex-end;
    align-items: flex-end
}

.elementor-7230 .elementor-element.elementor-element-24d79048 {
    margin-top: 49px;
    margin-bottom: 30px
}

.elementor-7230 .elementor-element.elementor-element-229138f1>.elementor-element-populated {
    padding: 0 60px 0 0
}

.elementor-7230 .elementor-element.elementor-element-3dfbbae .elementor-heading-title {
    color: var(--e-global-color-secondary)
}

.elementor-7230 .elementor-element.elementor-element-3dfbbae>.elementor-widget-container {
    padding: 0 0 20px
}

.elementor-7230 .elementor-element.elementor-element-5c92fdb .elementor-heading-title {
    color: var(--e-global-color-primary)
}

.elementor-7230 .elementor-element.elementor-element-5c92fdb>.elementor-widget-container {
    padding: 0 0 40px
}

.elementor-7230 .elementor-element.elementor-element-06adfcc .elementor-button .elementor-align-icon-right {
    margin-left: 16px
}

.elementor-7230 .elementor-element.elementor-element-06adfcc .elementor-button .elementor-align-icon-left {
    margin-right: 16px
}

.elementor-7230 .elementor-element.elementor-element-06adfcc .elementor-button {
    fill: var(--e-global-color-text);
    color: var(--e-global-color-text);
    background-color: var(--e-global-color-primary)
}

.elementor-7230 .elementor-element.elementor-element-06adfcc .elementor-button:hover,
.elementor-7230 .elementor-element.elementor-element-06adfcc .elementor-button:focus {
    color: var(--e-global-color-text);
    background-color: var(--e-global-color-secondary)
}

.elementor-7230 .elementor-element.elementor-element-06adfcc .elementor-button:hover svg,
.elementor-7230 .elementor-element.elementor-element-06adfcc .elementor-button:focus svg {
    fill: var(--e-global-color-text)
}

.elementor-7230 .elementor-element.elementor-element-06adfcc a.elementor-button:hover .elementor-button-icon i {
    color: var(--e-global-color-text)
}

.elementor-7230 .elementor-element.elementor-element-06adfcc>.elementor-widget-container {
    padding: 0 18px 0 0
}

.elementor-7230 .elementor-element.elementor-element-4104dd20 {
    text-align: right
}

.elementor-7230 .elementor-element.elementor-element-12911709>.elementor-container {
    max-width: 1172px
}

.elementor-7230 .elementor-element.elementor-element-12911709>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-7230 .elementor-element.elementor-element-12911709 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 5rem 0 0
}

.elementor-7230 .elementor-element.elementor-element-56c685b5>.elementor-element-populated {
    padding: 0 60px 0 0
}

.elementor-7230 .elementor-element.elementor-element-ce96803 .elementor-heading-title {
    color: var(--e-global-color-primary)
}

.elementor-7230 .elementor-element.elementor-element-ce96803>.elementor-widget-container {
    padding: 0 0 40px
}

.elementor-7230 .elementor-element.elementor-element-599aeefd {
    text-align: left;
    color: var(--e-global-color-primary)
}

.elementor-7230 .elementor-element.elementor-element-599aeefd>.elementor-widget-container {
    padding: 0
}

.elementor-7230 .elementor-element.elementor-element-1bf85428 {
    text-align: right
}

.elementor-7230 .elementor-element.elementor-element-4974415a>.elementor-container {
    max-width: 1172px
}

.elementor-7230 .elementor-element.elementor-element-4974415a,
.elementor-7230 .elementor-element.elementor-element-4974415a>.elementor-background-overlay {
    border-radius: 0
}

.elementor-7230 .elementor-element.elementor-element-4974415a {
    margin-top: 0;
    margin-bottom: 4rem;
    padding: 5rem 0 0
}

.elementor-7230 .elementor-element.elementor-element-7891007>.elementor-element-populated,
.elementor-7230 .elementor-element.elementor-element-7891007>.elementor-element-populated>.elementor-background-overlay,
.elementor-7230 .elementor-element.elementor-element-7891007>.elementor-background-slideshow {
    border-radius: 0
}

.elementor-7230 .elementor-element.elementor-element-5e286f72 .ae-accordion-item .ae-tab-title {
    border-style: solid;
    border-width: 0 0 1px;
    border-color: #8F929534
}

.elementor-7230 .elementor-element.elementor-element-5e286f72 .ae-accordion .ae-tab-title {
    background-color: var(--e-global-color-text);
    color: var(--e-global-color-primary);
    font-family: "Inter", Sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.9em;
    padding: .5em 0
}

.elementor-7230 .elementor-element.elementor-element-5e286f72 .ae-accordion .ae-tab-title.ae-active {
    background-color: var(--e-global-color-text);
    color: var(--e-global-color-secondary)
}

.elementor-7230 .elementor-element.elementor-element-5e286f72 .ae-tab-title {
    text-align: left
}

.elementor-7230 .elementor-element.elementor-element-5e286f72 .ae-accordion .ae-tab-title .ae-accordion-icon i:before {
    color: var(--e-global-color-accent)
}

.elementor-7230 .elementor-element.elementor-element-5e286f72 .ae-accordion .ae-tab-title .ae-accordion-icon svg {
    fill: var(--e-global-color-accent)
}

.elementor-7230 .elementor-element.elementor-element-5e286f72 .ae-accordion .ae-accordion-icon.ae-accordion-icon-left {
    margin-right: 0
}

.elementor-7230 .elementor-element.elementor-element-5e286f72 .ae-accordion .ae-accordion-icon.ae-accordion-icon-right {
    margin-left: 0
}

.elementor-7230 .elementor-element.elementor-element-5e286f72 .ae-accordion .ae-tab-content {
    background-color: var(--e-global-color-text);
    padding: 0 0 1em
}

.elementor-7230 .elementor-element.elementor-element-5e286f72 .ae-tab-content {
    border-style: solid;
    border-width: 0
}

.elementor-7230 .elementor-element.elementor-element-5e286f72 .ae-widget-title-wrap {
    text-align: center
}

.elementor-7230 .elementor-element.elementor-element-5e286f72 .ae-widget-title {
    color: var(--e-global-color-primary)
}

.elementor-7230 .elementor-element.elementor-element-5e286f72 .ae-widget-title-inner {
    border-style: solid;
    border-width: 0 0 1px;
    border-color: var(--e-global-color-primary);
    padding: 0 10px 5px;
    margin: 0 0 10px
}

.elementor-7230 .elementor-element.elementor-element-5e286f72>.elementor-widget-container {
    margin: 0;
    padding: 1rem 2rem 2rem;
    background-color: var(--e-global-color-text);
    border-radius: 8px
}

.elementor-7230 .elementor-element.elementor-element-647e5c23>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-7230 .elementor-element.elementor-element-647e5c23:not(.elementor-motion-effects-element-type-background),
.elementor-7230 .elementor-element.elementor-element-647e5c23>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary)
}

.elementor-7230 .elementor-element.elementor-element-647e5c23 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 100px 0 0
}

.elementor-7230 .elementor-element.elementor-element-647e5c23>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-7230 .elementor-element.elementor-element-539f46ce>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-7230 .elementor-element.elementor-element-3ea1aa34>.elementor-container {
    max-width: 1172px
}

.elementor-7230 .elementor-element.elementor-element-3ea1aa34>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-7230 .elementor-element.elementor-element-7b25d73a>.elementor-element-populated {
    padding: 0 80px 0 0
}

.elementor-7230 .elementor-element.elementor-element-1e0bdc0e .elementor-heading-title {
    color: var(--e-global-color-text)
}

.elementor-7230 .elementor-element.elementor-element-1e0bdc0e>.elementor-widget-container {
    padding: 0 0 30px
}

.elementor-7230 .elementor-element.elementor-element-a754f1e {
    color: var(--e-global-color-text)
}

.elementor-7230 .elementor-element.elementor-element-1cb55a18 {
    margin-top: 70px;
    margin-bottom: 35px
}

.elementor-7230 .elementor-element.elementor-element-6a282957 .elementor-button {
    fill: #135cfd;
    color: #135cfd;
    background-color: var(--e-global-color-primary);
    border-style: solid;
    border-width: 1px;
    border-color: var(--e-global-color-accent);
    border-radius: 12px
}

.elementor-7230 .elementor-element.elementor-element-6a282957 .elementor-button:hover,
.elementor-7230 .elementor-element.elementor-element-6a282957 .elementor-button:focus {
    color: #135cfd;
    background-color: var(--e-global-color-primary)
}

.elementor-7230 .elementor-element.elementor-element-6a282957 .elementor-button:hover svg,
.elementor-7230 .elementor-element.elementor-element-6a282957 .elementor-button:focus svg {
    fill: #135cfd
}

.elementor-7230 .elementor-element.elementor-element-6a282957 a.elementor-button:hover .elementor-button-icon i {
    color: #135cfd !important
}

.elementor-7230 .elementor-element.elementor-element-6a282957>.elementor-widget-container {
    padding: 0 1.25rem 1.25rem 0
}

.elementor-7230 .elementor-element.elementor-element-6a282957 {
    width: auto;
    max-width: auto
}

.elementor-7230 .elementor-element.elementor-element-215ec25 .elementor-button {
    fill: var(--e-global-color-secondary);
    color: var(--e-global-color-secondary);
    background-color: var(--e-global-color-primary);
    border-style: solid;
    border-width: 1px;
    border-color: var(--e-global-color-accent);
    border-radius: 12px
}

.elementor-7230 .elementor-element.elementor-element-215ec25 .elementor-button:hover,
.elementor-7230 .elementor-element.elementor-element-215ec25 .elementor-button:focus {
    color: var(--e-global-color-secondary);
    background-color: var(--e-global-color-primary)
}

.elementor-7230 .elementor-element.elementor-element-215ec25 .elementor-button:hover svg,
.elementor-7230 .elementor-element.elementor-element-215ec25 .elementor-button:focus svg {
    fill: var(--e-global-color-secondary)
}

.elementor-7230 .elementor-element.elementor-element-215ec25 a.elementor-button:hover .elementor-button-icon i {
    color: var(--e-global-color-secondary)
}

.elementor-7230 .elementor-element.elementor-element-215ec25>.elementor-widget-container {
    padding: 0 1.25rem 1.25rem 0
}

.elementor-7230 .elementor-element.elementor-element-215ec25 {
    width: auto;
    max-width: auto
}

.elementor-7230 .elementor-element.elementor-element-1e8ebe1 .elementor-button {
    fill: var(--e-global-color-text);
    color: var(--e-global-color-text);
    background-color: var(--e-global-color-primary);
    border-style: solid;
    border-width: 1px;
    border-color: var(--e-global-color-accent);
    border-radius: 12px
}

.elementor-7230 .elementor-element.elementor-element-1e8ebe1 .elementor-button:hover,
.elementor-7230 .elementor-element.elementor-element-1e8ebe1 .elementor-button:focus {
    color: var(--e-global-color-text);
    background-color: var(--e-global-color-primary)
}

.elementor-7230 .elementor-element.elementor-element-1e8ebe1 .elementor-button:hover svg,
.elementor-7230 .elementor-element.elementor-element-1e8ebe1 .elementor-button:focus svg {
    fill: var(--e-global-color-text)
}

.elementor-7230 .elementor-element.elementor-element-1e8ebe1 a.elementor-button:hover .elementor-button-icon i {
    color: var(--e-global-color-text)
}

.elementor-7230 .elementor-element.elementor-element-1e8ebe1>.elementor-widget-container {
    padding: 0 1.25rem 1.25rem 0
}

.elementor-7230 .elementor-element.elementor-element-1e8ebe1 {
    width: auto;
    max-width: auto
}

.elementor-7230 .elementor-element.elementor-element-7bda6bd3 .elementor-button {
    fill: #3cedb7;
    color: #3cedb7;
    background-color: var(--e-global-color-primary);
    border-style: solid;
    border-width: 1px;
    border-color: var(--e-global-color-accent);
    border-radius: 12px
}

.elementor-7230 .elementor-element.elementor-element-7bda6bd3 .elementor-button:hover,
.elementor-7230 .elementor-element.elementor-element-7bda6bd3 .elementor-button:focus {
    color: #3cedb7;
    background-color: var(--e-global-color-primary)
}

.elementor-7230 .elementor-element.elementor-element-7bda6bd3 .elementor-button:hover svg,
.elementor-7230 .elementor-element.elementor-element-7bda6bd3 .elementor-button:focus svg {
    fill: #3cedb7
}

.elementor-7230 .elementor-element.elementor-element-7bda6bd3 a.elementor-button:hover .elementor-button-icon i {
    color: #3cedb7 !important
}

.elementor-7230 .elementor-element.elementor-element-7bda6bd3>.elementor-widget-container {
    padding: 0 0 1.25rem
}

.elementor-7230 .elementor-element.elementor-element-7bda6bd3 {
    width: auto;
    max-width: auto
}

.elementor-7230 .elementor-element.elementor-element-27fe4cf5:not(.elementor-motion-effects-element-type-background),
.elementor-7230 .elementor-element.elementor-element-27fe4cf5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary)
}

.elementor-7230 .elementor-element.elementor-element-27fe4cf5 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 5rem
}

.elementor-7230 .elementor-element.elementor-element-27fe4cf5>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-7230 .elementor-element.elementor-element-1f98ce95 {
    --spacer-size: 215px
}

.elementor-7230 .elementor-element.elementor-element-1f98ce95>.elementor-widget-container {
    margin: 120px 0 80px;
    padding: 0;
    background-image: url("https://bti-advisory.com/wp-content/uploads/2022/01/Pattern-2.png")
}

.elementor-7230 .elementor-element.elementor-element-13ff4bfd {
    text-align: center
}

.elementor-7230 .elementor-element.elementor-element-13ff4bfd>.elementor-widget-container {
    margin: 0 30%;
    padding: 0 0 2.5rem
}

.elementor-7230 .elementor-element.elementor-element-1abc2a8c {
    text-align: center
}

.elementor-7230 .elementor-element.elementor-element-1abc2a8c .elementor-heading-title {
    color: var(--e-global-color-text)
}

.elementor-7230 .elementor-element.elementor-element-1abc2a8c>.elementor-widget-container {
    margin: 0 30%;
    padding: 0 0 2.5rem
}

.elementor-7230 .elementor-element.elementor-element-2435b820 {
    text-align: center;
    color: var(--e-global-color-text)
}

.elementor-7230 .elementor-element.elementor-element-2435b820>.elementor-widget-container {
    margin: 0 30%;
    padding: 0 0 2.5rem
}

.elementor-7230 .elementor-element.elementor-element-61e15a5 .elementor-button .elementor-align-icon-right {
    margin-left: 16px
}

.elementor-7230 .elementor-element.elementor-element-61e15a5 .elementor-button .elementor-align-icon-left {
    margin-right: 16px
}

.elementor-7230 .elementor-element.elementor-element-61e15a5 .elementor-button {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    background-color: var(--e-global-color-secondary)
}

.elementor-7230 .elementor-element.elementor-element-61e15a5 .elementor-button:hover,
.elementor-7230 .elementor-element.elementor-element-61e15a5 .elementor-button:focus {
    background-color: var(--e-global-color-text)
}

.elementor-7230 .elementor-element.elementor-element-61e15a5>.elementor-widget-container {
    margin: 0 30%
}

@media(min-width:768px) {
    .elementor-7230 .elementor-element.elementor-element-7b25d73a {
        width: 66.667%
    }

    .elementor-7230 .elementor-element.elementor-element-57a60b62 {
        width: 33.289%
    }
}

@media(max-width:1064px) {
    .elementor-7230 .elementor-element.elementor-element-24d79048 {
        margin-top: 92px;
        margin-bottom: 0;
        padding: 50px 20px 75px
    }

    .elementor-7230 .elementor-element.elementor-element-229138f1>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-7230 .elementor-element.elementor-element-229138f1>.elementor-element-populated {
        padding: 0 0 60px
    }

    .elementor-7230 .elementor-element.elementor-element-7a01a210.elementor-column>.elementor-widget-wrap {
        justify-content: center
    }

    .elementor-7230 .elementor-element.elementor-element-7a01a210>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-7230 .elementor-element.elementor-element-4104dd20 {
        text-align: center
    }

    .elementor-7230 .elementor-element.elementor-element-4104dd20 img {
        width: 60%
    }

    .elementor-7230 .elementor-element.elementor-element-12911709 {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 20px 58px
    }

    .elementor-7230 .elementor-element.elementor-element-56c685b5>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-7230 .elementor-element.elementor-element-56c685b5>.elementor-element-populated {
        padding: 0 0 60px
    }

    .elementor-7230 .elementor-element.elementor-element-5514355e.elementor-column>.elementor-widget-wrap {
        justify-content: center
    }

    .elementor-7230 .elementor-element.elementor-element-5514355e>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-7230 .elementor-element.elementor-element-1bf85428 {
        text-align: center
    }

    .elementor-7230 .elementor-element.elementor-element-1bf85428 img {
        width: 60%
    }

    .elementor-7230 .elementor-element.elementor-element-4974415a {
        padding: 0 1.25rem
    }

    .elementor-7230 .elementor-element.elementor-element-647e5c23 {
        padding: 63px 20px 0
    }

    .elementor-7230 .elementor-element.elementor-element-cae1e58>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-7230 .elementor-element.elementor-element-13ff4bfd>.elementor-widget-container {
        margin: 2% 20% 0
    }

    .elementor-7230 .elementor-element.elementor-element-1abc2a8c>.elementor-widget-container {
        margin: 0 20%
    }

    .elementor-7230 .elementor-element.elementor-element-2435b820 {
        text-align: center
    }

    .elementor-7230 .elementor-element.elementor-element-2435b820>.elementor-widget-container {
        margin: 0 20%
    }
}

@media(max-width:767px) {
    .elementor-7230 .elementor-element.elementor-element-24d79048 {
        margin-top: 93px;
        margin-bottom: 0;
        padding: 50px 20px 75px
    }

    .elementor-7230 .elementor-element.elementor-element-229138f1>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-7230 .elementor-element.elementor-element-3dfbbae>.elementor-widget-container {
        padding: 0 0 25px
    }

    .elementor-7230 .elementor-element.elementor-element-5c92fdb>.elementor-widget-container {
        padding: 0 0 25px
    }

    .elementor-7230 .elementor-element.elementor-element-06adfcc>.elementor-widget-container {
        padding: 0 0 20px
    }

    .elementor-7230 .elementor-element.elementor-element-7a01a210>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-7230 .elementor-element.elementor-element-4104dd20 {
        text-align: center
    }

    .elementor-7230 .elementor-element.elementor-element-4104dd20 img {
        width: 100%
    }

    .elementor-7230 .elementor-element.elementor-element-12911709 {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 20px 48px
    }

    .elementor-7230 .elementor-element.elementor-element-ce96803>.elementor-widget-container {
        padding: 0 0 25px
    }

    .elementor-7230 .elementor-element.elementor-element-599aeefd>.elementor-widget-container {
        padding: 0
    }

    .elementor-7230 .elementor-element.elementor-element-1bf85428 {
        text-align: center
    }

    .elementor-7230 .elementor-element.elementor-element-1bf85428 img {
        width: 100%
    }

    .elementor-7230 .elementor-element.elementor-element-4974415a {
        margin-top: 0;
        margin-bottom: 3.25rem;
        padding: 0 1.25rem
    }

    .elementor-7230 .elementor-element.elementor-element-5e286f72 .ae-accordion .ae-tab-title {
        font-size: 1rem;
        line-height: 1em;
        padding: 1.25em 1.25em 1.25em 0
    }

    .elementor-7230 .elementor-element.elementor-element-7b25d73a>.elementor-element-populated {
        padding: 0
    }

    .elementor-7230 .elementor-element.elementor-element-27fe4cf5 {
        padding: 0 0 3.875rem
    }

    .elementor-7230 .elementor-element.elementor-element-1f98ce95>.elementor-widget-container {
        margin: 60px 0 80px
    }

    .elementor-7230 .elementor-element.elementor-element-13ff4bfd>.elementor-widget-container {
        margin: 0;
        padding: 0 20px 25px
    }

    .elementor-7230 .elementor-element.elementor-element-1abc2a8c>.elementor-widget-container {
        margin: 0;
        padding: 0 1.25rem 2.5rem
    }

    .elementor-7230 .elementor-element.elementor-element-2435b820>.elementor-widget-container {
        margin: 0;
        padding: 0 1.25rem 2.5rem
    }

    .elementor-7230 .elementor-element.elementor-element-61e15a5>.elementor-widget-container {
        margin: 0;
        padding: 0 1.25rem
    }
}

@media(max-width:1064px) and (min-width:768px) {
    .elementor-7230 .elementor-element.elementor-element-229138f1 {
        width: 100%
    }

    .elementor-7230 .elementor-element.elementor-element-7a01a210 {
        width: 100%
    }

    .elementor-7230 .elementor-element.elementor-element-56c685b5 {
        width: 100%
    }

    .elementor-7230 .elementor-element.elementor-element-5514355e {
        width: 100%
    }

    .elementor-7230 .elementor-element.elementor-element-cae1e58 {
        width: 100%
    }
}