.elementor-7285 .elementor-element.elementor-element-54ad32e7>.elementor-container {
    max-width: 1172px
}

.elementor-7285 .elementor-element.elementor-element-54ad32e7>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: flex-end;
    align-items: flex-end
}

.elementor-7285 .elementor-element.elementor-element-54ad32e7 {
    margin-top: 140px;
    margin-bottom: 0;
    padding: 2rem 0 8.75rem
}

.elementor-7285 .elementor-element.elementor-element-23d6fe7>.elementor-element-populated {
    padding: 0 5.625rem 0 0
}

.elementor-7285 .elementor-element.elementor-element-2cea32e4>.elementor-widget-container {
    padding: 0 0 2.5rem
}

.elementor-7285 .elementor-element.elementor-element-3e448e8f>.elementor-widget-container {
    padding: 0 0 2.5rem
}

.elementor-7285 .elementor-element.elementor-element-9581629 {
    text-align: left
}

.elementor-7285 .elementor-element.elementor-element-9581629>.elementor-widget-container {
    padding: 0
}

.elementor-7285 .elementor-element.elementor-element-be38a20:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-7285 .elementor-element.elementor-element-be38a20>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-repeat: no-repeat;
    background-size: contain
}

.elementor-7285 .elementor-element.elementor-element-be38a20>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-7285 .elementor-element.elementor-element-be38a20>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-7285 .elementor-element.elementor-element-3f6900eb>.elementor-container {
    max-width: 1172px
}

.elementor-7285 .elementor-element.elementor-element-3f6900eb>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-7285 .elementor-element.elementor-element-3f6900eb:not(.elementor-motion-effects-element-type-background),
.elementor-7285 .elementor-element.elementor-element-3f6900eb>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover
}

.elementor-7285 .elementor-element.elementor-element-3f6900eb {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10% 32%
}

.elementor-7285 .elementor-element.elementor-element-3f6900eb>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-7285 .elementor-element.elementor-element-6955748>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-7285 .elementor-element.elementor-element-6955748>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-7285 .elementor-element.elementor-element-0aae24a {
    text-align: center;
    color: var(--e-global-color-text);
    font-family: "Inter", Sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5em
}

.elementor-7285 .elementor-element.elementor-element-48ad1b54>.elementor-container {
    max-width: 1172px
}

.elementor-7285 .elementor-element.elementor-element-48ad1b54:not(.elementor-motion-effects-element-type-background),
.elementor-7285 .elementor-element.elementor-element-48ad1b54>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #fafafa
}

.elementor-7285 .elementor-element.elementor-element-48ad1b54 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 6.25rem 0 3.75rem
}

.elementor-7285 .elementor-element.elementor-element-48ad1b54>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-bc-flex-widget .elementor-7285 .elementor-element.elementor-element-6137025f.elementor-column .elementor-widget-wrap {
    align-items: center
}

.elementor-7285 .elementor-element.elementor-element-6137025f.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center
}

.elementor-7285 .elementor-element.elementor-element-6137025f.elementor-column>.elementor-widget-wrap {
    justify-content: center
}

.elementor-7285 .elementor-element.elementor-element-6137025f>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-7285 .elementor-element.elementor-element-6137025f>.elementor-element-populated {
    padding: 0 25%
}

.elementor-7285 .elementor-element.elementor-element-74555f82>.elementor-widget-container {
    padding: 0 0 1.5625rem
}

.elementor-7285 .elementor-element.elementor-element-16010652>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-7285 .elementor-element.elementor-element-67a53acc>.elementor-container {
    max-width: 1172px
}

.elementor-7285 .elementor-element.elementor-element-67a53acc>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-7285 .elementor-element.elementor-element-67a53acc:not(.elementor-motion-effects-element-type-background),
.elementor-7285 .elementor-element.elementor-element-67a53acc>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #fafafa
}

.elementor-7285 .elementor-element.elementor-element-67a53acc {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 0 0 7.5rem
}

.elementor-7285 .elementor-element.elementor-element-67a53acc>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-7285 .elementor-element.elementor-element-50b2777c>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-7285 .elementor-element.elementor-element-16d06454 img {
    width: 148px;
    max-width: 148%
}

.elementor-7285 .elementor-element.elementor-element-16d06454>.elementor-widget-container {
    padding: 0 0 135px
}

.elementor-7285 .elementor-element.elementor-element-3102f731 {
    text-align: left
}

.elementor-7285 .elementor-element.elementor-element-3102f731 img {
    width: 109px;
    max-width: 109%
}

.elementor-7285 .elementor-element.elementor-element-3102f731>.elementor-widget-container {
    margin: 0;
    padding: 0 0 162px
}

.elementor-7285 .elementor-element.elementor-element-5ac616a4 img {
    max-width: 136px
}

.elementor-bc-flex-widget .elementor-7285 .elementor-element.elementor-element-749796e8.elementor-column .elementor-widget-wrap {
    align-items: center
}

.elementor-7285 .elementor-element.elementor-element-749796e8.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center
}

.elementor-7285 .elementor-element.elementor-element-749796e8.elementor-column>.elementor-widget-wrap {
    justify-content: center
}

.elementor-7285 .elementor-element.elementor-element-749796e8>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-7285 .elementor-element.elementor-element-749796e8 {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0
}

.elementor-7285 .elementor-element.elementor-element-749796e8:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-7285 .elementor-element.elementor-element-749796e8>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-text)
}

.elementor-7285 .elementor-element.elementor-element-749796e8>.elementor-element-populated {
    border-style: solid;
    border-color: var(--e-global-color-text);
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin: 3rem 0;
    --e-column-margin-right: 0rem;
    --e-column-margin-left: 0rem;
    padding: 0 4rem
}

.elementor-7285 .elementor-element.elementor-element-749796e8>.elementor-element-populated,
.elementor-7285 .elementor-element.elementor-element-749796e8>.elementor-element-populated>.elementor-background-overlay,
.elementor-7285 .elementor-element.elementor-element-749796e8>.elementor-background-slideshow {
    border-radius: 50%
}

.elementor-7285 .elementor-element.elementor-element-749796e8>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-7285 .elementor-element.elementor-element-53691321 .elementor-icon-wrapper {
    text-align: center
}

.elementor-7285 .elementor-element.elementor-element-53691321 .elementor-icon i,
.elementor-7285 .elementor-element.elementor-element-53691321 .elementor-icon svg {
    transform: rotate(0deg)
}

.elementor-7285 .elementor-element.elementor-element-66c7e10e {
    text-align: center;
    font-style: italic
}

.elementor-7285 .elementor-element.elementor-element-66c7e10e>.elementor-widget-container {
    padding: 0
}

.elementor-7285 .elementor-element.elementor-element-476379b9>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-7285 .elementor-element.elementor-element-a71a784 img {
    width: 148px;
    max-width: 148px
}

.elementor-7285 .elementor-element.elementor-element-a71a784>.elementor-widget-container {
    padding: 0 0 111px
}

.elementor-7285 .elementor-element.elementor-element-7ee8dde8 {
    text-align: right
}

.elementor-7285 .elementor-element.elementor-element-7ee8dde8 img {
    max-width: 131px
}

.elementor-7285 .elementor-element.elementor-element-7ee8dde8>.elementor-widget-container {
    padding: 0 0 111px
}

.elementor-7285 .elementor-element.elementor-element-6aeb4a31 {
    text-align: center
}

.elementor-7285 .elementor-element.elementor-element-6aeb4a31 img {
    max-width: 123px
}

.elementor-7285 .elementor-element.elementor-element-719a9840>.elementor-container {
    max-width: 1172px
}

.elementor-7285 .elementor-element.elementor-element-719a9840:not(.elementor-motion-effects-element-type-background),
.elementor-7285 .elementor-element.elementor-element-719a9840>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary)
}

.elementor-7285 .elementor-element.elementor-element-719a9840 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 7.25rem 0 8.75rem
}

.elementor-7285 .elementor-element.elementor-element-719a9840>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-7285 .elementor-element.elementor-element-1f8634a8>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-7285 .elementor-element.elementor-element-2a0933f>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-7285 .elementor-element.elementor-element-2a0933f>.elementor-element-populated {
    padding: 0 3rem 8.75rem 0
}

.elementor-7285 .elementor-element.elementor-element-7d1fb7e6 .elementor-heading-title {
    color: var(--e-global-color-text)
}

.elementor-7285 .elementor-element.elementor-element-7d1fb7e6>.elementor-widget-container {
    padding: 0 0 2.5rem
}

.elementor-7285 .elementor-element.elementor-element-40c08848 {
    color: var(--e-global-color-text)
}

.elementor-7285 .elementor-element.elementor-element-40c08848>.elementor-widget-container {
    padding: 0 0 1.25rem
}

.elementor-7285 .elementor-element.elementor-element-3dd939ae {
    --divider-border-style: solid;
    --divider-color: #8F929533;
    --divider-border-width: 1px
}

.elementor-7285 .elementor-element.elementor-element-3dd939ae .elementor-divider-separator {
    width: 100%
}

.elementor-7285 .elementor-element.elementor-element-3dd939ae .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-7285 .elementor-element.elementor-element-222d1b11.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-secondary)
}

.elementor-7285 .elementor-element.elementor-element-222d1b11.elementor-view-framed .elementor-icon,
.elementor-7285 .elementor-element.elementor-element-222d1b11.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-secondary);
    color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-secondary)
}

.elementor-7285 .elementor-element.elementor-element-222d1b11 {
    --icon-box-icon-margin: 16px
}

.elementor-7285 .elementor-element.elementor-element-222d1b11 .elementor-icon {
    font-size: 29px
}

.elementor-7285 .elementor-element.elementor-element-222d1b11 .elementor-icon-box-wrapper {
    text-align: left
}

.elementor-7285 .elementor-element.elementor-element-222d1b11 .elementor-icon-box-title {
    margin-bottom: 10px;
    color: var(--e-global-color-secondary)
}

.elementor-7285 .elementor-element.elementor-element-222d1b11 .elementor-icon-box-title,
.elementor-7285 .elementor-element.elementor-element-222d1b11 .elementor-icon-box-title a {
    font-family: "Ubuntu", Sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px
}

.elementor-7285 .elementor-element.elementor-element-222d1b11 .elementor-icon-box-description {
    color: var(--e-global-color-text);
    font-family: "Ubuntu", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px
}

.elementor-7285 .elementor-element.elementor-element-222d1b11>.elementor-widget-container {
    margin: 0
}

.elementor-7285 .elementor-element.elementor-element-612cf873 {
    --divider-border-style: solid;
    --divider-color: #8F929533;
    --divider-border-width: 1px
}

.elementor-7285 .elementor-element.elementor-element-612cf873 .elementor-divider-separator {
    width: 100%
}

.elementor-7285 .elementor-element.elementor-element-612cf873 .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-7285 .elementor-element.elementor-element-4362cca4.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-secondary)
}

.elementor-7285 .elementor-element.elementor-element-4362cca4.elementor-view-framed .elementor-icon,
.elementor-7285 .elementor-element.elementor-element-4362cca4.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-secondary);
    color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-secondary)
}

.elementor-7285 .elementor-element.elementor-element-4362cca4 {
    --icon-box-icon-margin: 15px
}

.elementor-7285 .elementor-element.elementor-element-4362cca4 .elementor-icon {
    font-size: 28px
}

.elementor-7285 .elementor-element.elementor-element-4362cca4 .elementor-icon-box-wrapper {
    text-align: left
}

.elementor-7285 .elementor-element.elementor-element-4362cca4 .elementor-icon-box-title {
    margin-bottom: 10px;
    color: var(--e-global-color-secondary)
}

.elementor-7285 .elementor-element.elementor-element-4362cca4 .elementor-icon-box-title,
.elementor-7285 .elementor-element.elementor-element-4362cca4 .elementor-icon-box-title a {
    font-family: "Ubuntu", Sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px
}

.elementor-7285 .elementor-element.elementor-element-4362cca4 .elementor-icon-box-description {
    color: var(--e-global-color-text);
    font-family: "Inter", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px
}

.elementor-7285 .elementor-element.elementor-element-7b1181e {
    --divider-border-style: solid;
    --divider-color: #8F929533;
    --divider-border-width: 1px
}

.elementor-7285 .elementor-element.elementor-element-7b1181e .elementor-divider-separator {
    width: 100%
}

.elementor-7285 .elementor-element.elementor-element-7b1181e .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-7285 .elementor-element.elementor-element-79eb132c.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-secondary)
}

.elementor-7285 .elementor-element.elementor-element-79eb132c.elementor-view-framed .elementor-icon,
.elementor-7285 .elementor-element.elementor-element-79eb132c.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-secondary);
    color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-secondary)
}

.elementor-7285 .elementor-element.elementor-element-79eb132c {
    --icon-box-icon-margin: 15px
}

.elementor-7285 .elementor-element.elementor-element-79eb132c .elementor-icon {
    font-size: 29px
}

.elementor-7285 .elementor-element.elementor-element-79eb132c .elementor-icon-box-wrapper {
    text-align: left
}

.elementor-7285 .elementor-element.elementor-element-79eb132c .elementor-icon-box-title {
    margin-bottom: 10px;
    color: var(--e-global-color-secondary)
}

.elementor-7285 .elementor-element.elementor-element-79eb132c .elementor-icon-box-title,
.elementor-7285 .elementor-element.elementor-element-79eb132c .elementor-icon-box-title a {
    font-family: "Ubuntu", Sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px
}

.elementor-7285 .elementor-element.elementor-element-79eb132c .elementor-icon-box-description {
    color: var(--e-global-color-text);
    font-family: "Inter", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px
}

.elementor-7285 .elementor-element.elementor-element-614c7935 {
    --divider-border-style: solid;
    --divider-color: #8F929533;
    --divider-border-width: 1px
}

.elementor-7285 .elementor-element.elementor-element-614c7935 .elementor-divider-separator {
    width: 100%
}

.elementor-7285 .elementor-element.elementor-element-614c7935 .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-7285 .elementor-element.elementor-element-44ab7913.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-secondary)
}

.elementor-7285 .elementor-element.elementor-element-44ab7913.elementor-view-framed .elementor-icon,
.elementor-7285 .elementor-element.elementor-element-44ab7913.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-secondary);
    color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-secondary)
}

.elementor-7285 .elementor-element.elementor-element-44ab7913 {
    --icon-box-icon-margin: 15px
}

.elementor-7285 .elementor-element.elementor-element-44ab7913 .elementor-icon {
    font-size: 29px
}

.elementor-7285 .elementor-element.elementor-element-44ab7913 .elementor-icon-box-wrapper {
    text-align: left
}

.elementor-7285 .elementor-element.elementor-element-44ab7913 .elementor-icon-box-title {
    margin-bottom: 10px;
    color: var(--e-global-color-secondary)
}

.elementor-7285 .elementor-element.elementor-element-44ab7913 .elementor-icon-box-title,
.elementor-7285 .elementor-element.elementor-element-44ab7913 .elementor-icon-box-title a {
    font-family: "Ubuntu", Sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px
}

.elementor-7285 .elementor-element.elementor-element-44ab7913 .elementor-icon-box-description {
    color: var(--e-global-color-text);
    font-family: "Inter", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px
}

.elementor-7285 .elementor-element.elementor-element-57e3e540 {
    text-align: right
}

.elementor-7285 .elementor-element.elementor-element-57e3e540 img {
    width: 100%
}

.elementor-7285 .elementor-element.elementor-element-57e3e540>.elementor-widget-container {
    padding: 14px 0 0
}

.elementor-7285 .elementor-element.elementor-element-739b29d4>.elementor-widget-container {
    padding: 23px 0 0
}

.elementor-7285 .elementor-element.elementor-element-4492886d>.elementor-element-populated {
    padding: 0 0 0 3rem
}

.elementor-7285 .elementor-element.elementor-element-302cdbc5 .elementor-heading-title {
    color: var(--e-global-color-text)
}

.elementor-7285 .elementor-element.elementor-element-302cdbc5>.elementor-widget-container {
    padding: 0 0 2.5rem
}

.elementor-7285 .elementor-element.elementor-element-6bc364bc {
    color: var(--e-global-color-text)
}

.elementor-7285 .elementor-element.elementor-element-6bc364bc>.elementor-widget-container {
    padding: 0 0 1.25px
}

.elementor-7285 .elementor-element.elementor-element-4b95cc23 {
    --divider-border-style: solid;
    --divider-color: #8F929533;
    --divider-border-width: 1px
}

.elementor-7285 .elementor-element.elementor-element-4b95cc23 .elementor-divider-separator {
    width: 100%
}

.elementor-7285 .elementor-element.elementor-element-4b95cc23 .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-7285 .elementor-element.elementor-element-14498d0a.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-secondary)
}

.elementor-7285 .elementor-element.elementor-element-14498d0a.elementor-view-framed .elementor-icon,
.elementor-7285 .elementor-element.elementor-element-14498d0a.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-secondary);
    color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-secondary)
}

.elementor-7285 .elementor-element.elementor-element-14498d0a {
    --icon-box-icon-margin: 15px
}

.elementor-7285 .elementor-element.elementor-element-14498d0a .elementor-icon {
    font-size: 29px
}

.elementor-7285 .elementor-element.elementor-element-14498d0a .elementor-icon-box-wrapper {
    text-align: left
}

.elementor-7285 .elementor-element.elementor-element-14498d0a .elementor-icon-box-title {
    color: var(--e-global-color-secondary)
}

.elementor-7285 .elementor-element.elementor-element-14498d0a .elementor-icon-box-title,
.elementor-7285 .elementor-element.elementor-element-14498d0a .elementor-icon-box-title a {
    font-family: "Ubuntu", Sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px
}

.elementor-7285 .elementor-element.elementor-element-14498d0a .elementor-icon-box-description {
    color: var(--e-global-color-text);
    font-family: "Inter", Sans-serif;
    font-size: 16px;
    font-weight: 500
}

.elementor-7285 .elementor-element.elementor-element-14498d0a>.elementor-widget-container {
    margin: 0
}

.elementor-7285 .elementor-element.elementor-element-5b65b534 {
    --divider-border-style: solid;
    --divider-color: #8F929533;
    --divider-border-width: 1px
}

.elementor-7285 .elementor-element.elementor-element-5b65b534 .elementor-divider-separator {
    width: 100%
}

.elementor-7285 .elementor-element.elementor-element-5b65b534 .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-7285 .elementor-element.elementor-element-5c8f65c9.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-secondary)
}

.elementor-7285 .elementor-element.elementor-element-5c8f65c9.elementor-view-framed .elementor-icon,
.elementor-7285 .elementor-element.elementor-element-5c8f65c9.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-secondary);
    color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-secondary)
}

.elementor-7285 .elementor-element.elementor-element-5c8f65c9 {
    --icon-box-icon-margin: 15px
}

.elementor-7285 .elementor-element.elementor-element-5c8f65c9 .elementor-icon {
    font-size: 29px
}

.elementor-7285 .elementor-element.elementor-element-5c8f65c9 .elementor-icon-box-wrapper {
    text-align: left
}

.elementor-7285 .elementor-element.elementor-element-5c8f65c9 .elementor-icon-box-title {
    color: var(--e-global-color-secondary)
}

.elementor-7285 .elementor-element.elementor-element-5c8f65c9 .elementor-icon-box-title,
.elementor-7285 .elementor-element.elementor-element-5c8f65c9 .elementor-icon-box-title a {
    font-family: "Ubuntu", Sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px
}

.elementor-7285 .elementor-element.elementor-element-5c8f65c9 .elementor-icon-box-description {
    color: var(--e-global-color-text);
    font-family: "Inter", Sans-serif;
    font-size: 16px;
    font-weight: 500
}

.elementor-7285 .elementor-element.elementor-element-267d6809 {
    --divider-border-style: solid;
    --divider-color: #8F929533;
    --divider-border-width: 1px
}

.elementor-7285 .elementor-element.elementor-element-267d6809 .elementor-divider-separator {
    width: 100%
}

.elementor-7285 .elementor-element.elementor-element-267d6809 .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-7285 .elementor-element.elementor-element-58ca2315.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-secondary)
}

.elementor-7285 .elementor-element.elementor-element-58ca2315.elementor-view-framed .elementor-icon,
.elementor-7285 .elementor-element.elementor-element-58ca2315.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-secondary);
    color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-secondary)
}

.elementor-7285 .elementor-element.elementor-element-58ca2315 {
    --icon-box-icon-margin: 15px
}

.elementor-7285 .elementor-element.elementor-element-58ca2315 .elementor-icon {
    font-size: 29px
}

.elementor-7285 .elementor-element.elementor-element-58ca2315 .elementor-icon-box-wrapper {
    text-align: left
}

.elementor-7285 .elementor-element.elementor-element-58ca2315 .elementor-icon-box-title {
    color: var(--e-global-color-secondary)
}

.elementor-7285 .elementor-element.elementor-element-58ca2315 .elementor-icon-box-title,
.elementor-7285 .elementor-element.elementor-element-58ca2315 .elementor-icon-box-title a {
    font-family: "Ubuntu", Sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px
}

.elementor-7285 .elementor-element.elementor-element-58ca2315 .elementor-icon-box-description {
    color: var(--e-global-color-text);
    font-family: "Inter", Sans-serif;
    font-size: 16px;
    font-weight: 500
}

.elementor-7285 .elementor-element.elementor-element-58ca2315>.elementor-widget-container {
    padding: 20px 0 0
}

.elementor-7285 .elementor-element.elementor-element-7db9607b>.elementor-container {
    max-width: 1172px
}

.elementor-7285 .elementor-element.elementor-element-7db9607b {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 7.5rem 0 6rem
}

.elementor-7285 .elementor-element.elementor-element-7db9607b>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-bc-flex-widget .elementor-7285 .elementor-element.elementor-element-3cd68e09.elementor-column .elementor-widget-wrap {
    align-items: flex-start
}

.elementor-7285 .elementor-element.elementor-element-3cd68e09.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start
}

.elementor-7285 .elementor-element.elementor-element-3cd68e09.elementor-column>.elementor-widget-wrap {
    justify-content: center
}

.elementor-7285 .elementor-element.elementor-element-3cd68e09>.elementor-element-populated {
    padding: 0 25%
}

.elementor-7285 .elementor-element.elementor-element-2f686ffc>.elementor-widget-container {
    padding: 0 0 2.5rem
}

.elementor-7285 .elementor-element.elementor-element-3018a847>.elementor-widget-container {
    padding: 0 0 2.5rem
}

.elementor-7285 .elementor-element.elementor-element-74d2ff28>.elementor-widget-container {
    padding: 0 0 20px
}

.elementor-7285 .elementor-element.elementor-element-13f9528d {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-7285 .elementor-element.elementor-element-13f9528d>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-7285 .elementor-element.elementor-element-21194ab1:not(.elementor-motion-effects-element-type-background),
.elementor-7285 .elementor-element.elementor-element-21194ab1>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-text)
}

.elementor-7285 .elementor-element.elementor-element-21194ab1 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 7.5rem 0 3.75rem
}

.elementor-7285 .elementor-element.elementor-element-21194ab1>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-bc-flex-widget .elementor-7285 .elementor-element.elementor-element-2e116850.elementor-column .elementor-widget-wrap {
    align-items: flex-start
}

.elementor-7285 .elementor-element.elementor-element-2e116850.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start
}

.elementor-7285 .elementor-element.elementor-element-2e116850.elementor-column>.elementor-widget-wrap {
    justify-content: center
}

.elementor-7285 .elementor-element.elementor-element-2e116850>.elementor-element-populated {
    padding: 0 25%
}

.elementor-7285 .elementor-element.elementor-element-525c9a85>.elementor-widget-container {
    padding: 0 0 40px
}

.elementor-7285 .elementor-element.elementor-element-158fbe15>.elementor-widget-container {
    padding: 0 0 40px
}

.elementor-7285 .elementor-element.elementor-element-1ce77ce5>.elementor-widget-container {
    padding: 0 0 3.75rem
}

.elementor-7285 .elementor-element.elementor-element-15151e20:not(.elementor-motion-effects-element-type-background),
.elementor-7285 .elementor-element.elementor-element-15151e20>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-text)
}

.elementor-7285 .elementor-element.elementor-element-15151e20 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 0 0 7.5rem
}

.elementor-7285 .elementor-element.elementor-element-15151e20>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-7285 .elementor-element.elementor-element-15151e20>.elementor-container {
    text-align: center
}

.elementor-7285 .elementor-element.elementor-element-47827f93:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-7285 .elementor-element.elementor-element-47827f93>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #fafafa
}

.elementor-7285 .elementor-element.elementor-element-47827f93>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin: 0 25%;
    --e-column-margin-right: 25%;
    --e-column-margin-left: 25%;
    padding: 3.75rem
}

.elementor-7285 .elementor-element.elementor-element-47827f93>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-7285 .elementor-element.elementor-element-13e6db35>.elementor-widget-container {
    padding: 0 0 2.5rem
}

.elementor-7285 .elementor-element.elementor-element-5db3c690 .elementor-button .elementor-align-icon-right {
    margin-left: 16px
}

.elementor-7285 .elementor-element.elementor-element-5db3c690 .elementor-button .elementor-align-icon-left {
    margin-right: 16px
}

.elementor-7285 .elementor-element.elementor-element-5db3c690 .elementor-button {
    fill: var(--e-global-color-text);
    color: var(--e-global-color-text);
    background-color: var(--e-global-color-primary)
}

.elementor-7285 .elementor-element.elementor-element-5db3c690 .elementor-button:hover,
.elementor-7285 .elementor-element.elementor-element-5db3c690 .elementor-button:focus {
    color: var(--e-global-color-text);
    background-color: var(--e-global-color-secondary)
}

.elementor-7285 .elementor-element.elementor-element-5db3c690 .elementor-button:hover svg,
.elementor-7285 .elementor-element.elementor-element-5db3c690 .elementor-button:focus svg {
    fill: var(--e-global-color-text)
}

.elementor-7285 .elementor-element.elementor-element-520d0d75>.elementor-container {
    max-width: 1172px
}

.elementor-7285 .elementor-element.elementor-element-520d0d75>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-7285 .elementor-element.elementor-element-520d0d75:not(.elementor-motion-effects-element-type-background),
.elementor-7285 .elementor-element.elementor-element-520d0d75>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary)
}

.elementor-7285 .elementor-element.elementor-element-520d0d75 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 7.5em 0 0;
    z-index: 0
}

.elementor-7285 .elementor-element.elementor-element-520d0d75>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-7285 .elementor-element.elementor-element-637ecf24>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0%;
    --e-column-margin-left: 0%
}

.elementor-7285 .elementor-element.elementor-element-33ce4a60 .elementor-heading-title {
    color: var(--e-global-color-secondary)
}

.elementor-7285 .elementor-element.elementor-element-33ce4a60>.elementor-widget-container {
    margin: 0 40% 0 0;
    padding: 0 0 2.5rem
}

.elementor-7285 .elementor-element.elementor-element-26018694 .elementor-heading-title {
    color: var(--e-global-color-text)
}

.elementor-7285 .elementor-element.elementor-element-26018694>.elementor-widget-container {
    margin: 0 30% 0 0;
    padding: 0 0 2.5rem
}

.elementor-7285 .elementor-element.elementor-element-2a2a2228 .elementor-button .elementor-align-icon-right {
    margin-left: 16px
}

.elementor-7285 .elementor-element.elementor-element-2a2a2228 .elementor-button .elementor-align-icon-left {
    margin-right: 16px
}

.elementor-7285 .elementor-element.elementor-element-2a2a2228 .elementor-button {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    background-color: #fff
}

.elementor-7285 .elementor-element.elementor-element-2a2a2228 .elementor-button:hover,
.elementor-7285 .elementor-element.elementor-element-2a2a2228 .elementor-button:focus {
    background-color: var(--e-global-color-secondary)
}

.elementor-7285 .elementor-element.elementor-element-2a2a2228>.elementor-widget-container {
    margin: 0;
    padding: 0 0 2.5rem
}

.elementor-7285 .elementor-element.elementor-element-2a2a2228 {
    width: auto;
    max-width: auto
}

.elementor-7285 .elementor-element.elementor-element-49694762 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    z-index: 1
}

.elementor-7285 .elementor-element.elementor-element-54b970c3 .ae-widget-title-wrap {
    text-align: center
}

.elementor-7285 .elementor-element.elementor-element-54b970c3 .ae-swiper-button-prev i {
    color: var(--e-global-color-text);
    font-size: 30px
}

.elementor-7285 .elementor-element.elementor-element-54b970c3 .ae-swiper-button-next i {
    color: var(--e-global-color-text);
    font-size: 30px
}

.elementor-7285 .elementor-element.elementor-element-54b970c3 .ae-swiper-button-prev svg {
    fill: var(--e-global-color-text);
    width: 30px
}

.elementor-7285 .elementor-element.elementor-element-54b970c3 .ae-swiper-button-next svg {
    fill: var(--e-global-color-text);
    width: 30px
}

.elementor-7285 .elementor-element.elementor-element-54b970c3 .ae-swiper-button-prev:hover i {
    color: var(--e-global-color-secondary)
}

.elementor-7285 .elementor-element.elementor-element-54b970c3 .ae-swiper-button-next:hover i {
    color: var(--e-global-color-secondary)
}

.elementor-7285 .elementor-element.elementor-element-54b970c3 .ae-swiper-button-prev:hover svg {
    fill: var(--e-global-color-secondary)
}

.elementor-7285 .elementor-element.elementor-element-54b970c3 .ae-swiper-button-next:hover svg {
    fill: var(--e-global-color-secondary)
}

.elementor-7285 .elementor-element.elementor-element-54b970c3 .ae-swiper-container .ae-swiper-button-prev:hover {
    border-radius: 50%;
    overflow: hidden
}

.elementor-7285 .elementor-element.elementor-element-54b970c3 .ae-swiper-container .ae-swiper-button-next:hover {
    border-radius: 50%;
    overflow: hidden
}

.elementor-7285 .elementor-element.elementor-element-54b970c3 .ae-swiper-container {
    margin-left: 46px;
    margin-right: 46px
}

.elementor-7285 .elementor-element.elementor-element-54b970c3 .ae-swiper-outer-wrapper {
    position: relative
}

.elementor-7285 .elementor-element.elementor-element-54b970c3 .ae-swiper-button-prev {
    left: 0;
    padding: 0
}

.elementor-7285 .elementor-element.elementor-element-54b970c3 .ae-swiper-button-next {
    right: 0;
    padding: 0
}

.elementor-7285 .elementor-element.elementor-element-54b970c3 .ae-widget-title-inner {
    border-style: solid;
    border-width: 0 0 1px;
    padding: 8em 0 0;
    margin: 5em 0 0
}

.elementor-7285 .elementor-element.elementor-element-54b970c3>.elementor-widget-container {
    margin: 0;
    padding: 0;
    background-color: var(--e-global-color-primary)
}

.elementor-7285 .elementor-element.elementor-element-54b970c3 {
    z-index: 2
}

.elementor-7285 .elementor-element.elementor-element-29ccfb58>.elementor-container {
    max-width: 1172px
}

.elementor-7285 .elementor-element.elementor-element-29ccfb58>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: flex-start;
    align-items: flex-start
}

.elementor-7285 .elementor-element.elementor-element-29ccfb58:not(.elementor-motion-effects-element-type-background),
.elementor-7285 .elementor-element.elementor-element-29ccfb58>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #1c1c1a
}

.elementor-7285 .elementor-element.elementor-element-29ccfb58 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 7.5rem 0
}

.elementor-7285 .elementor-element.elementor-element-29ccfb58>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-7285 .elementor-element.elementor-element-72bb32a8>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-7285 .elementor-element.elementor-element-72bb32a8>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin: 0 6.25rem 0 0;
    --e-column-margin-right: 6.25rem;
    --e-column-margin-left: 0rem;
    padding: 0
}

.elementor-7285 .elementor-element.elementor-element-72bb32a8>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-7285 .elementor-element.elementor-element-305d37b6>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-7285 .elementor-element.elementor-element-38ec9606 .elementor-heading-title {
    color: var(--e-global-color-text)
}

.elementor-7285 .elementor-element.elementor-element-38ec9606>.elementor-widget-container {
    padding: 0 0 2.5rem
}

.elementor-7285 .elementor-element.elementor-element-46d34417 {
    color: var(--e-global-color-text)
}

.elementor-7285 .elementor-element.elementor-element-46d34417>.elementor-widget-container {
    padding: 0 0 2.5rem
}

.elementor-7285 .elementor-element.elementor-element-d10b3c7 {
    color: var(--e-global-color-text);
    font-family: "Ubuntu", Sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5em
}

.elementor-7285 .elementor-element.elementor-element-271e6028:not(.elementor-motion-effects-element-type-background),
.elementor-7285 .elementor-element.elementor-element-271e6028>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary)
}

.elementor-7285 .elementor-element.elementor-element-271e6028 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 0 0 5rem
}

.elementor-7285 .elementor-element.elementor-element-271e6028>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-7285 .elementor-element.elementor-element-77f0bf33 {
    --spacer-size: 215px
}

.elementor-7285 .elementor-element.elementor-element-77f0bf33>.elementor-widget-container {
    margin: 0;
    padding: 0 0 5rem;
    background-image: url("../../../uploads/2022/01/Pattern-2.png");
    background-repeat: repeat-x
}

.elementor-7285 .elementor-element.elementor-element-18f7434e {
    text-align: center
}

.elementor-7285 .elementor-element.elementor-element-18f7434e>.elementor-widget-container {
    padding: 0 0 2.5rem
}

.elementor-7285 .elementor-element.elementor-element-7c7a0062 {
    text-align: center
}

.elementor-7285 .elementor-element.elementor-element-7c7a0062 .elementor-heading-title {
    color: var(--e-global-color-text)
}

.elementor-7285 .elementor-element.elementor-element-7c7a0062>.elementor-widget-container {
    padding: 0 0 2.5rem
}

.elementor-7285 .elementor-element.elementor-element-33fbad82 {
    text-align: center;
    color: var(--e-global-color-text)
}

.elementor-7285 .elementor-element.elementor-element-33fbad82>.elementor-widget-container {
    margin: 0 30%;
    padding: 0 0 2.5rem
}

.elementor-7285 .elementor-element.elementor-element-5b80bc6b .elementor-button {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    background-color: var(--e-global-color-secondary)
}

.elementor-7285 .elementor-element.elementor-element-5b80bc6b .elementor-button:hover,
.elementor-7285 .elementor-element.elementor-element-5b80bc6b .elementor-button:focus {
    color: var(--e-global-color-primary);
    background-color: var(--e-global-color-text)
}

.elementor-7285 .elementor-element.elementor-element-5b80bc6b .elementor-button:hover svg,
.elementor-7285 .elementor-element.elementor-element-5b80bc6b .elementor-button:focus svg {
    fill: var(--e-global-color-primary)
}

.elementor-7285 .elementor-element.elementor-element-5b80bc6b>.elementor-widget-container {
    padding: 0
}

@media(max-width:1064px) {
    .elementor-7285 .elementor-element.elementor-element-54ad32e7 {
        margin-top: 70px;
        margin-bottom: 0;
        padding: 4rem 1.25rem 5rem
    }

    .elementor-7285 .elementor-element.elementor-element-23d6fe7>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-7285 .elementor-element.elementor-element-23d6fe7>.elementor-element-populated {
        padding: 0 0 60px
    }

    .elementor-7285 .elementor-element.elementor-element-be38a20.elementor-column>.elementor-widget-wrap {
        justify-content: center
    }

    .elementor-7285 .elementor-element.elementor-element-be38a20>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-7285 .elementor-element.elementor-element-be38a20:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
    .elementor-7285 .elementor-element.elementor-element-be38a20>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: top center;
        background-size: contain
    }

    .elementor-7285 .elementor-element.elementor-element-3f6900eb:not(.elementor-motion-effects-element-type-background),
    .elementor-7285 .elementor-element.elementor-element-3f6900eb>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: 0 0
    }

    .elementor-7285 .elementor-element.elementor-element-3f6900eb {
        padding: 10%
    }

    .elementor-7285 .elementor-element.elementor-element-48ad1b54 {
        padding: 5rem 1.25rem 6rem
    }

    .elementor-7285 .elementor-element.elementor-element-67a53acc {
        padding: 0 1.25rem 6rem
    }

    .elementor-bc-flex-widget .elementor-7285 .elementor-element.elementor-element-749796e8.elementor-column .elementor-widget-wrap {
        align-items: center
    }

    .elementor-7285 .elementor-element.elementor-element-749796e8.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center
    }

    .elementor-7285 .elementor-element.elementor-element-749796e8.elementor-column>.elementor-widget-wrap {
        justify-content: center
    }

    .elementor-7285 .elementor-element.elementor-element-749796e8>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-7285 .elementor-element.elementor-element-749796e8>.elementor-element-populated {
        padding: 20%
    }

    .elementor-7285 .elementor-element.elementor-element-719a9840 {
        padding: 7rem 1.25rem 8rem
    }

    .elementor-7285 .elementor-element.elementor-element-63862574 {
        padding: 0 5rem 5rem
    }

    .elementor-7285 .elementor-element.elementor-element-2a0933f>.elementor-element-populated {
        padding: 0 0 3rem
    }

    .elementor-7285 .elementor-element.elementor-element-378e0f51 {
        padding: 0 5rem
    }

    .elementor-7285 .elementor-element.elementor-element-5ebd4352>.elementor-element-populated {
        padding: 0
    }

    .elementor-7285 .elementor-element.elementor-element-4492886d>.elementor-element-populated {
        padding: 0 0 3rem
    }

    .elementor-7285 .elementor-element.elementor-element-7db9607b {
        padding: 5rem 1.25rem 6rem
    }

    .elementor-7285 .elementor-element.elementor-element-3cd68e09>.elementor-element-populated {
        padding: 0 10%
    }

    .elementor-7285 .elementor-element.elementor-element-2e116850>.elementor-element-populated {
        padding: 0 10%
    }

    .elementor-7285 .elementor-element.elementor-element-15151e20 {
        padding: 0 0 7.5rem
    }

    .elementor-7285 .elementor-element.elementor-element-47827f93>.elementor-element-populated {
        padding: 3rem
    }

    .elementor-7285 .elementor-element.elementor-element-520d0d75 {
        margin-top: 0;
        margin-bottom: 0;
        padding: 2rem 1.25rem 0
    }

    .elementor-7285 .elementor-element.elementor-element-637ecf24>.elementor-element-populated {
        padding: 0 20px 0 0
    }

    .elementor-7285 .elementor-element.elementor-element-29ccfb58 {
        padding: 7rem 1.25rem 6rem
    }

    .elementor-7285 .elementor-element.elementor-element-72bb32a8>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-7285 .elementor-element.elementor-element-72bb32a8 {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1
    }

    .elementor-7285 .elementor-element.elementor-element-72bb32a8>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0rem;
        --e-column-margin-left: 0rem;
        padding: 0
    }

    .elementor-7285 .elementor-element.elementor-element-15ae472e {
        text-align: center
    }

    .elementor-7285 .elementor-element.elementor-element-305d37b6>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-7285 .elementor-element.elementor-element-6e4b83a1>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-7285 .elementor-element.elementor-element-33fbad82 {
        text-align: center
    }
}

@media(max-width:767px) {

    .elementor-7285 .elementor-element.elementor-element-3f6900eb:not(.elementor-motion-effects-element-type-background),
    .elementor-7285 .elementor-element.elementor-element-3f6900eb>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: 0 0
    }

    .elementor-7285 .elementor-element.elementor-element-3f6900eb {
        padding: 4.375rem 1.875rem
    }

    .elementor-7285 .elementor-element.elementor-element-0aae24a {
        font-size: 1.3rem
    }

    .elementor-7285 .elementor-element.elementor-element-48ad1b54 {
        padding: 4.375rem 1.25rem
    }

    .elementor-7285 .elementor-element.elementor-element-6137025f>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-7285 .elementor-element.elementor-element-6137025f>.elementor-element-populated {
        padding: 0
    }

    .elementor-7285 .elementor-element.elementor-element-67a53acc {
        padding: 0 0 160px
    }

    .elementor-7285 .elementor-element.elementor-element-749796e8>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0rem;
        --e-column-margin-left: 0rem;
        padding: 1rem 1rem 2rem
    }

    .elementor-7285 .elementor-element.elementor-element-719a9840 {
        padding: 3.4375rem 1.25rem 4.7rem
    }

    .elementor-7285 .elementor-element.elementor-element-63862574 {
        padding: 0 0 4.8125rem
    }

    .elementor-7285 .elementor-element.elementor-element-2a0933f>.elementor-element-populated {
        padding: 0 0 2rem
    }

    .elementor-7285 .elementor-element.elementor-element-378e0f51 {
        padding: 0
    }

    .elementor-7285 .elementor-element.elementor-element-4492886d>.elementor-element-populated {
        padding: 0 0 2rem
    }

    .elementor-7285 .elementor-element.elementor-element-14498d0a {
        --icon-box-icon-margin: 0px
    }

    .elementor-7285 .elementor-element.elementor-element-7db9607b {
        padding: 3.125rem 1.25rem 4.375rem
    }

    .elementor-7285 .elementor-element.elementor-element-3cd68e09>.elementor-element-populated {
        padding: 0
    }

    .elementor-7285 .elementor-element.elementor-element-21194ab1 {
        padding: 3.125rem 1.25rem 4.375rem
    }

    .elementor-7285 .elementor-element.elementor-element-2e116850>.elementor-element-populated {
        padding: 0
    }

    .elementor-7285 .elementor-element.elementor-element-15151e20 {
        padding: 0 1.25rem 4.625rem
    }

    .elementor-7285 .elementor-element.elementor-element-47827f93>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0%;
        --e-column-margin-left: 0%;
        padding: 10%
    }

    .elementor-7285 .elementor-element.elementor-element-520d0d75 {
        padding: 3.3125rem 1.25rem 0
    }

    .elementor-7285 .elementor-element.elementor-element-49694762 {
        padding: 0
    }

    .elementor-7285 .elementor-element.elementor-element-29ccfb58 {
        padding: 3.75rem 1.25rem
    }

    .elementor-7285 .elementor-element.elementor-element-72bb32a8 {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1
    }

    .elementor-7285 .elementor-element.elementor-element-7c7a0062 {
        text-align: center
    }
}

@media(min-width:768px) {
    .elementor-7285 .elementor-element.elementor-element-23d6fe7 {
        width: 55%
    }

    .elementor-7285 .elementor-element.elementor-element-be38a20 {
        width: 45%
    }

    .elementor-7285 .elementor-element.elementor-element-6137025f {
        width: 100%
    }

    .elementor-7285 .elementor-element.elementor-element-50b2777c {
        width: 25%
    }

    .elementor-7285 .elementor-element.elementor-element-749796e8 {
        width: 49.332%
    }

    .elementor-7285 .elementor-element.elementor-element-476379b9 {
        width: 25%
    }

    .elementor-7285 .elementor-element.elementor-element-3cd68e09 {
        width: 100%
    }

    .elementor-7285 .elementor-element.elementor-element-47827f93 {
        width: 100%
    }

    .elementor-7285 .elementor-element.elementor-element-637ecf24 {
        width: 100%
    }
}

@media(max-width:1064px) and (min-width:768px) {
    .elementor-7285 .elementor-element.elementor-element-23d6fe7 {
        width: 100%
    }

    .elementor-7285 .elementor-element.elementor-element-be38a20 {
        width: 100%
    }

    .elementor-7285 .elementor-element.elementor-element-749796e8 {
        width: 100%
    }

    .elementor-7285 .elementor-element.elementor-element-2a0933f {
        width: 100%
    }

    .elementor-7285 .elementor-element.elementor-element-5ee6cb56 {
        width: 100%
    }

    .elementor-7285 .elementor-element.elementor-element-5ebd4352 {
        width: 100%
    }

    .elementor-7285 .elementor-element.elementor-element-4492886d {
        width: 100%
    }

    .elementor-7285 .elementor-element.elementor-element-72bb32a8 {
        width: 100%
    }

    .elementor-7285 .elementor-element.elementor-element-305d37b6 {
        width: 100%
    }

    .elementor-7285 .elementor-element.elementor-element-6e4b83a1 {
        width: 100%
    }
}

@media(min-width:1065px) {

    .elementor-7285 .elementor-element.elementor-element-3f6900eb:not(.elementor-motion-effects-element-type-background),
    .elementor-7285 .elementor-element.elementor-element-3f6900eb>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed
    }
}