.elementor-7191 .elementor-element.elementor-element-2c2aeee1>.elementor-container {
    max-width: 1172px
}

.elementor-7191 .elementor-element.elementor-element-2c2aeee1>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-7191 .elementor-element.elementor-element-2c2aeee1 {
    margin-top: 49px;
    margin-bottom: 0;
    padding: 0 0 7.5rem
}

.elementor-7191 .elementor-element.elementor-element-54a93ba1>.elementor-element-populated {
    padding: 0 60px 0 0
}

.elementor-7191 .elementor-element.elementor-element-4e102816 .elementor-heading-title {
    color: var(--e-global-color-secondary)
}

.elementor-7191 .elementor-element.elementor-element-4e102816>.elementor-widget-container {
    padding: 0 0 1.25rem
}

.elementor-7191 .elementor-element.elementor-element-66304b20 .elementor-heading-title {
    color: var(--e-global-color-primary)
}

.elementor-7191 .elementor-element.elementor-element-66304b20>.elementor-widget-container {
    padding: 0 0 2.5rem
}

.elementor-7191 .elementor-element.elementor-element-ed4eaf4 {
    text-align: left;
    color: var(--e-global-color-primary)
}

.elementor-7191 .elementor-element.elementor-element-ed4eaf4>.elementor-widget-container {
    padding: 0 0 2.5rem
}

.elementor-7191 .elementor-element.elementor-element-f53ccdb>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-7191 .elementor-element.elementor-element-4af8369a.elementor-column>.elementor-widget-wrap {
    justify-content: flex-start
}

.elementor-7191 .elementor-element.elementor-element-4af8369a>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-7191 .elementor-element.elementor-element-523a317b .elementor-button .elementor-align-icon-right {
    margin-left: 16px
}

.elementor-7191 .elementor-element.elementor-element-523a317b .elementor-button .elementor-align-icon-left {
    margin-right: 16px
}

.elementor-7191 .elementor-element.elementor-element-523a317b .elementor-button {
    fill: var(--e-global-color-text);
    color: var(--e-global-color-text);
    background-color: var(--e-global-color-primary)
}

.elementor-7191 .elementor-element.elementor-element-523a317b .elementor-button:hover,
.elementor-7191 .elementor-element.elementor-element-523a317b .elementor-button:focus {
    color: var(--e-global-color-text);
    background-color: var(--e-global-color-secondary)
}

.elementor-7191 .elementor-element.elementor-element-523a317b .elementor-button:hover svg,
.elementor-7191 .elementor-element.elementor-element-523a317b .elementor-button:focus svg {
    fill: var(--e-global-color-text)
}

.elementor-7191 .elementor-element.elementor-element-523a317b a.elementor-button:hover .elementor-button-icon i {
    color: var(--e-global-color-text)
}

.elementor-7191 .elementor-element.elementor-element-523a317b>.elementor-widget-container {
    padding: 0 1rem 0 0
}

.elementor-7191 .elementor-element.elementor-element-523a317b {
    width: auto;
    max-width: auto
}

.elementor-7191 .elementor-element.elementor-element-155929e7 .elementor-button .elementor-align-icon-right {
    margin-left: 16px
}

.elementor-7191 .elementor-element.elementor-element-155929e7 .elementor-button .elementor-align-icon-left {
    margin-right: 16px
}

.elementor-7191 .elementor-element.elementor-element-155929e7 .elementor-button {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    background-color: #fafafa;
    border-style: solid;
    border-width: 1px;
    border-color: var(--e-global-color-secondary)
}

.elementor-7191 .elementor-element.elementor-element-155929e7 .elementor-button:hover,
.elementor-7191 .elementor-element.elementor-element-155929e7 .elementor-button:focus {
    color: var(--e-global-color-text);
    background-color: var(--e-global-color-secondary)
}

.elementor-7191 .elementor-element.elementor-element-155929e7 .elementor-button:hover svg,
.elementor-7191 .elementor-element.elementor-element-155929e7 .elementor-button:focus svg {
    fill: var(--e-global-color-text)
}

.elementor-7191 .elementor-element.elementor-element-155929e7 a.elementor-button {
    border-color: var(--e-global-color-primary)
}

.elementor-7191 .elementor-element.elementor-element-155929e7 a.elementor-button .elementor-button-icon i {
    color: var(--e-global-color-primary)
}

.elementor-7191 .elementor-element.elementor-element-155929e7 a.elementor-button:hover {
    border-color: var(--e-global-color-secondary)
}

.elementor-7191 .elementor-element.elementor-element-155929e7 a.elementor-button:hover .elementor-button-icon i {
    color: var(--e-global-color-text)
}

.elementor-7191 .elementor-element.elementor-element-155929e7 {
    width: auto;
    max-width: auto
}

.elementor-7191 .elementor-element.elementor-element-ae9df93 {
    text-align: right
}

.elementor-7191 .elementor-element.elementor-element-1f4bdbcd>.elementor-container {
    max-width: 1172px
}

.elementor-7191 .elementor-element.elementor-element-1f4bdbcd>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-7191 .elementor-element.elementor-element-1f4bdbcd:not(.elementor-motion-effects-element-type-background),
.elementor-7191 .elementor-element.elementor-element-1f4bdbcd>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #fafafa
}

.elementor-7191 .elementor-element.elementor-element-1f4bdbcd {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 0 0 120px
}

.elementor-7191 .elementor-element.elementor-element-1f4bdbcd>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-7191 .elementor-element.elementor-element-7ac7ad1a.elementor-column>.elementor-widget-wrap {
    justify-content: space-between
}

.elementor-7191 .elementor-element.elementor-element-1238c178 {
    text-align: left
}

.elementor-7191 .elementor-element.elementor-element-1238c178 img {
    border-radius: 50%
}

.elementor-7191 .elementor-element.elementor-element-106f3b52.elementor-column>.elementor-widget-wrap {
    justify-content: space-between
}

.elementor-7191 .elementor-element.elementor-element-7904e>.elementor-widget-container {
    padding: 0 0 2.5rem
}

.elementor-7191 .elementor-element.elementor-element-3e8bb0d7>.elementor-widget-container {
    padding: 0 0 40px
}

.elementor-7191 .elementor-element.elementor-element-42e18c46:not(.elementor-motion-effects-element-type-background),
.elementor-7191 .elementor-element.elementor-element-42e18c46>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary)
}

.elementor-7191 .elementor-element.elementor-element-42e18c46 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 120px 0 0
}

.elementor-7191 .elementor-element.elementor-element-42e18c46>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-7191 .elementor-element.elementor-element-6e053774>.elementor-element-populated {
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: #8F929534;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 0 3.5rem 0 0
}

.elementor-7191 .elementor-element.elementor-element-6e053774>.elementor-element-populated,
.elementor-7191 .elementor-element.elementor-element-6e053774>.elementor-element-populated>.elementor-background-overlay,
.elementor-7191 .elementor-element.elementor-element-6e053774>.elementor-background-slideshow {
    border-radius: 0
}

.elementor-7191 .elementor-element.elementor-element-6e053774>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-7191 .elementor-element.elementor-element-74cd36b4 .elementor-heading-title {
    color: var(--e-global-color-text)
}

.elementor-7191 .elementor-element.elementor-element-74cd36b4>.elementor-widget-container {
    padding: 0 0 2.625rem
}

.elementor-7191 .elementor-element.elementor-element-7ed99c82 .elementor-heading-title {
    color: var(--e-global-color-text);
    line-height: 1.2em
}

.elementor-7191 .elementor-element.elementor-element-7ed99c82>.elementor-widget-container {
    padding: 0 0 20px
}

.elementor-7191 .elementor-element.elementor-element-47464677>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-7191 .elementor-element.elementor-element-47464677:not(.elementor-motion-effects-element-type-background),
.elementor-7191 .elementor-element.elementor-element-47464677>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary)
}

.elementor-7191 .elementor-element.elementor-element-47464677 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-7191 .elementor-element.elementor-element-47464677>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-7191 .elementor-element.elementor-element-4f1b0a38 {
    --spacer-size: 215px
}



.elementor-7191 .elementor-element.elementor-element-2ba401c5>.elementor-container {
    max-width: 1172px
}

.elementor-7191 .elementor-element.elementor-element-2ba401c5:not(.elementor-motion-effects-element-type-background),
.elementor-7191 .elementor-element.elementor-element-2ba401c5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary)
}

.elementor-7191 .elementor-element.elementor-element-2ba401c5 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 0 0 7.5rem
}

.elementor-7191 .elementor-element.elementor-element-2ba401c5>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-7191 .elementor-element.elementor-element-725ea772>.elementor-element-populated {
    margin: 0 25%;
    --e-column-margin-right: 25%;
    --e-column-margin-left: 25%
}

.elementor-7191 .elementor-element.elementor-element-3f7c0030 {
    text-align: center
}

.elementor-7191 .elementor-element.elementor-element-3f7c0030>.elementor-widget-container {
    padding: 0 0 2.5rem
}

.elementor-7191 .elementor-element.elementor-element-1015537f {
    text-align: center
}

.elementor-7191 .elementor-element.elementor-element-1015537f .elementor-heading-title {
    color: var(--e-global-color-text)
}

.elementor-7191 .elementor-element.elementor-element-1015537f>.elementor-widget-container {
    padding: 0 0 2rem
}

.elementor-7191 .elementor-element.elementor-element-1f5d2a03 {
    text-align: center;
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: var(--e-global-typography-primary-font-size);
    font-weight: var(--e-global-typography-primary-font-weight);
    line-height: var(--e-global-typography-primary-line-height)
}

.elementor-7191 .elementor-element.elementor-element-1f5d2a03>.elementor-widget-container {
    margin: 0;
    padding: 0 0 3.75rem
}

.elementor-7191 .elementor-element.elementor-element-77902d82 .elementor-button .elementor-align-icon-right {
    margin-left: 16px
}

.elementor-7191 .elementor-element.elementor-element-77902d82 .elementor-button .elementor-align-icon-left {
    margin-right: 16px
}

.elementor-7191 .elementor-element.elementor-element-77902d82 .elementor-field-group {
    padding-right: calc(16px/2);
    padding-left: calc(16px/2);
    margin-bottom: 34px
}

.elementor-7191 .elementor-element.elementor-element-77902d82 .elementor-form-fields-wrapper {
    margin-left: calc(-16px/2);
    margin-right: calc(-16px/2);
    margin-bottom: -34px
}

.elementor-7191 .elementor-element.elementor-element-77902d82 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-7191 .elementor-element.elementor-element-77902d82 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0
}

body.rtl .elementor-7191 .elementor-element.elementor-element-77902d82 .elementor-labels-inline .elementor-field-group>label {
    padding-left: 8px
}

body:not(.rtl) .elementor-7191 .elementor-element.elementor-element-77902d82 .elementor-labels-inline .elementor-field-group>label {
    padding-right: 8px
}

body .elementor-7191 .elementor-element.elementor-element-77902d82 .elementor-labels-above .elementor-field-group>label {
    padding-bottom: 8px
}

.elementor-7191 .elementor-element.elementor-element-77902d82 .elementor-field-group>label,
.elementor-7191 .elementor-element.elementor-element-77902d82 .elementor-field-subgroup label {
    color: var(--e-global-color-text)
}

.elementor-7191 .elementor-element.elementor-element-77902d82 .elementor-mark-required .elementor-field-label:after {
    color: var(--e-global-color-secondary)
}

.elementor-7191 .elementor-element.elementor-element-77902d82 .elementor-field-group>label {
    font-family: "Inter", Sans-serif;
    font-size: .875rem;
    font-weight: 400
}

.elementor-7191 .elementor-element.elementor-element-77902d82 .elementor-field-type-html {
    padding-bottom: 0
}

.elementor-7191 .elementor-element.elementor-element-77902d82 .elementor-field-group .elementor-field {
    color: var(--e-global-color-text)
}

.elementor-7191 .elementor-element.elementor-element-77902d82 .elementor-field-group .elementor-field,
.elementor-7191 .elementor-element.elementor-element-77902d82 .elementor-field-subgroup label {
    font-family: "Inter", Sans-serif;
    font-weight: 400
}

.elementor-7191 .elementor-element.elementor-element-77902d82 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #2f2f2d;
    border-color: #343433;
    border-width: 0
}

.elementor-7191 .elementor-element.elementor-element-77902d82 .elementor-field-group .elementor-select-wrapper select {
    background-color: #2f2f2d;
    border-color: #343433;
    border-width: 0
}

.elementor-7191 .elementor-element.elementor-element-77902d82 .elementor-field-group .elementor-select-wrapper:before {
    color: #343433
}

.elementor-7191 .elementor-element.elementor-element-77902d82 .elementor-button {
    font-family: "Inter", Sans-serif;
    font-size: .9375rem;
    font-weight: 500;
    padding: 1em 1.25em
}

.elementor-7191 .elementor-element.elementor-element-77902d82 .e-form__buttons__wrapper__button-next {
    background-color: var(--e-global-color-text);
    color: var(--e-global-color-primary)
}

.elementor-7191 .elementor-element.elementor-element-77902d82 .elementor-button[type=submit] {
    background-color: var(--e-global-color-text);
    color: var(--e-global-color-primary)
}

.elementor-7191 .elementor-element.elementor-element-77902d82 .elementor-button[type=submit] svg * {
    fill: var(--e-global-color-primary)
}

.elementor-7191 .elementor-element.elementor-element-77902d82 .e-form__buttons__wrapper__button-previous {
    background-color: var(--e-global-color-text);
    color: var(--e-global-color-primary)
}

.elementor-7191 .elementor-element.elementor-element-77902d82 .e-form__buttons__wrapper__button-next:hover {
    background-color: var(--e-global-color-secondary);
    color: var(--e-global-color-text)
}

.elementor-7191 .elementor-element.elementor-element-77902d82 .elementor-button[type=submit]:hover {
    background-color: var(--e-global-color-secondary);
    color: var(--e-global-color-text)
}

.elementor-7191 .elementor-element.elementor-element-77902d82 .elementor-button[type=submit]:hover svg * {
    fill: var(--e-global-color-text)
}

.elementor-7191 .elementor-element.elementor-element-77902d82 .e-form__buttons__wrapper__button-previous:hover {
    background-color: var(--e-global-color-secondary);
    color: #fff
}

.elementor-7191 .elementor-element.elementor-element-77902d82 .elementor-message.elementor-message-success {
    color: #3ece61
}

.elementor-7191 .elementor-element.elementor-element-77902d82 .elementor-message.elementor-message-danger {
    color: red
}

.elementor-7191 .elementor-element.elementor-element-77902d82 .elementor-message.elementor-help-inline {
    color: var(--e-global-color-secondary)
}

.elementor-7191 .elementor-element.elementor-element-77902d82 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #fff;
    --e-form-steps-indicator-active-secondary-color: #fff;
    --e-form-steps-indicator-completed-secondary-color: #fff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px
}

.elementor-7191 .elementor-element.elementor-element-77902d82>.elementor-widget-container {
    margin: 0;
    padding: 0;
    border-radius: 8px
}

@media(min-width:768px) {
    .elementor-7191 .elementor-element.elementor-element-6e053774 {
        width: 25%
    }

    .elementor-7191 .elementor-element.elementor-element-5f00ff6b {
        width: 75%
    }
}

@media(max-width:1064px) {
    .elementor-7191 .elementor-element.elementor-element-2c2aeee1 {
        margin-top: 94px;
        margin-bottom: 0;
        padding: 3rem 1.25rem
    }

    .elementor-7191 .elementor-element.elementor-element-54a93ba1>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-7191 .elementor-element.elementor-element-54a93ba1>.elementor-element-populated {
        padding: 0 0 60px
    }

    .elementor-7191 .elementor-element.elementor-element-66304b20>.elementor-widget-container {
        padding: 0 0 1rem
    }

    .elementor-7191 .elementor-element.elementor-element-3b73b3f3.elementor-column>.elementor-widget-wrap {
        justify-content: center
    }

    .elementor-7191 .elementor-element.elementor-element-3b73b3f3>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-7191 .elementor-element.elementor-element-ae9df93 {
        text-align: center
    }

    .elementor-7191 .elementor-element.elementor-element-ae9df93 img {
        width: 60%
    }

    .elementor-7191 .elementor-element.elementor-element-1f4bdbcd {
        padding: 0 1.25rem 7.625rem
    }

    .elementor-7191 .elementor-element.elementor-element-1238c178 {
        text-align: center
    }

    .elementor-7191 .elementor-element.elementor-element-1238c178 img {
        width: 50%
    }

    .elementor-7191 .elementor-element.elementor-element-106f3b52>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-7191 .elementor-element.elementor-element-7904e>.elementor-widget-container {
        padding: 0 0 2rem
    }

    .elementor-7191 .elementor-element.elementor-element-3e8bb0d7>.elementor-widget-container {
        padding: 0 0 2rem
    }

    .elementor-7191 .elementor-element.elementor-element-42e18c46 {
        padding: 5rem 1.25rem 0
    }

    .elementor-7191 .elementor-element.elementor-element-725ea772>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-7191 .elementor-element.elementor-element-3f7c0030>.elementor-widget-container {
        margin: 2% 20% 0
    }

    .elementor-7191 .elementor-element.elementor-element-1015537f>.elementor-widget-container {
        margin: 0 10%
    }

    .elementor-7191 .elementor-element.elementor-element-1f5d2a03 {
        text-align: center;
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height)
    }

    .elementor-7191 .elementor-element.elementor-element-1f5d2a03>.elementor-widget-container {
        margin: 0 10%
    }
}

@media(max-width:767px) {
    .elementor-7191 .elementor-element.elementor-element-2c2aeee1 {
        margin-top: 93px;
        margin-bottom: 0;
        padding: 3.125rem 1.25rem 3rem
    }

    .elementor-7191 .elementor-element.elementor-element-66304b20>.elementor-widget-container {
        padding: 0 0 1.56rem
    }

    .elementor-7191 .elementor-element.elementor-element-ed4eaf4>.elementor-widget-container {
        padding: 0 0 1.56rem
    }

    .elementor-7191 .elementor-element.elementor-element-523a317b>.elementor-widget-container {
        padding: 0 0 1.24rem
    }

    .elementor-7191 .elementor-element.elementor-element-ae9df93 {
        text-align: center
    }

    .elementor-7191 .elementor-element.elementor-element-ae9df93 img {
        width: 100%
    }

    .elementor-7191 .elementor-element.elementor-element-1f4bdbcd {
        padding: 0 1.25rem 4.5rem
    }

    .elementor-7191 .elementor-element.elementor-element-1238c178 img {
        width: 90%
    }

    .elementor-7191 .elementor-element.elementor-element-7904e>.elementor-widget-container {
        padding: 0 0 1.75rem
    }

    .elementor-7191 .elementor-element.elementor-element-3e8bb0d7>.elementor-widget-container {
        padding: 0 0 3rem
    }

    .elementor-7191 .elementor-element.elementor-element-42e18c46 {
        padding: 4.6875rem 1.25rem 0
    }

    .elementor-7191 .elementor-element.elementor-element-6e053774>.elementor-element-populated {
        border-width: 0
    }

    .elementor-7191 .elementor-element.elementor-element-74cd36b4>.elementor-widget-container {
        padding: 0 0 2.3125rem
    }

    .elementor-7191 .elementor-element.elementor-element-7ed99c82>.elementor-widget-container {
        padding: 0 0 2.3125rem
    }

    .elementor-7191 .elementor-element.elementor-element-4f1b0a38>.elementor-widget-container {
        margin: 3.75rem 0 4rem
    }

    .elementor-7191 .elementor-element.elementor-element-2ba401c5 {
        padding: 0 1.25rem 4.6875rem
    }

    .elementor-7191 .elementor-element.elementor-element-725ea772>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0%;
        --e-column-margin-left: 0%
    }

    .elementor-7191 .elementor-element.elementor-element-3f7c0030>.elementor-widget-container {
        margin: 0;
        padding: 0 1.25rem 1.5625rem
    }

    .elementor-7191 .elementor-element.elementor-element-1015537f>.elementor-widget-container {
        margin: 0;
        padding: 0 1.25rem 1.5625rem
    }

    .elementor-7191 .elementor-element.elementor-element-1f5d2a03 {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height)
    }

    .elementor-7191 .elementor-element.elementor-element-1f5d2a03>.elementor-widget-container {
        margin: 0;
        padding: 0 1.25rem 2rem
    }
}

@media(max-width:1064px) and (min-width:768px) {
    .elementor-7191 .elementor-element.elementor-element-54a93ba1 {
        width: 100%
    }

    .elementor-7191 .elementor-element.elementor-element-3b73b3f3 {
        width: 100%
    }

    .elementor-7191 .elementor-element.elementor-element-7ac7ad1a {
        width: 100%
    }

    .elementor-7191 .elementor-element.elementor-element-106f3b52 {
        width: 100%
    }

    .elementor-7191 .elementor-element.elementor-element-725ea772 {
        width: 100%
    }
}



.welcomekit-job-name {
    margin: 0 0 10px;
    padding: 0;
    font-weight: 500;
    font-size: 19px;
    line-height: 20px
}

.welcomekit-job-name:hover {
    color: #e99b17
}

.welcomekit-job-infos {
    margin: 0;
    padding: 0
}

.welcomekit-job-infos>li {
    position: relative;
    display: inline-block;
    margin: 0 34px 0 0;
    color: #000
}

.welcomekit-job-infos>li:before {
    position: absolute;
    top: 6px;
    left: -20px;
    content: ' ';
    display: block;
    height: 6px;
    width: 6px;
    background: #fff;
    border-radius: 50%
}

.welcomekit-job-infos>li:first-child:before {
    display: none
}

.welcomekit-job-infos>li.welcomekit-job-description {
    display: block;
    margin: 10px 0 0;
    padding: 10px 20px;
    border-left: 2px solid #eee
}

.welcomekit-job-infos>li.welcomekit-job-description p,
.welcomekit-job-infos>li.welcomekit-job-description ul {
    margin: 0;
    padding: 0 0 10px;
    color: #bbb
}

.welcomekit-job-infos>li.welcomekit-job-description ul li {
    border-left: 1px solid #eee;
    padding-left: 10px;
    margin-bottom: 10px
}

.welcomekit-job-infos>li.welcomekit-job-description pre {
    border-left: 1px solid #eee;
    padding-left: 10px;
    overflow: auto
}

.welcomekit-job-infos>li.welcomekit-job-description:before {
    display: none
}

.welcomekit-office-city,
.welcomekit-department-name {
    display: block;
    padding: 15px;
    background: #eee;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    font-weight: 500;
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase
}

.welcomekit-warning {
    display: block;
    padding: 50px 0;
    text-align: center
}

@media only screen and (max-width:1064px) {
    .welcomekit-jobs-list {
        columns: 1
    }
}

@media only screen and (max-width:767px) {
    .welcomekit-jobs-list {
        padding-inline-start: 0px
    }

    .welcomekit-job-name,
    .welcomekit-job-officeCity,
    .welcomekit-job-contractType {
        font-size: 1rem !important
    }
}
