/* navbar */
.nos_service_href:hover {
    color: rgb(233, 155, 23) !important;
    font-weight: bold !important;
}

.dark_background {
    background-color: #1c1c1a;
}

.text_white {
    color: white !important;
    font-size: 12.5px !important;
    cursor: pointer;
    font-family: Inter, sans-serif !important;
}

.text_white:hover {
    color: #e99b17 !important;
    font-size: 13px !important;
    cursor: pointer;
    font-family: Inter, sans-serif !important;
}

.content_menu_item {
    color: black !important;
    font-size: 13px !important;
    font-weight: bold;
    cursor: pointer;

}

.content_menu_item:hover {
    color: #e99b17 !important;
    font-size: 13px !important;
    font-weight: bold;
    cursor: pointer;
}

.content_menu_item_active {
    color: #cc8710 !important;
    font-weight: bold;
    cursor: pointer;
    font-family: Inter, sans-serif !important;
}

.menu_item_navbar {
    border-bottom: 3px solid #e99b17;
}

/* pages services */
#footer-image {
    margin-top: 150px;
}

#footer_div {
    width: 100%;
    margin-top: -870px;
    height: 1100px;
}

#btn_form {
    background: #DE9E3C;
    border: none;
}

#div_btn_form {
    margin-right: 8%;
    margin-left: 8%;
    margin-top: 2%;
}

#textarea {
    background: #F5F5F5;
    height: 300px;
}

#div_textarea {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 3%;
}

.divs_form {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 3%;
}

/* #pilotage {
    margin-top: 10%;
} */

#title_form {
    margin-left: 8%;
}

#form_container {
    width: 45%;
    margin-left: 27%;
    margin-top: 70%;
    z-index: 1;
    position: relative;
}

@media only screen and (max-width: 767px) {
    #form_container {
        width: 80%;
        margin-left: 10%;
    }
}

.div_contacter_expert {
    margin-left: auto;
    margin-top: auto;
}

.div_contacter_expert a {
    background: #DE9E3C;
    border: none;
    border-radius: 5px;
}

.section_container_paragraph {
    width: 95%;

}

#description_paragraph {
    font-size: 20px;
    margin-left: 12%;
    padding-bottom: 450px;
}

#description_paragraph_reb {
    font-size: 20px;
    margin-left: 12%;
    margin-top: 15%;
    margin-bottom: 3%;

}

.section_separator {
    margin-bottom: 10%;
}

#experiance_user_description_paragraph {
    font-size: 20px;
    margin-left: 12%;
    padding-bottom: 450px;
}

#experiance_user_content_container {
    width: 75%;
    margin-top: -1250px;
}

.main_app_header {
    margin-bottom: 80px;
}

.app_d_v_header_container {

    margin-top: 10%;
}

.main_app_header {
    float: right;
    margin-top: 15%;
}

#starter_content_container {
    width: 100%;
    margin: 0 auto;

}

/* Default style for all devices */
.app_header_img {
    width: 50%;
    height: auto;

    position: absolute;
    background: red;

    top: 380px;
    bottom: 0px;
    /* left: 0; */
    /* position: absolute; */
    /* margin-top: -150px; */
    /* top: -50; */

    /* Adjust the value as needed */
    /*  left: 0;
    width: 100%;
    height: auto;
    z-index: 1; */
    /*  margin-top: -15%; */
    /*  margin-top: -250px; */
    /* position: absolute;
    top: 0; */
}


.app_header_container {
    margin-top: 50%;
}


.first_div {
    width: 75%;
    /* margin-top: -44%; */
}

.tout_nos_services_container {
    margin-top: 10%;
}

/* Media query for mobile devices */
@media only screen and (max-width: 767px) {
    .tout_nos_services_container {
        margin-top: 2% !important;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .section_container_paragraph_p {
        margin-right: 10%;
    }

    #experiance_user_content_container {
        width: 75%;
        margin-top: -1150px;
    }

    .section_container_content {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .tout_nos_services_child_b {
        order: 1;

        width: 100%;
        display: flex;
        justify-content: center;
    }

    .tout_nos_services_child_b_1 {

        width: 100%;
        display: flex;
        justify-content: center;
    }



    .tout_nos_services_child_a {
        order: 2;
        margin-top: 5%;
        width: 100%;
    }

    .tout_nos_services_child_a_1 {
        margin-top: 5%;
        width: 100%;
        padding-left: 10%;
    }

    .first_div {
        /*  margin-top: -760px; */
    }

    .app_header_img {
        width: 75%;
        margin-top: -100px;
    }

    .main_app_header {
        float: right;
        margin-top: 15%;

    }

    #has_ae_slider_app_style {
        margin-bottom: -250px;
    }


    .app_header_container {
        margin-top: 10%;
    }
}

.bg_black {
    background-color: #1c1c1a;
}

.h1_title {
    color: #000000;
    font-weight: bold;

}

.title_spacing {

    margin-left: 100px;
    padding-top: 55px;
}

.select2-container.select2-container--default .select2-selection--single {
    background-color: #F5F5F5;
    border-radius: 5.5px !important;
}

#co-construire-votre-stratégie-technologique {
    position: relative;
    left: 0;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
    width: 75%;
    z-index: 1;
}

#architecture {
    position: relative;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    width: 75%;
    margin-top: 5%;
}

#halaloya_navbar_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f0f0f0;
}

#svg_mobile_container {
    position: relative;
    margin-left: 7%;
    margin-top: 7%;
}

#mobile_view_hr {
    position: absolute;

    margin-top: 18%;
    width: 100%;
    border: 1px solid black;
}

#close_svg_container {
    /* position: absolute;
    top:2%;
    right: 7%; */
    /*  float: right; */
    /* text-align: right; */
    /* position: absolute; */
    /*   top:2%;
    right: 7%; */
    margin-right: 7%;
    margin-top: 7%;
    text-align: right;

}

/* #close_svg{
 position: absolute;


    margin-right: 7%;
    margin-top: 7%;
    margin-left: 85%;
    padding:2%;
} */
#mobile_view_main_content {
    margin-top: 7%;
}

.mobile_view_navigation_title {
    margin-left: 10%;
    font-weight: 400 !important;

}

.color_gold {
    color: gold !important;
}

#section_three_container_tout_nos_services {
    width: 75%;
    margin-top: 10%;
}


/* font family to all pages */
* {
    font-family: 'Inter' !important;

}

.fa {
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900 !important;
}

.fa,
.fas {
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900 !important;
}

.ubuntu_font_family {
    font-family: 'Ubuntu' !important;
}

.cost_img {
    width: 80%;
    height: auto;
}

.nos_centres_links {

    color: black !important;
    font-size: 15px !important;
}

.nos_centres_links:hover {
    color: orange !important;
}

.nos_centres_web {
    display: flex !important;
}

.nos_centres_web_home {
    display: flex !important;
    margin-left: 14% !important;
}

@media only screen and (max-width: 1000px) {
    .nos_centres_web {
        display: block !important;
    }

    .nos_centres_web_home {
        display: block !important;
        margin-left: 0% !important;
    }

    .nos_centres_links {
        margin-top: 5%;
    }
}