.elementor-5739 .elementor-element.elementor-element-6b0a4ce8>.elementor-container {
    max-width: 1172px
}

.elementor-5739 .elementor-element.elementor-element-6b0a4ce8>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: flex-end;
    align-items: flex-end
}

.elementor-5739 .elementor-element.elementor-element-6b0a4ce8 {
    margin-top: 46px;
    margin-bottom: 0;
    padding: 0 0 3.75rem
}

.elementor-bc-flex-widget .elementor-5739 .elementor-element.elementor-element-623525c7.elementor-column .elementor-widget-wrap {
    align-items: center
}

.elementor-5739 .elementor-element.elementor-element-623525c7.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center
}

.elementor-5739 .elementor-element.elementor-element-623525c7>.elementor-element-populated {
    padding: 0 4rem 0 0
}

.elementor-5739 .elementor-element.elementor-element-565ae4d .elementor-heading-title {
    font-family: "Ubuntu", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px
}

.elementor-5739 .elementor-element.elementor-element-565ae4d>.elementor-widget-container {
    margin: 0;
    padding: 0 0 1.25rem
}

.elementor-5739 .elementor-element.elementor-element-2ae593c0>.elementor-widget-container {
    margin: 0;
    padding: 0 0 2.5rem
}

.elementor-5739 .elementor-element.elementor-element-2a42b6a2 .ae-element-post-content {
    color: var(--e-global-color-primary);
    text-align: left;
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: var(--e-global-typography-primary-font-size);
    font-weight: var(--e-global-typography-primary-font-weight);
    line-height: var(--e-global-typography-primary-line-height)
}

.elementor-5739 .elementor-element.elementor-element-2a42b6a2>.elementor-widget-container {
    margin: 0;
    padding: 0 0 2.5rem
}

.elementor-5739 .elementor-element.elementor-element-6c555022 .elementor-button .elementor-align-icon-right {
    margin-left: 16px
}

.elementor-5739 .elementor-element.elementor-element-6c555022 .elementor-button .elementor-align-icon-left {
    margin-right: 16px
}

.elementor-5739 .elementor-element.elementor-element-6c555022 .elementor-button:hover,
.elementor-5739 .elementor-element.elementor-element-6c555022 .elementor-button:focus {
    color: var(--e-global-color-text);
    background-color: var(--e-global-color-secondary)
}

.elementor-5739 .elementor-element.elementor-element-6c555022 .elementor-button:hover svg,
.elementor-5739 .elementor-element.elementor-element-6c555022 .elementor-button:focus svg {
    fill: var(--e-global-color-text)
}

.elementor-5739 .elementor-element.elementor-element-6c555022 a.elementor-button:hover .elementor-button-icon i {
    color: var(--e-global-color-text)
}

.elementor-5739 .elementor-element.elementor-element-6c555022>.elementor-widget-container {
    padding: 0
}

.elementor-5739 .elementor-element.elementor-element-590c94d0 {
    text-align: right
}

.elementor-5739 .elementor-element.elementor-element-2dcad01e>.elementor-container {
    max-width: 1172px
}

.elementor-5739 .elementor-element.elementor-element-2dcad01e {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 5rem
}

.elementor-msie .elementor-5739 .elementor-element.elementor-element-46bd9558 .elementor-portfolio-item {
    width: calc(100%/3)
}

.elementor-5739 .elementor-element.elementor-element-46bd9558 .elementor-post__thumbnail__link {
    padding-bottom: calc(.66*100%)
}

.elementor-5739 .elementor-element.elementor-element-46bd9558:after {
    content: "0.66";
    position: absolute;
    color: transparent
}

.elementor-5739 .elementor-element.elementor-element-46bd9558 {
    --grid-column-gap: 24px;
    --grid-row-gap: 24px
}

.elementor-5739 .elementor-element.elementor-element-46bd9558 .elementor-portfolio-item__img,
.elementor-5739 .elementor-element.elementor-element-46bd9558 .elementor-portfolio-item__overlay {
    border-radius: 8px
}

.elementor-5739 .elementor-element.elementor-element-46bd9558 a .elementor-portfolio-item__overlay {
    background-color: #FFFFFFD1
}

.elementor-5739 .elementor-element.elementor-element-46bd9558 a .elementor-portfolio-item__title {
    color: var(--e-global-color-primary)
}

.elementor-5739 .elementor-element.elementor-element-46bd9558 .elementor-portfolio__filter {
    color: var(--e-global-color-primary);
    font-family: "Inter", Sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7em
}

.elementor-5739 .elementor-element.elementor-element-46bd9558 .elementor-portfolio__filter.elementor-active {
    color: var(--e-global-color-secondary)
}

.elementor-5739 .elementor-element.elementor-element-46bd9558 .elementor-portfolio__filter:not(:last-child) {
    margin-right: calc(26px/2)
}

.elementor-5739 .elementor-element.elementor-element-46bd9558 .elementor-portfolio__filter:not(:first-child) {
    margin-left: calc(26px/2)
}

.elementor-5739 .elementor-element.elementor-element-46bd9558 .elementor-portfolio__filters {
    margin-bottom: 40px
}

.elementor-5739 .elementor-element.elementor-element-46bd9558>.elementor-widget-container {
    padding: 1rem 0 0
}

.elementor-5739 .elementor-element.elementor-element-13af330b>.elementor-container {
    max-width: 1172px
}

.elementor-5739 .elementor-element.elementor-element-13af330b>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-5739 .elementor-element.elementor-element-13af330b:not(.elementor-motion-effects-element-type-background),
.elementor-5739 .elementor-element.elementor-element-13af330b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary)
}

.elementor-5739 .elementor-element.elementor-element-13af330b {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 7.5em 0 0;
    z-index: 0
}

.elementor-5739 .elementor-element.elementor-element-13af330b>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-5739 .elementor-element.elementor-element-4c31ae15>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0%;
    --e-column-margin-left: 0%
}

.elementor-5739 .elementor-element.elementor-element-18755e40 .elementor-heading-title {
    color: var(--e-global-color-secondary)
}

.elementor-5739 .elementor-element.elementor-element-18755e40>.elementor-widget-container {
    margin: 0 40% 0 0;
    padding: 0 0 2.5rem
}

.elementor-5739 .elementor-element.elementor-element-22d4fb31 .elementor-heading-title {
    color: var(--e-global-color-text)
}

.elementor-5739 .elementor-element.elementor-element-22d4fb31>.elementor-widget-container {
    margin: 0 30% 0 0;
    padding: 0 0 2.5rem
}

.elementor-5739 .elementor-element.elementor-element-7fe7db76 .elementor-button .elementor-align-icon-right {
    margin-left: 16px
}

.elementor-5739 .elementor-element.elementor-element-7fe7db76 .elementor-button .elementor-align-icon-left {
    margin-right: 16px
}

.elementor-5739 .elementor-element.elementor-element-7fe7db76 .elementor-button {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    background-color: #fff
}

.elementor-5739 .elementor-element.elementor-element-7fe7db76 .elementor-button:hover,
.elementor-5739 .elementor-element.elementor-element-7fe7db76 .elementor-button:focus {
    background-color: var(--e-global-color-secondary)
}

.elementor-5739 .elementor-element.elementor-element-7fe7db76>.elementor-widget-container {
    margin: 0;
    padding: 0 0 2.5rem
}

.elementor-5739 .elementor-element.elementor-element-7fe7db76 {
    width: auto;
    max-width: auto
}

.elementor-5739 .elementor-element.elementor-element-6114887f {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    z-index: 1
}

.elementor-5739 .elementor-element.elementor-element-697cdbf0 .ae-widget-title-wrap {
    text-align: center
}

.elementor-5739 .elementor-element.elementor-element-697cdbf0 .ae-swiper-button-prev i {
    color: var(--e-global-color-text);
    font-size: 30px
}

.elementor-5739 .elementor-element.elementor-element-697cdbf0 .ae-swiper-button-next i {
    color: var(--e-global-color-text);
    font-size: 30px
}

.elementor-5739 .elementor-element.elementor-element-697cdbf0 .ae-swiper-button-prev svg {
    fill: var(--e-global-color-text);
    width: 30px
}

.elementor-5739 .elementor-element.elementor-element-697cdbf0 .ae-swiper-button-next svg {
    fill: var(--e-global-color-text);
    width: 30px
}

.elementor-5739 .elementor-element.elementor-element-697cdbf0 .ae-swiper-button-prev:hover i {
    color: var(--e-global-color-secondary)
}

.elementor-5739 .elementor-element.elementor-element-697cdbf0 .ae-swiper-button-next:hover i {
    color: var(--e-global-color-secondary)
}

.elementor-5739 .elementor-element.elementor-element-697cdbf0 .ae-swiper-button-prev:hover svg {
    fill: var(--e-global-color-secondary)
}

.elementor-5739 .elementor-element.elementor-element-697cdbf0 .ae-swiper-button-next:hover svg {
    fill: var(--e-global-color-secondary)
}

.elementor-5739 .elementor-element.elementor-element-697cdbf0 .ae-swiper-container .ae-swiper-button-prev:hover {
    border-radius: 50%;
    overflow: hidden
}

.elementor-5739 .elementor-element.elementor-element-697cdbf0 .ae-swiper-container .ae-swiper-button-next:hover {
    border-radius: 50%;
    overflow: hidden
}

.elementor-5739 .elementor-element.elementor-element-697cdbf0 .ae-swiper-container {
    margin-left: 46px;
    margin-right: 46px
}

.elementor-5739 .elementor-element.elementor-element-697cdbf0 .ae-swiper-outer-wrapper {
    position: relative
}

.elementor-5739 .elementor-element.elementor-element-697cdbf0 .ae-swiper-button-prev {
    left: 0;
    padding: 0
}

.elementor-5739 .elementor-element.elementor-element-697cdbf0 .ae-swiper-button-next {
    right: 0;
    padding: 0
}

.elementor-5739 .elementor-element.elementor-element-697cdbf0 .ae-widget-title-inner {
    border-style: solid;
    border-width: 0 0 1px;
    padding: 8em 0 0;
    margin: 5em 0 0
}

.elementor-5739 .elementor-element.elementor-element-697cdbf0>.elementor-widget-container {
    margin: 0;
    padding: 0;
    background-color: var(--e-global-color-primary)
}

.elementor-5739 .elementor-element.elementor-element-697cdbf0 {
    z-index: 2
}

@media(min-width:768px) {
    .elementor-5739 .elementor-element.elementor-element-4c31ae15 {
        width: 100%
    }
}

@media(max-width:1064px) {
    .elementor-5739 .elementor-element.elementor-element-6b0a4ce8 {
        margin-top: 80px;
        margin-bottom: 0;
        padding: 0 1.25rem 3.75rem
    }

    .elementor-5739 .elementor-element.elementor-element-2a42b6a2 .ae-element-post-content {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height)
    }

    .elementor-5739 .elementor-element.elementor-element-3fe6ac5c.elementor-column>.elementor-widget-wrap {
        justify-content: center
    }

    .elementor-5739 .elementor-element.elementor-element-590c94d0 {
        text-align: center
    }

    .elementor-5739 .elementor-element.elementor-element-2dcad01e {
        padding: 0 1.25rem 5rem
    }

    .elementor-msie .elementor-5739 .elementor-element.elementor-element-46bd9558 .elementor-portfolio-item {
        width: calc(100%/2)
    }

    .elementor-5739 .elementor-element.elementor-element-13af330b {
        margin-top: 0;
        margin-bottom: 0;
        padding: 2rem 1.25rem 0
    }

    .elementor-5739 .elementor-element.elementor-element-4c31ae15>.elementor-element-populated {
        padding: 0 20px 0 0
    }
}

@media(max-width:767px) {
    .elementor-5739 .elementor-element.elementor-element-6b0a4ce8 {
        padding: 3.125rem 0 3.3125rem
    }

    .elementor-5739 .elementor-element.elementor-element-623525c7>.elementor-element-populated {
        padding: 0 1.25rem 3.125rem
    }

    .elementor-5739 .elementor-element.elementor-element-2a42b6a2 .ae-element-post-content {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height)
    }

    .elementor-5739 .elementor-element.elementor-element-3fe6ac5c>.elementor-element-populated {
        padding: 0
    }

    .elementor-5739 .elementor-element.elementor-element-2dcad01e {
        padding: 0 1.25rem 3.5625rem
    }

    .elementor-msie .elementor-5739 .elementor-element.elementor-element-46bd9558 .elementor-portfolio-item {
        width: calc(100%/1)
    }

    .elementor-5739 .elementor-element.elementor-element-46bd9558 .elementor-portfolio__filter {
        font-size: 1rem;
        line-height: 2em
    }

    .elementor-5739 .elementor-element.elementor-element-13af330b {
        padding: 3.3125rem 1.25rem 0
    }

    .elementor-5739 .elementor-element.elementor-element-6114887f {
        padding: 0
    }
}

@media(max-width:1064px) and (min-width:768px) {
    .elementor-5739 .elementor-element.elementor-element-623525c7 {
        width: 100%
    }

    .elementor-5739 .elementor-element.elementor-element-3fe6ac5c {
        width: 100%
    }
}