.elementor-3064 .elementor-element.elementor-element-5b43ed9>.elementor-container {
    max-width: 1172px
}

.elementor-3064 .elementor-element.elementor-element-5b43ed9>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-3064 .elementor-element.elementor-element-5b43ed9 {
    margin-top: 48px;
    margin-bottom: 0;
    padding: 0
}

.elementor-3064 .elementor-element.elementor-element-1c4d399>.elementor-element-populated {
    padding: 7rem 4rem 0 0
}

.elementor-3064 .elementor-element.elementor-element-7bb28e5 .elementor-heading-title {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
    -webkit-text-stroke-color: #000;
    stroke: #000
}

.elementor-3064 .elementor-element.elementor-element-7bb28e5>.elementor-widget-container {
    padding: 0 0 1.25rem
}

.elementor-3064 .elementor-element.elementor-element-a0c1b9a>.elementor-widget-container {
    padding: 0 0 1.25rem
}

.elementor-3064 .elementor-element.elementor-element-f6d870e .elementor-widget-container {
    font-family: "Inter", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px
}

.elementor-3064 .elementor-element.elementor-element-f6d870e>.elementor-widget-container {
    padding: 0 0 2.5rem
}

.elementor-3064 .elementor-element.elementor-element-9e56f70>.elementor-element-populated {
    padding: 0 1.25rem 0 0
}

.elementor-3064 .elementor-element.elementor-element-eedc914 .elementor-button .elementor-align-icon-right {
    margin-left: 16px
}

.elementor-3064 .elementor-element.elementor-element-eedc914 .elementor-button .elementor-align-icon-left {
    margin-right: 16px
}

.elementor-3064 .elementor-element.elementor-element-eedc914 .elementor-button {
    fill: var(--e-global-color-text);
    color: var(--e-global-color-text);
    background-color: var(--e-global-color-primary)
}

.elementor-3064 .elementor-element.elementor-element-eedc914 .elementor-button:hover,
.elementor-3064 .elementor-element.elementor-element-eedc914 .elementor-button:focus {
    color: var(--e-global-color-text);
    background-color: var(--e-global-color-secondary)
}

.elementor-3064 .elementor-element.elementor-element-eedc914 .elementor-button:hover svg,
.elementor-3064 .elementor-element.elementor-element-eedc914 .elementor-button:focus svg {
    fill: var(--e-global-color-text)
}

.elementor-3064 .elementor-element.elementor-element-eedc914 a.elementor-button .elementor-button-icon i {
    color: var(--e-global-color-text)
}

.elementor-3064 .elementor-element.elementor-element-eedc914 a.elementor-button:hover .elementor-button-icon i {
    color: var(--e-global-color-text)
}

.elementor-3064 .elementor-element.elementor-element-eedc914>.elementor-widget-container {
    margin: 0;
    padding: 0 1em 1em 0
}

.elementor-3064 .elementor-element.elementor-element-eedc914 {
    width: auto;
    max-width: auto
}

.elementor-3064 .elementor-element.elementor-element-b7a276f .elementor-button .elementor-align-icon-right {
    margin-left: 16px
}

.elementor-3064 .elementor-element.elementor-element-b7a276f .elementor-button .elementor-align-icon-left {
    margin-right: 16px
}

.elementor-3064 .elementor-element.elementor-element-b7a276f .elementor-button {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    background-color: var(--e-global-color-text);
    border-style: solid;
    border-width: 1px;
    border-color: var(--e-global-color-secondary)
}

.elementor-3064 .elementor-element.elementor-element-b7a276f .elementor-button:hover,
.elementor-3064 .elementor-element.elementor-element-b7a276f .elementor-button:focus {
    color: var(--e-global-color-text);
    background-color: var(--e-global-color-secondary)
}

.elementor-3064 .elementor-element.elementor-element-b7a276f .elementor-button:hover svg,
.elementor-3064 .elementor-element.elementor-element-b7a276f .elementor-button:focus svg {
    fill: var(--e-global-color-text)
}

.elementor-3064 .elementor-element.elementor-element-b7a276f a.elementor-button {
    border-color: var(--e-global-color-primary)
}

.elementor-3064 .elementor-element.elementor-element-b7a276f a.elementor-button .elementor-button-icon i {
    color: var(--e-global-color-primary)
}

.elementor-3064 .elementor-element.elementor-element-b7a276f a.elementor-button:hover {
    border-color: var(--e-global-color-secondary)
}

.elementor-3064 .elementor-element.elementor-element-b7a276f a.elementor-button:hover .elementor-button-icon i {
    color: var(--e-global-color-text)
}

.elementor-3064 .elementor-element.elementor-element-b7a276f>.elementor-widget-container {
    padding: 0 0 1rem
}

.elementor-3064 .elementor-element.elementor-element-b7a276f {
    width: auto;
    max-width: auto
}

.elementor-3064 .elementor-element.elementor-element-92c7082 {
    padding: 7.5rem 0
}

.elementor-3064 .elementor-element.elementor-element-255cebc>.elementor-element-populated {
    padding: 0 25%
}

.elementor-3064 .elementor-element.elementor-element-58843b3>.elementor-widget-container {
    margin: 0;
    padding: 0 0 1.5rem
}

.elementor-3064 .elementor-element.elementor-element-e2f8dcf .elementor-heading-title {
    color: var(--e-global-color-primary)
}

.elementor-3064 .elementor-element.elementor-element-e2f8dcf>.elementor-widget-container {
    margin: 0 0 20px;
    padding: 0 0 1.5rem
}

.elementor-3064 .elementor-element.elementor-element-c039764 {
    color: var(--e-global-color-primary);
    font-family: "Inter", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px
}

.elementor-3064 .elementor-element.elementor-element-c039764>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-3064 .elementor-element.elementor-element-b94284d>.elementor-container {
    max-width: 1172px
}

.elementor-3064 .elementor-element.elementor-element-b94284d:not(.elementor-motion-effects-element-type-background),
.elementor-3064 .elementor-element.elementor-element-b94284d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary)
}

.elementor-3064 .elementor-element.elementor-element-b94284d {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 100px 0 0
}

.elementor-3064 .elementor-element.elementor-element-b94284d>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-3064 .elementor-element.elementor-element-2a4716b>.elementor-element-populated {
    padding: 0 0 0 25%
}

.elementor-3064 .elementor-element.elementor-element-e4ab10f {
    text-align: left
}

.elementor-3064 .elementor-element.elementor-element-e4ab10f .elementor-heading-title {
    color: var(--e-global-color-text);
    font-family: "Ubuntu", Sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1em
}

.elementor-3064 .elementor-element.elementor-element-e4ab10f>.elementor-widget-container {
    margin: 0;
    padding: 0 0 2.5rem
}

.elementor-3064 .elementor-element.elementor-element-b1a41b5 {
    text-align: left
}

.elementor-3064 .elementor-element.elementor-element-b1a41b5 .elementor-heading-title {
    color: var(--e-global-color-text);
    font-family: "Inter", Sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.7em
}

.elementor-3064 .elementor-element.elementor-element-b1a41b5>.elementor-widget-container {
    margin: 0;
    padding: 0 0 3.75rem
}

.elementor-3064 .elementor-element.elementor-element-a112cc3>.elementor-container {
    max-width: 1172px
}

.elementor-3064 .elementor-element.elementor-element-a112cc3:not(.elementor-motion-effects-element-type-background),
.elementor-3064 .elementor-element.elementor-element-a112cc3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary)
}

.elementor-3064 .elementor-element.elementor-element-a112cc3 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 0
}

.elementor-3064 .elementor-element.elementor-element-a112cc3>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-3064 .elementor-element.elementor-element-2bd4578>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-3064 .elementor-element.elementor-element-2bd4578>.elementor-element-populated {
    padding: 0 0 0 25%
}

.elementor-3064 .elementor-element.elementor-element-01ea810 .ae-acf-repeater-item {
    width: calc(100%/1);
    margin-bottom: 0
}

.elementor-3064 .elementor-element.elementor-element-01ea810.ae-acf-repeater-layout-grid .ae-acf-repeater-item {
    padding-left: 0;
    padding-right: 0
}

.elementor-3064 .elementor-element.elementor-element-01ea810 .ae-widget-title-wrap {
    text-align: center
}

.elementor-3064 .elementor-element.elementor-element-01ea810 .ae-widget-title-inner {
    border-style: solid;
    border-width: 0 0 1px;
    padding: 0 10px 5px;
    margin: 0 0 10px
}

@media(max-width:1064px) {
    .elementor-3064 .elementor-element.elementor-element-5b43ed9 {
        padding: 0 0 3rem 1.25rem
    }

    .elementor-3064 .elementor-element.elementor-element-1c4d399>.elementor-element-populated {
        padding: 5rem 2rem 0 0
    }

    .elementor-3064 .elementor-element.elementor-element-7bb28e5 .elementor-heading-title {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height)
    }

    .elementor-3064 .elementor-element.elementor-element-255cebc>.elementor-element-populated {
        padding: 0 20%
    }

    .elementor-3064 .elementor-element.elementor-element-b94284d {
        padding: 6.25rem 1.25rem 0
    }

    .elementor-3064 .elementor-element.elementor-element-2a4716b>.elementor-element-populated {
        padding: 0
    }

    .elementor-3064 .elementor-element.elementor-element-a112cc3 {
        padding: 0 0 6.25rem
    }

    .elementor-3064 .elementor-element.elementor-element-2bd4578>.elementor-element-populated {
        padding: 0 1.25rem
    }

    .elementor-3064 .elementor-element.elementor-element-01ea810 .ae-acf-repeater-item {
        width: calc(100%/1)
    }
}

@media(max-width:767px) {
    .elementor-3064 .elementor-element.elementor-element-5b43ed9 {
        padding: 5rem 0 0
    }

    .elementor-3064 .elementor-element.elementor-element-1c4d399 {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1
    }

    .elementor-3064 .elementor-element.elementor-element-1c4d399>.elementor-element-populated {
        padding: 0 1.25rem
    }

    .elementor-3064 .elementor-element.elementor-element-7bb28e5 .elementor-heading-title {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height)
    }

    .elementor-3064 .elementor-element.elementor-element-f7ab536 {
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2
    }

    .elementor-3064 .elementor-element.elementor-element-92c7082 {
        padding: 2.6875rem 0 4.875rem
    }

    .elementor-3064 .elementor-element.elementor-element-255cebc>.elementor-element-populated {
        padding: 0 1.25rem
    }

    .elementor-3064 .elementor-element.elementor-element-b94284d {
        padding: 3.125rem 0 0
    }

    .elementor-3064 .elementor-element.elementor-element-2a4716b>.elementor-element-populated {
        padding: 0 1.25rem
    }

    .elementor-3064 .elementor-element.elementor-element-e4ab10f .elementor-heading-title {
        font-size: 1.375rem;
        line-height: 1.625em
    }

    .elementor-3064 .elementor-element.elementor-element-b1a41b5 .elementor-heading-title {
        font-size: 1.25rem;
        line-height: 1.6875em
    }

    .elementor-3064 .elementor-element.elementor-element-a112cc3 {
        padding: 0 1.25rem 4.375rem
    }

    .elementor-3064 .elementor-element.elementor-element-2bd4578>.elementor-element-populated {
        padding: 0
    }

    .elementor-3064 .elementor-element.elementor-element-01ea810 .ae-acf-repeater-item {
        width: calc(100%/1)
    }
}