.elementor-4451 .elementor-element.elementor-element-8ae760f .elementor-button .elementor-align-icon-right {
    margin-left: 0
}

.elementor-4451 .elementor-element.elementor-element-8ae760f .elementor-button .elementor-align-icon-left {
    margin-right: 0
}

.elementor-4451 .elementor-element.elementor-element-8ae760f .elementor-button {
    font-family: "Inter", Sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1em;
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    background-color: #1C1C1A0B;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    padding: 12px 16px
}

.elementor-4451 .elementor-element.elementor-element-8ae760f .elementor-button:hover,
.elementor-4451 .elementor-element.elementor-element-8ae760f .elementor-button:focus {
    color: var(--e-global-color-primary);
    background-color: #1C1C1A0B
}

.elementor-4451 .elementor-element.elementor-element-8ae760f .elementor-button:hover svg,
.elementor-4451 .elementor-element.elementor-element-8ae760f .elementor-button:focus svg {
    fill: var(--e-global-color-primary)
}

.elementor-4451 .elementor-element.elementor-element-8ae760f>.elementor-widget-container {
    margin: 0;
    padding: 0 1.25rem 0 0
}

.elementor-4451 .elementor-element.elementor-element-8ae760f {
    width: auto;
    max-width: auto
}

.elementor-4451 .elementor-element.elementor-element-99cfddb .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.4em
}

.elementor-4451 .elementor-element.elementor-element-99cfddb>.elementor-widget-container {
    margin: 0 1rem 0 0;
    padding: 8px 16px;
    background-color: #1C1C1A0B;
    border-radius: 4px
}

.elementor-4451 .elementor-element.elementor-element-99cfddb {
    width: auto;
    max-width: auto
}

@media(max-width:767px) {
    .elementor-4451 .elementor-element.elementor-element-99cfddb .elementor-heading-title {
        font-size: 1rem;
        line-height: 1.5em
    }
}

.colonne-accordeon-tag {
    display: inline
}

.section-accordeon-tag {
    display: inline
}