.elementor-141 .elementor-element.elementor-element-1cc0273>.elementor-container {
    max-width: 1172px
}

.elementor-141 .elementor-element.elementor-element-1cc0273>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-141 .elementor-element.elementor-element-1cc0273:not(.elementor-motion-effects-element-type-background),
.elementor-141 .elementor-element.elementor-element-1cc0273>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary)
}

.elementor-141 .elementor-element.elementor-element-1cc0273 {
    border-style: solid;
    border-width: 1px 0;
    border-color: #8F929542;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 2.5rem 0
}

.elementor-141 .elementor-element.elementor-element-1cc0273>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-141 .elementor-element.elementor-element-3372839 {
    text-align: left
}

.elementor-141 .elementor-element.elementor-element-3372839 .elementor-heading-title {
    color: var(--e-global-color-text);
    font-family: "Inter", Sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 20px
}

.elementor-bc-flex-widget .elementor-141 .elementor-element.elementor-element-adde5c2.elementor-column .elementor-widget-wrap {
    align-items: flex-end
}

.elementor-141 .elementor-element.elementor-element-adde5c2.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-end;
    align-items: flex-end
}

.elementor-141 .elementor-element.elementor-element-adde5c2.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end
}

.elementor-141 .elementor-element.elementor-element-adde5c2>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-141 .elementor-element.elementor-element-adde5c2 {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0
}

.elementor-141 .elementor-element.elementor-element-029f0b8 {
    text-align: left
}

.elementor-141 .elementor-element.elementor-element-029f0b8 img {
    width: 100%;
    max-width: 72px
}

.elementor-141 .elementor-element.elementor-element-029f0b8:hover img {
    filter: brightness(65%) contrast(200%) saturate(0%) blur(0px) hue-rotate(0deg)
}

.elementor-141 .elementor-element.elementor-element-029f0b8>.elementor-widget-container {
    padding: 0 2rem 0 0
}

.elementor-141 .elementor-element.elementor-element-b0bec5b {
    text-align: left
}

.elementor-141 .elementor-element.elementor-element-b0bec5b img {
    width: 100%;
    max-width: 115px
}

.elementor-141 .elementor-element.elementor-element-b0bec5b:hover img {
    filter: brightness(200%) contrast(80%) saturate(0%) blur(0px) hue-rotate(0deg)
}

.elementor-141 .elementor-element.elementor-element-b0bec5b>.elementor-widget-container {
    padding: 0 2rem 0 0
}

.elementor-141 .elementor-element.elementor-element-3f0a4d3 {
    text-align: right
}

.elementor-141 .elementor-element.elementor-element-3f0a4d3 img {
    width: 100%;
    max-width: 226px
}

.elementor-141 .elementor-element.elementor-element-3f0a4d3:hover img {
    filter: brightness(80%) contrast(200%) saturate(100%) blur(0px) hue-rotate(0deg)
}

.elementor-141 .elementor-element.elementor-element-5d0c11e>.elementor-container {
    max-width: 1172px
}

.elementor-141 .elementor-element.elementor-element-5d0c11e>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: flex-start;
    align-items: flex-start
}

.elementor-141 .elementor-element.elementor-element-5d0c11e:not(.elementor-motion-effects-element-type-background),
.elementor-141 .elementor-element.elementor-element-5d0c11e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary)
}

.elementor-141 .elementor-element.elementor-element-5d0c11e {
    border-style: solid;
    border-width: 0 0 1px;
    border-color: #8F92953B;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 60px 0
}

.elementor-141 .elementor-element.elementor-element-5d0c11e>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-141 .elementor-element.elementor-element-e23c21c .elementor-heading-title {
    color: var(--e-global-color-text);
    font-family: "Inter", Sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 20px
}

.elementor-141 .elementor-element.elementor-element-e23c21c>.elementor-widget-container {
    margin: 0 2rem 1.25rem 0;
    padding: 0 0 1rem;
    border-style: solid;
    border-width: 0 0 1px;
    border-color: #8F92953B
}

.elementor-141 .elementor-element.elementor-element-4a23e70 .menu-item a.hfe-menu-item {
    padding-left: 0;
    padding-right: 0
}

.elementor-141 .elementor-element.elementor-element-4a23e70 .menu-item a.hfe-sub-menu-item {
    padding-left: calc(0px + 20px);
    padding-right: 0
}

.elementor-141 .elementor-element.elementor-element-4a23e70 .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 40px);
    padding-right: 0
}

.elementor-141 .elementor-element.elementor-element-4a23e70 .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 60px);
    padding-right: 0
}

.elementor-141 .elementor-element.elementor-element-4a23e70 .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 80px);
    padding-right: 0
}

.elementor-141 .elementor-element.elementor-element-4a23e70 .menu-item a.hfe-menu-item,
.elementor-141 .elementor-element.elementor-element-4a23e70 .menu-item a.hfe-sub-menu-item {
    padding-top: 0;
    padding-bottom: 0
}

body:not(.rtl) .elementor-141 .elementor-element.elementor-element-4a23e70 .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-right: 0
}

body.rtl .elementor-141 .elementor-element.elementor-element-4a23e70 .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-left: 0
}

.elementor-141 .elementor-element.elementor-element-4a23e70 nav:not(.hfe-nav-menu__layout-horizontal) .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-bottom: 0
}

.elementor-141 .elementor-element.elementor-element-4a23e70 a.hfe-menu-item,
.elementor-141 .elementor-element.elementor-element-4a23e70 a.hfe-sub-menu-item {
    font-family: "Inter", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px
}

.elementor-141 .elementor-element.elementor-element-4a23e70 .menu-item a.hfe-menu-item,
.elementor-141 .elementor-element.elementor-element-4a23e70 .sub-menu a.hfe-sub-menu-item {
    color: var(--e-global-color-text)
}

.elementor-141 .elementor-element.elementor-element-4a23e70 .menu-item a.hfe-menu-item:hover,
.elementor-141 .elementor-element.elementor-element-4a23e70 .sub-menu a.hfe-sub-menu-item:hover,
.elementor-141 .elementor-element.elementor-element-4a23e70 .menu-item.current-menu-item a.hfe-menu-item,
.elementor-141 .elementor-element.elementor-element-4a23e70 .menu-item a.hfe-menu-item.highlighted,
.elementor-141 .elementor-element.elementor-element-4a23e70 .menu-item a.hfe-menu-item:focus {
    color: var(--e-global-color-secondary)
}

.elementor-141 .elementor-element.elementor-element-4a23e70 .menu-item.current-menu-item a.hfe-menu-item,
.elementor-141 .elementor-element.elementor-element-4a23e70 .menu-item.current-menu-ancestor a.hfe-menu-item {
    color: var(--e-global-color-text)
}

.elementor-141 .elementor-element.elementor-element-4a23e70 .sub-menu,
.elementor-141 .elementor-element.elementor-element-4a23e70 nav.hfe-dropdown,
.elementor-141 .elementor-element.elementor-element-4a23e70 nav.hfe-dropdown-expandible,
.elementor-141 .elementor-element.elementor-element-4a23e70 nav.hfe-dropdown .menu-item a.hfe-menu-item,
.elementor-141 .elementor-element.elementor-element-4a23e70 nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
    background-color: #fff
}

.elementor-141 .elementor-element.elementor-element-4a23e70 .sub-menu a.hfe-sub-menu-item,
.elementor-141 .elementor-element.elementor-element-4a23e70 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-141 .elementor-element.elementor-element-4a23e70 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-141 .elementor-element.elementor-element-4a23e70 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-141 .elementor-element.elementor-element-4a23e70 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-141 .elementor-element.elementor-element-4a23e70 .sub-menu li.menu-item:not(:last-child),
.elementor-141 .elementor-element.elementor-element-4a23e70 nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-141 .elementor-element.elementor-element-4a23e70 nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
    border-bottom-style: solid;
    border-bottom-color: #c4c4c4;
    border-bottom-width: 1px
}

.elementor-141 .elementor-element.elementor-element-4a23e70>.elementor-widget-container {
    margin: 0 70px 0 0;
    padding: 0
}

.elementor-141 .elementor-element.elementor-element-d937ea1 .elementor-heading-title {
    color: var(--e-global-color-text);
    font-family: "Inter", Sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 20px
}

.elementor-141 .elementor-element.elementor-element-d937ea1>.elementor-widget-container {
    margin: 0 0 1.25rem;
    padding: 0 0 1rem;
    border-style: solid;
    border-width: 0 0 1px;
    border-color: #8F92953B;
    border-radius: 0
}

.elementor-141 .elementor-element.elementor-element-337e6fb .menu-item a.hfe-menu-item {
    padding-left: 0;
    padding-right: 0
}

.elementor-141 .elementor-element.elementor-element-337e6fb .menu-item a.hfe-sub-menu-item {
    padding-left: calc(0px + 20px);
    padding-right: 0
}

.elementor-141 .elementor-element.elementor-element-337e6fb .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 40px);
    padding-right: 0
}

.elementor-141 .elementor-element.elementor-element-337e6fb .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 60px);
    padding-right: 0
}

.elementor-141 .elementor-element.elementor-element-337e6fb .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 80px);
    padding-right: 0
}

.elementor-141 .elementor-element.elementor-element-337e6fb .menu-item a.hfe-menu-item,
.elementor-141 .elementor-element.elementor-element-337e6fb .menu-item a.hfe-sub-menu-item {
    padding-top: 0;
    padding-bottom: 0
}

.elementor-141 .elementor-element.elementor-element-337e6fb a.hfe-menu-item,
.elementor-141 .elementor-element.elementor-element-337e6fb a.hfe-sub-menu-item {
    font-family: "Inter", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px
}

.elementor-141 .elementor-element.elementor-element-337e6fb .menu-item a.hfe-menu-item,
.elementor-141 .elementor-element.elementor-element-337e6fb .sub-menu a.hfe-sub-menu-item {
    color: var(--e-global-color-text)
}

.elementor-141 .elementor-element.elementor-element-337e6fb .menu-item a.hfe-menu-item:hover,
.elementor-141 .elementor-element.elementor-element-337e6fb .sub-menu a.hfe-sub-menu-item:hover,
.elementor-141 .elementor-element.elementor-element-337e6fb .menu-item.current-menu-item a.hfe-menu-item,
.elementor-141 .elementor-element.elementor-element-337e6fb .menu-item a.hfe-menu-item.highlighted,
.elementor-141 .elementor-element.elementor-element-337e6fb .menu-item a.hfe-menu-item:focus {
    color: var(--e-global-color-secondary)
}

.elementor-141 .elementor-element.elementor-element-337e6fb .menu-item.current-menu-item a.hfe-menu-item,
.elementor-141 .elementor-element.elementor-element-337e6fb .menu-item.current-menu-ancestor a.hfe-menu-item {
    color: var(--e-global-color-text)
}

.elementor-141 .elementor-element.elementor-element-337e6fb .sub-menu,
.elementor-141 .elementor-element.elementor-element-337e6fb nav.hfe-dropdown,
.elementor-141 .elementor-element.elementor-element-337e6fb nav.hfe-dropdown-expandible,
.elementor-141 .elementor-element.elementor-element-337e6fb nav.hfe-dropdown .menu-item a.hfe-menu-item,
.elementor-141 .elementor-element.elementor-element-337e6fb nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
    background-color: #fff
}

.elementor-141 .elementor-element.elementor-element-337e6fb .sub-menu a.hfe-sub-menu-item,
.elementor-141 .elementor-element.elementor-element-337e6fb nav.hfe-dropdown li a.hfe-menu-item,
.elementor-141 .elementor-element.elementor-element-337e6fb nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-141 .elementor-element.elementor-element-337e6fb nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-141 .elementor-element.elementor-element-337e6fb nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-141 .elementor-element.elementor-element-337e6fb .sub-menu li.menu-item:not(:last-child),
.elementor-141 .elementor-element.elementor-element-337e6fb nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-141 .elementor-element.elementor-element-337e6fb nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
    border-bottom-style: solid;
    border-bottom-color: #c4c4c4;
    border-bottom-width: 1px
}

.elementor-141 .elementor-element.elementor-element-a3f2efe>.elementor-container {
    max-width: 1172px
}

.elementor-141 .elementor-element.elementor-element-a3f2efe>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-141 .elementor-element.elementor-element-a3f2efe:not(.elementor-motion-effects-element-type-background),
.elementor-141 .elementor-element.elementor-element-a3f2efe>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary)
}

.elementor-141 .elementor-element.elementor-element-a3f2efe {
    border-style: solid;
    border-width: 0 0 1px;
    border-color: #8F92953B;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 1.875rem 0
}

.elementor-141 .elementor-element.elementor-element-a3f2efe>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-141 .elementor-element.elementor-element-9b23dc5 .elementor-icon-wrapper {
    text-align: left
}

.elementor-141 .elementor-element.elementor-element-9b23dc5.elementor-view-stacked .elementor-icon:hover {
    background-color: var(--e-global-color-secondary)
}

.elementor-141 .elementor-element.elementor-element-9b23dc5.elementor-view-framed .elementor-icon:hover,
.elementor-141 .elementor-element.elementor-element-9b23dc5.elementor-view-default .elementor-icon:hover {
    color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-secondary)
}

.elementor-141 .elementor-element.elementor-element-9b23dc5.elementor-view-framed .elementor-icon:hover,
.elementor-141 .elementor-element.elementor-element-9b23dc5.elementor-view-default .elementor-icon:hover svg {
    fill: var(--e-global-color-secondary)
}

.elementor-141 .elementor-element.elementor-element-9b23dc5 .elementor-icon {
    font-size: 32px
}

.elementor-141 .elementor-element.elementor-element-9b23dc5 .elementor-icon i,
.elementor-141 .elementor-element.elementor-element-9b23dc5 .elementor-icon svg {
    transform: rotate(0deg)
}

.elementor-141 .elementor-element.elementor-element-9b23dc5>.elementor-widget-container {
    margin: 0 70px 0 0
}

.elementor-141 .elementor-element.elementor-element-6a7a328 {
    columns: 3;
    column-gap: 50px;
    text-align: left;
    color: var(--e-global-color-text);
    font-family: "Ubuntu", Sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    line-height: 1.5em;
    width: auto;
    max-width: auto
}

.elementor-141 .elementor-element.elementor-element-caf29d4>.elementor-container {
    max-width: 1172px
}

.elementor-141 .elementor-element.elementor-element-caf29d4>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-141 .elementor-element.elementor-element-caf29d4:not(.elementor-motion-effects-element-type-background),
.elementor-141 .elementor-element.elementor-element-caf29d4>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary)
}

.elementor-141 .elementor-element.elementor-element-caf29d4>.elementor-background-overlay {
    background-color: var(--e-global-color-primary);
    opacity: .5;
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-141 .elementor-element.elementor-element-caf29d4 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 1rem 0 4rem
}

.elementor-141 .elementor-element.elementor-element-c8be929 .menu-item a.hfe-menu-item {
    padding-left: 0;
    padding-right: 0
}

.elementor-141 .elementor-element.elementor-element-c8be929 .menu-item a.hfe-sub-menu-item {
    padding-left: calc(0px + 20px);
    padding-right: 0
}

.elementor-141 .elementor-element.elementor-element-c8be929 .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 40px);
    padding-right: 0
}

.elementor-141 .elementor-element.elementor-element-c8be929 .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 60px);
    padding-right: 0
}

.elementor-141 .elementor-element.elementor-element-c8be929 .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
    padding-left: calc(0px + 80px);
    padding-right: 0
}

.elementor-141 .elementor-element.elementor-element-c8be929 .menu-item a.hfe-menu-item,
.elementor-141 .elementor-element.elementor-element-c8be929 .menu-item a.hfe-sub-menu-item {
    padding-top: 0;
    padding-bottom: 0
}

body:not(.rtl) .elementor-141 .elementor-element.elementor-element-c8be929 .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-right: 0
}

body.rtl .elementor-141 .elementor-element.elementor-element-c8be929 .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-left: 0
}

.elementor-141 .elementor-element.elementor-element-c8be929 nav:not(.hfe-nav-menu__layout-horizontal) .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-bottom: 0
}

.elementor-141 .elementor-element.elementor-element-c8be929 a.hfe-menu-item,
.elementor-141 .elementor-element.elementor-element-c8be929 a.hfe-sub-menu-item {
    font-family: "Inter", Sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25em
}

.elementor-141 .elementor-element.elementor-element-c8be929 .menu-item a.hfe-menu-item,
.elementor-141 .elementor-element.elementor-element-c8be929 .sub-menu a.hfe-sub-menu-item {
    color: #8f9295
}

.elementor-141 .elementor-element.elementor-element-c8be929 .menu-item a.hfe-menu-item:hover,
.elementor-141 .elementor-element.elementor-element-c8be929 .sub-menu a.hfe-sub-menu-item:hover,
.elementor-141 .elementor-element.elementor-element-c8be929 .menu-item.current-menu-item a.hfe-menu-item,
.elementor-141 .elementor-element.elementor-element-c8be929 .menu-item a.hfe-menu-item.highlighted,
.elementor-141 .elementor-element.elementor-element-c8be929 .menu-item a.hfe-menu-item:focus {
    color: var(--e-global-color-text)
}

.elementor-141 .elementor-element.elementor-element-c8be929 .sub-menu,
.elementor-141 .elementor-element.elementor-element-c8be929 nav.hfe-dropdown,
.elementor-141 .elementor-element.elementor-element-c8be929 nav.hfe-dropdown-expandible,
.elementor-141 .elementor-element.elementor-element-c8be929 nav.hfe-dropdown .menu-item a.hfe-menu-item,
.elementor-141 .elementor-element.elementor-element-c8be929 nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
    background-color: #fff
}

.elementor-141 .elementor-element.elementor-element-c8be929 .sub-menu a.hfe-sub-menu-item,
.elementor-141 .elementor-element.elementor-element-c8be929 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-141 .elementor-element.elementor-element-c8be929 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-141 .elementor-element.elementor-element-c8be929 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-141 .elementor-element.elementor-element-c8be929 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-141 .elementor-element.elementor-element-c8be929 .sub-menu li.menu-item:not(:last-child),
.elementor-141 .elementor-element.elementor-element-c8be929 nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-141 .elementor-element.elementor-element-c8be929 nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
    border-bottom-style: solid;
    border-bottom-color: #c4c4c4;
    border-bottom-width: 1px
}

.elementor-141 .elementor-element.elementor-element-c8be929>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-141 .elementor-element.elementor-element-4f4cd25>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-141 .elementor-element.elementor-element-d702f16 .hfe-copyright-wrapper {
    text-align: right
}

.elementor-141 .elementor-element.elementor-element-d702f16 .hfe-copyright-wrapper a,
.elementor-141 .elementor-element.elementor-element-d702f16 .hfe-copyright-wrapper {
    color: var(--e-global-color-accent)
}

.elementor-141 .elementor-element.elementor-element-d702f16 .hfe-copyright-wrapper,
.elementor-141 .elementor-element.elementor-element-d702f16 .hfe-copyright-wrapper a {
    font-size: .87rem
}

@media(max-width:1064px) {
    .elementor-141 .elementor-element.elementor-element-1cc0273 {
        padding: 40px 20px
    }

    .elementor-141 .elementor-element.elementor-element-5d0c11e {
        padding: 60px 20px
    }

    body:not(.rtl) .elementor-141 .elementor-element.elementor-element-4a23e70.hfe-nav-menu__breakpoint-tablet .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-right: 0
    }

    body .elementor-141 .elementor-element.elementor-element-4a23e70 nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-bottom: 0
    }

    body:not(.rtl) .elementor-141 .elementor-element.elementor-element-337e6fb.hfe-nav-menu__breakpoint-tablet .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-right: 0
    }

    body .elementor-141 .elementor-element.elementor-element-337e6fb nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-bottom: 0
    }

    .elementor-141 .elementor-element.elementor-element-a3f2efe {
        padding: 0 1.25rem 1.875rem
    }

    .elementor-141 .elementor-element.elementor-element-4fa06d7>.elementor-element-populated {
        padding: 2rem 0
    }

    .elementor-141 .elementor-element.elementor-element-6a7a328 {
        columns: 1
    }

    .elementor-141 .elementor-element.elementor-element-caf29d4 {
        padding: 10px 20px 65px
    }

    body:not(.rtl) .elementor-141 .elementor-element.elementor-element-c8be929.hfe-nav-menu__breakpoint-tablet .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-right: 0
    }

    body .elementor-141 .elementor-element.elementor-element-c8be929 nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-bottom: 0
    }
}

@media(max-width:767px) {
    .elementor-141 .elementor-element.elementor-element-1cc0273 {
        margin-top: 0;
        margin-bottom: 0;
        padding: 2.5rem 1.25rem
    }

    .elementor-141 .elementor-element.elementor-element-3372839>.elementor-widget-container {
        padding: 0 0 32px
    }

    .elementor-bc-flex-widget .elementor-141 .elementor-element.elementor-element-adde5c2.elementor-column .elementor-widget-wrap {
        align-items: space-between
    }

    .elementor-141 .elementor-element.elementor-element-adde5c2.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: space-between;
        align-items: space-between
    }

    .elementor-141 .elementor-element.elementor-element-adde5c2>.elementor-element-populated {
        padding: 0 0 28px
    }

    .elementor-141 .elementor-element.elementor-element-029f0b8 {
        text-align: left
    }

    .elementor-141 .elementor-element.elementor-element-029f0b8 img {
        width: 100%;
        max-width: 55px
    }

    .elementor-141 .elementor-element.elementor-element-029f0b8>.elementor-widget-container {
        padding: 0 1rem 0 0
    }

    .elementor-141 .elementor-element.elementor-element-b0bec5b img {
        width: 100%;
        max-width: 93px
    }

    .elementor-141 .elementor-element.elementor-element-b0bec5b>.elementor-widget-container {
        padding: 0 1rem 0 0
    }

    .elementor-141 .elementor-element.elementor-element-3f0a4d3 {
        text-align: left
    }

    .elementor-141 .elementor-element.elementor-element-3f0a4d3 img {
        width: 100%;
        max-width: 116px
    }

    .elementor-141 .elementor-element.elementor-element-5d0c11e {
        padding: 60px 20px
    }

    .elementor-141 .elementor-element.elementor-element-e23c21c>.elementor-widget-container {
        margin: 0 0 32px;
        padding: 0 0 15px
    }

    .elementor-141 .elementor-element.elementor-element-4a23e70 .menu-item a.hfe-menu-item,
    .elementor-141 .elementor-element.elementor-element-4a23e70 .menu-item a.hfe-sub-menu-item {
        padding-top: 4px;
        padding-bottom: 4px
    }

    body:not(.rtl) .elementor-141 .elementor-element.elementor-element-4a23e70.hfe-nav-menu__breakpoint-mobile .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-right: 0
    }

    body .elementor-141 .elementor-element.elementor-element-4a23e70 nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-bottom: 0
    }

    .elementor-141 .elementor-element.elementor-element-4a23e70>.elementor-widget-container {
        margin: 0;
        padding: 0 0 2.5rem
    }

    .elementor-141 .elementor-element.elementor-element-d937ea1>.elementor-widget-container {
        margin: 30px 0 32px
    }

    .elementor-141 .elementor-element.elementor-element-337e6fb .menu-item a.hfe-menu-item,
    .elementor-141 .elementor-element.elementor-element-337e6fb .menu-item a.hfe-sub-menu-item {
        padding-top: 3px;
        padding-bottom: 3px
    }

    body:not(.rtl) .elementor-141 .elementor-element.elementor-element-337e6fb .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-right: 0
    }

    body.rtl .elementor-141 .elementor-element.elementor-element-337e6fb .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-left: 0
    }

    .elementor-141 .elementor-element.elementor-element-337e6fb nav:not(.hfe-nav-menu__layout-horizontal) .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-bottom: 0
    }

    body:not(.rtl) .elementor-141 .elementor-element.elementor-element-337e6fb.hfe-nav-menu__breakpoint-mobile .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-right: 0
    }

    body .elementor-141 .elementor-element.elementor-element-337e6fb nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-bottom: 0
    }

    .elementor-141 .elementor-element.elementor-element-a3f2efe {
        padding: 50px 20px
    }

    .elementor-141 .elementor-element.elementor-element-4fa06d7>.elementor-element-populated {
        padding: 0
    }

    .elementor-141 .elementor-element.elementor-element-9b23dc5 .elementor-icon {
        font-size: 44px
    }

    .elementor-141 .elementor-element.elementor-element-9b23dc5>.elementor-widget-container {
        margin: 0;
        padding: 0 0 2rem
    }

    .elementor-141 .elementor-element.elementor-element-6a7a328 {
        columns: 1
    }

    .elementor-141 .elementor-element.elementor-element-caf29d4 {
        padding: 50px 20px 65px
    }

    .elementor-141 .elementor-element.elementor-element-c8be929 .menu-item a.hfe-menu-item,
    .elementor-141 .elementor-element.elementor-element-c8be929 .menu-item a.hfe-sub-menu-item {
        padding-top: 8px;
        padding-bottom: 8px
    }

    body:not(.rtl) .elementor-141 .elementor-element.elementor-element-c8be929.hfe-nav-menu__breakpoint-mobile .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-right: 0
    }

    body .elementor-141 .elementor-element.elementor-element-c8be929 nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-bottom: 0
    }

    body:not(.rtl) .elementor-141 .elementor-element.elementor-element-c8be929 .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-right: 0
    }

    body.rtl .elementor-141 .elementor-element.elementor-element-c8be929 .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-left: 0
    }

    .elementor-141 .elementor-element.elementor-element-c8be929 nav:not(.hfe-nav-menu__layout-horizontal) .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-bottom: 0
    }

    .elementor-141 .elementor-element.elementor-element-c8be929>.elementor-widget-container {
        margin: 0;
        padding: 0 0 1rem
    }

    .elementor-141 .elementor-element.elementor-element-d702f16 .hfe-copyright-wrapper {
        text-align: left
    }
}

@media(min-width:768px) {
    .elementor-141 .elementor-element.elementor-element-a19c940 {
        width: 40.974%
    }

    .elementor-141 .elementor-element.elementor-element-adde5c2 {
        width: 59.026%
    }

    .elementor-141 .elementor-element.elementor-element-4fa06d7 {
        width: 39.764%
    }

    .elementor-141 .elementor-element.elementor-element-5fc0d2b {
        width: 60.236%
    }
}

@media(max-width:1064px) and (min-width:768px) {
    .elementor-141 .elementor-element.elementor-element-4fa06d7 {
        width: 50%
    }

    .elementor-141 .elementor-element.elementor-element-5fc0d2b {
        width: 50%
    }
}