.elementor-59 .elementor-element.elementor-element-3c936ef5>.elementor-container {
    max-width: 1172px
}

.elementor-59 .elementor-element.elementor-element-3c936ef5>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: flex-end;
    align-items: flex-end
}

.elementor-59 .elementor-element.elementor-element-3c936ef5 {
    margin-top: 49px;
    margin-bottom: 30px
}

.elementor-59 .elementor-element.elementor-element-5c802962>.elementor-element-populated {
    padding: 0 60px 0 0
}

.elementor-59 .elementor-element.elementor-element-2b007c65>.elementor-widget-container {
    padding: 0 0 20px
}

.elementor-59 .elementor-element.elementor-element-78e0a205>.elementor-widget-container {
    padding: 0 0 40px
}

.elementor-59 .elementor-element.elementor-element-3464aea5 {
    text-align: left
}

.elementor-59 .elementor-element.elementor-element-3464aea5>.elementor-widget-container {
    padding: 0 0 40px
}

.elementor-59 .elementor-element.elementor-element-2802c8cb>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-59 .elementor-element.elementor-element-68602afe.elementor-column>.elementor-widget-wrap {
    justify-content: flex-start
}

.elementor-59 .elementor-element.elementor-element-68602afe>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-59 .elementor-element.elementor-element-150a7553 .elementor-button .elementor-align-icon-right {
    margin-left: 16px
}

.elementor-59 .elementor-element.elementor-element-150a7553 .elementor-button .elementor-align-icon-left {
    margin-right: 16px
}

.elementor-59 .elementor-element.elementor-element-150a7553 .elementor-button {
    fill: var(--e-global-color-text);
    color: var(--e-global-color-text);
    background-color: var(--e-global-color-primary)
}

.elementor-59 .elementor-element.elementor-element-150a7553 .elementor-button:hover,
.elementor-59 .elementor-element.elementor-element-150a7553 .elementor-button:focus {
    color: var(--e-global-color-text);
    background-color: var(--e-global-color-secondary)
}

.elementor-59 .elementor-element.elementor-element-150a7553 .elementor-button:hover svg,
.elementor-59 .elementor-element.elementor-element-150a7553 .elementor-button:focus svg {
    fill: var(--e-global-color-text)
}

.elementor-59 .elementor-element.elementor-element-150a7553 a.elementor-button:hover .elementor-button-icon i {
    color: var(--e-global-color-text)
}

.elementor-59 .elementor-element.elementor-element-150a7553>.elementor-widget-container {
    padding: 0 18px 0 0
}

.elementor-59 .elementor-element.elementor-element-6818b40a {
    text-align: right
}

.elementor-59 .elementor-element.elementor-element-95e0c34>.elementor-container {
    max-width: 1172px
}

.elementor-59 .elementor-element.elementor-element-95e0c34>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-59 .elementor-element.elementor-element-95e0c34 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 5rem 0 0
}

.elementor-59 .elementor-element.elementor-element-42cecf9>.elementor-element-populated {
    padding: 0 60px 0 0
}

.elementor-59 .elementor-element.elementor-element-8ddfe7d>.elementor-widget-container {
    padding: 0 0 40px
}

.elementor-59 .elementor-element.elementor-element-74959db {
    text-align: left
}

.elementor-59 .elementor-element.elementor-element-74959db>.elementor-widget-container {
    padding: 0
}

.elementor-59 .elementor-element.elementor-element-8af4d1b {
    text-align: right
}

.elementor-59 .elementor-element.elementor-element-50335665>.elementor-container {
    max-width: 1172px
}

.elementor-59 .elementor-element.elementor-element-50335665,
.elementor-59 .elementor-element.elementor-element-50335665>.elementor-background-overlay {
    border-radius: 0
}

.elementor-59 .elementor-element.elementor-element-50335665 {
    margin-top: 0;
    margin-bottom: 4rem;
    padding: 5rem 0 0
}

.elementor-59 .elementor-element.elementor-element-60535d69>.elementor-element-populated,
.elementor-59 .elementor-element.elementor-element-60535d69>.elementor-element-populated>.elementor-background-overlay,
.elementor-59 .elementor-element.elementor-element-60535d69>.elementor-background-slideshow {
    border-radius: 0
}

.elementor-59 .elementor-element.elementor-element-1cf7d574 .ae-accordion-item .ae-tab-title {
    border-style: solid;
    border-width: 0 0 1px;
    border-color: #8F929534
}

.elementor-59 .elementor-element.elementor-element-1cf7d574 .ae-accordion .ae-tab-title {
    background-color: var(--e-global-color-text);
    color: var(--e-global-color-primary);
    font-family: "Inter", Sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.9em;
    padding: .5em 0
}

.elementor-59 .elementor-element.elementor-element-1cf7d574 .ae-accordion .ae-tab-title.ae-active {
    background-color: var(--e-global-color-text);
    color: var(--e-global-color-secondary)
}

.elementor-59 .elementor-element.elementor-element-1cf7d574 .ae-tab-title {
    text-align: left
}

.elementor-59 .elementor-element.elementor-element-1cf7d574 .ae-accordion .ae-tab-title .ae-accordion-icon i:before {
    color: var(--e-global-color-accent)
}

.elementor-59 .elementor-element.elementor-element-1cf7d574 .ae-accordion .ae-tab-title .ae-accordion-icon svg {
    fill: var(--e-global-color-accent)
}

.elementor-59 .elementor-element.elementor-element-1cf7d574 .ae-accordion .ae-accordion-icon.ae-accordion-icon-left {
    margin-right: 0
}

.elementor-59 .elementor-element.elementor-element-1cf7d574 .ae-accordion .ae-accordion-icon.ae-accordion-icon-right {
    margin-left: 0
}

.elementor-59 .elementor-element.elementor-element-1cf7d574 .ae-accordion .ae-tab-content {
    background-color: var(--e-global-color-text);
    padding: 0 0 1em
}

.elementor-59 .elementor-element.elementor-element-1cf7d574 .ae-tab-content {
    border-style: solid;
    border-width: 0
}

.elementor-59 .elementor-element.elementor-element-1cf7d574 .ae-widget-title-wrap {
    text-align: center
}

.elementor-59 .elementor-element.elementor-element-1cf7d574 .ae-widget-title {
    color: var(--e-global-color-primary)
}

.elementor-59 .elementor-element.elementor-element-1cf7d574 .ae-widget-title-inner {
    border-style: solid;
    border-width: 0 0 1px;
    border-color: var(--e-global-color-primary);
    padding: 0 10px 5px;
    margin: 0 0 10px
}

.elementor-59 .elementor-element.elementor-element-1cf7d574>.elementor-widget-container {
    margin: 0;
    padding: 1rem 2rem 2rem;
    background-color: var(--e-global-color-text);
    border-radius: 8px
}

.elementor-59 .elementor-element.elementor-element-df1693c>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-59 .elementor-element.elementor-element-df1693c:not(.elementor-motion-effects-element-type-background),
.elementor-59 .elementor-element.elementor-element-df1693c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary)
}

.elementor-59 .elementor-element.elementor-element-df1693c {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 100px 0 0
}

.elementor-59 .elementor-element.elementor-element-df1693c>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-59 .elementor-element.elementor-element-c8432f8>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-59 .elementor-element.elementor-element-5183191>.elementor-container {
    max-width: 1172px
}

.elementor-59 .elementor-element.elementor-element-5183191>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-59 .elementor-element.elementor-element-dfacaeb>.elementor-element-populated {
    padding: 0 80px 0 0
}

.elementor-59 .elementor-element.elementor-element-35b2af1 .elementor-heading-title {
    color: var(--e-global-color-text)
}

.elementor-59 .elementor-element.elementor-element-35b2af1>.elementor-widget-container {
    padding: 0 0 30px
}

.elementor-59 .elementor-element.elementor-element-54900ed {
    color: var(--e-global-color-text)
}

.elementor-59 .elementor-element.elementor-element-5d525c5 {
    margin-top: 70px;
    margin-bottom: 35px
}

.elementor-59 .elementor-element.elementor-element-75b4425 .elementor-button {
    fill: #135cfd;
    color: #135cfd;
    background-color: var(--e-global-color-primary)
}

.elementor-59 .elementor-element.elementor-element-75b4425 .elementor-button:hover,
.elementor-59 .elementor-element.elementor-element-75b4425 .elementor-button:focus {
    color: #135cfd;
    background-color: var(--e-global-color-primary)
}

.elementor-59 .elementor-element.elementor-element-75b4425 .elementor-button:hover svg,
.elementor-59 .elementor-element.elementor-element-75b4425 .elementor-button:focus svg {
    fill: #135cfd
}

.elementor-59 .elementor-element.elementor-element-75b4425 a.elementor-button:hover .elementor-button-icon i {
    color: #135cfd !important
}

.elementor-59 .elementor-element.elementor-element-af52bec .elementor-button {
    fill: var(--e-global-color-secondary);
    color: var(--e-global-color-secondary);
    background-color: var(--e-global-color-primary)
}

.elementor-59 .elementor-element.elementor-element-af52bec .elementor-button:hover,
.elementor-59 .elementor-element.elementor-element-af52bec .elementor-button:focus {
    color: var(--e-global-color-secondary);
    background-color: var(--e-global-color-primary)
}

.elementor-59 .elementor-element.elementor-element-af52bec .elementor-button:hover svg,
.elementor-59 .elementor-element.elementor-element-af52bec .elementor-button:focus svg {
    fill: var(--e-global-color-secondary)
}

.elementor-59 .elementor-element.elementor-element-af52bec a.elementor-button:hover .elementor-button-icon i {
    color: var(--e-global-color-secondary)
}

.elementor-59 .elementor-element.elementor-element-37c71e2 .elementor-button {
    fill: var(--e-global-color-text);
    color: var(--e-global-color-text);
    background-color: var(--e-global-color-primary)
}

.elementor-59 .elementor-element.elementor-element-37c71e2 .elementor-button:hover,
.elementor-59 .elementor-element.elementor-element-37c71e2 .elementor-button:focus {
    color: var(--e-global-color-text);
    background-color: var(--e-global-color-primary)
}

.elementor-59 .elementor-element.elementor-element-37c71e2 .elementor-button:hover svg,
.elementor-59 .elementor-element.elementor-element-37c71e2 .elementor-button:focus svg {
    fill: var(--e-global-color-text)
}

.elementor-59 .elementor-element.elementor-element-37c71e2 a.elementor-button:hover .elementor-button-icon i {
    color: var(--e-global-color-text)
}

.elementor-59 .elementor-element.elementor-element-2e80cb3 .elementor-button {
    fill: #3cedb7;
    color: #3cedb7;
    background-color: var(--e-global-color-primary)
}

.elementor-59 .elementor-element.elementor-element-2e80cb3 .elementor-button:hover,
.elementor-59 .elementor-element.elementor-element-2e80cb3 .elementor-button:focus {
    color: #3cedb7;
    background-color: var(--e-global-color-primary)
}

.elementor-59 .elementor-element.elementor-element-2e80cb3 .elementor-button:hover svg,
.elementor-59 .elementor-element.elementor-element-2e80cb3 .elementor-button:focus svg {
    fill: #3cedb7
}

.elementor-59 .elementor-element.elementor-element-2e80cb3 a.elementor-button:hover .elementor-button-icon i {
    color: #3cedb7 !important
}

.elementor-59 .elementor-element.elementor-element-4b9ab4e3:not(.elementor-motion-effects-element-type-background),
.elementor-59 .elementor-element.elementor-element-4b9ab4e3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary)
}

.elementor-59 .elementor-element.elementor-element-4b9ab4e3 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 80px
}

.elementor-59 .elementor-element.elementor-element-4b9ab4e3>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-59 .elementor-element.elementor-element-38abaad4 {
    --spacer-size: 215px
}

.elementor-59 .elementor-element.elementor-element-38abaad4>.elementor-widget-container {
    margin: 120px 0 80px;
    padding: 0;
    background-image: url("http://preprod.bti-advisory.com/wp-content/uploads/2022/01/Pattern-2.png")
}

.elementor-59 .elementor-element.elementor-element-331a959 {
    text-align: center
}

.elementor-59 .elementor-element.elementor-element-331a959>.elementor-widget-container {
    margin: 0 30%;
    padding: 0 0 40px
}

.elementor-59 .elementor-element.elementor-element-5b19e85c {
    text-align: center
}

.elementor-59 .elementor-element.elementor-element-5b19e85c .elementor-heading-title {
    color: var(--e-global-color-text)
}

.elementor-59 .elementor-element.elementor-element-5b19e85c>.elementor-widget-container {
    margin: 0 30%;
    padding: 0 0 40px
}

.elementor-59 .elementor-element.elementor-element-1e945a14 {
    text-align: center;
    color: var(--e-global-color-text)
}

.elementor-59 .elementor-element.elementor-element-1e945a14>.elementor-widget-container {
    margin: 0 30%;
    padding: 0 0 40px
}

.elementor-59 .elementor-element.elementor-element-47ed5d1 .elementor-button .elementor-align-icon-right {
    margin-left: 16px
}

.elementor-59 .elementor-element.elementor-element-47ed5d1 .elementor-button .elementor-align-icon-left {
    margin-right: 16px
}

.elementor-59 .elementor-element.elementor-element-47ed5d1 .elementor-button {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    background-color: var(--e-global-color-secondary)
}

.elementor-59 .elementor-element.elementor-element-47ed5d1 .elementor-button:hover,
.elementor-59 .elementor-element.elementor-element-47ed5d1 .elementor-button:focus {
    background-color: var(--e-global-color-text)
}

.elementor-59 .elementor-element.elementor-element-47ed5d1>.elementor-widget-container {
    margin: 0 30%
}

@media(min-width:768px) {
    .elementor-59 .elementor-element.elementor-element-dfacaeb {
        width: 66.667%
    }

    .elementor-59 .elementor-element.elementor-element-70f594c {
        width: 33.289%
    }
}

@media(max-width:1064px) {
    .elementor-59 .elementor-element.elementor-element-3c936ef5 {
        margin-top: 92px;
        margin-bottom: 0;
        padding: 50px 20px 75px
    }

    .elementor-59 .elementor-element.elementor-element-5c802962>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-59 .elementor-element.elementor-element-5c802962>.elementor-element-populated {
        padding: 0 0 60px
    }

    .elementor-59 .elementor-element.elementor-element-713f0c09.elementor-column>.elementor-widget-wrap {
        justify-content: center
    }

    .elementor-59 .elementor-element.elementor-element-713f0c09>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-59 .elementor-element.elementor-element-6818b40a {
        text-align: center
    }

    .elementor-59 .elementor-element.elementor-element-6818b40a img {
        width: 60%
    }

    .elementor-59 .elementor-element.elementor-element-95e0c34 {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 20px 58px
    }

    .elementor-59 .elementor-element.elementor-element-42cecf9>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-59 .elementor-element.elementor-element-42cecf9>.elementor-element-populated {
        padding: 0 0 60px
    }

    .elementor-59 .elementor-element.elementor-element-da1f2a4.elementor-column>.elementor-widget-wrap {
        justify-content: center
    }

    .elementor-59 .elementor-element.elementor-element-da1f2a4>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-59 .elementor-element.elementor-element-8af4d1b {
        text-align: center
    }

    .elementor-59 .elementor-element.elementor-element-8af4d1b img {
        width: 60%
    }

    .elementor-59 .elementor-element.elementor-element-50335665 {
        padding: 0 1.25rem
    }

    .elementor-59 .elementor-element.elementor-element-df1693c {
        padding: 63px 20px 0
    }

    .elementor-59 .elementor-element.elementor-element-25ea436a>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-59 .elementor-element.elementor-element-331a959>.elementor-widget-container {
        margin: 2% 20% 0
    }

    .elementor-59 .elementor-element.elementor-element-5b19e85c>.elementor-widget-container {
        margin: 0 20%
    }

    .elementor-59 .elementor-element.elementor-element-1e945a14 {
        text-align: center
    }

    .elementor-59 .elementor-element.elementor-element-1e945a14>.elementor-widget-container {
        margin: 0 20%
    }
}

@media(max-width:767px) {
    .elementor-59 .elementor-element.elementor-element-3c936ef5 {
        margin-top: 93px;
        margin-bottom: 0;
        padding: 50px 20px 75px
    }

    .elementor-59 .elementor-element.elementor-element-5c802962>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-59 .elementor-element.elementor-element-2b007c65>.elementor-widget-container {
        padding: 0 0 25px
    }

    .elementor-59 .elementor-element.elementor-element-78e0a205>.elementor-widget-container {
        padding: 0 0 25px
    }

    .elementor-59 .elementor-element.elementor-element-3464aea5>.elementor-widget-container {
        padding: 0 0 25px
    }

    .elementor-59 .elementor-element.elementor-element-2802c8cb {
        padding: 0
    }

    .elementor-59 .elementor-element.elementor-element-150a7553>.elementor-widget-container {
        padding: 0 0 20px
    }

    .elementor-59 .elementor-element.elementor-element-713f0c09>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-59 .elementor-element.elementor-element-6818b40a {
        text-align: center
    }

    .elementor-59 .elementor-element.elementor-element-6818b40a img {
        width: 100%
    }

    .elementor-59 .elementor-element.elementor-element-95e0c34 {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 20px 48px
    }

    .elementor-59 .elementor-element.elementor-element-8ddfe7d>.elementor-widget-container {
        padding: 0 0 25px
    }

    .elementor-59 .elementor-element.elementor-element-74959db>.elementor-widget-container {
        padding: 0
    }

    .elementor-59 .elementor-element.elementor-element-8af4d1b {
        text-align: center
    }

    .elementor-59 .elementor-element.elementor-element-8af4d1b img {
        width: 100%
    }

    .elementor-59 .elementor-element.elementor-element-50335665 {
        margin-top: 0;
        margin-bottom: 3.25rem;
        padding: 0 1.25rem
    }

    .elementor-59 .elementor-element.elementor-element-1cf7d574 .ae-accordion .ae-tab-title {
        font-size: 1rem;
        line-height: 1em;
        padding: 1.25em 1.25em 1.25em 0
    }

    .elementor-59 .elementor-element.elementor-element-dfacaeb>.elementor-element-populated {
        padding: 0
    }

    .elementor-59 .elementor-element.elementor-element-4b9ab4e3 {
        padding: 0 0 62px
    }

    .elementor-59 .elementor-element.elementor-element-38abaad4>.elementor-widget-container {
        margin: 60px 0 80px
    }

    .elementor-59 .elementor-element.elementor-element-331a959>.elementor-widget-container {
        margin: 0;
        padding: 0 20px 25px
    }

    .elementor-59 .elementor-element.elementor-element-5b19e85c>.elementor-widget-container {
        margin: 0;
        padding: 0 1.25rem 2.5rem
    }

    .elementor-59 .elementor-element.elementor-element-1e945a14>.elementor-widget-container {
        margin: 0;
        padding: 0 20px 40px
    }

    .elementor-59 .elementor-element.elementor-element-47ed5d1>.elementor-widget-container {
        margin: 0;
        padding: 0 1.25rem
    }
}

@media(max-width:1064px) and (min-width:768px) {
    .elementor-59 .elementor-element.elementor-element-5c802962 {
        width: 100%
    }

    .elementor-59 .elementor-element.elementor-element-713f0c09 {
        width: 100%
    }

    .elementor-59 .elementor-element.elementor-element-42cecf9 {
        width: 100%
    }

    .elementor-59 .elementor-element.elementor-element-da1f2a4 {
        width: 100%
    }

    .elementor-59 .elementor-element.elementor-element-25ea436a {
        width: 100%
    }
}