.elementor-5189 .elementor-element.elementor-element-54ec80ad>.elementor-container {
    max-width: 1172px
}

.elementor-5189 .elementor-element.elementor-element-54ec80ad>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-5189 .elementor-element.elementor-element-54ec80ad:not(.elementor-motion-effects-element-type-background),
.elementor-5189 .elementor-element.elementor-element-54ec80ad>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-text)
}

.elementor-5189 .elementor-element.elementor-element-54ec80ad {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0
}

.elementor-5189 .elementor-element.elementor-element-54ec80ad>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-bc-flex-widget .elementor-5189 .elementor-element.elementor-element-19993f4f.elementor-column .elementor-widget-wrap {
    align-items: center
}

.elementor-5189 .elementor-element.elementor-element-19993f4f.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center
}

.elementor-5189 .elementor-element.elementor-element-19993f4f>.elementor-element-populated {
    padding: 0 2.5rem 0 0
}

.elementor-5189 .elementor-element.elementor-element-6383991.ae-acf-repeater-layout-grid .ae-acf-repeater-item {
    padding-left: 0;
    padding-right: 0
}

.elementor-5189 .elementor-element.elementor-element-6383991 .ae-acf-repeater-item {
    margin-bottom: 10px
}

.elementor-5189 .elementor-element.elementor-element-6383991 .ae-widget-title-wrap {
    text-align: center
}

.elementor-5189 .elementor-element.elementor-element-6383991 .ae-widget-title-inner {
    border-style: solid;
    border-width: 0 0 1px;
    padding: 0 10px 5px;
    margin: 0 0 10px
}

.elementor-5189 .elementor-element.elementor-element-6383991>.elementor-widget-container {
    padding: 0 0 2.5rem
}

.elementor-5189 .elementor-element.elementor-element-6383991 {
    width: auto;
    max-width: auto
}

.elementor-5189 .elementor-element.elementor-element-38e3f580 {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: var(--e-global-typography-primary-font-size);
    font-weight: var(--e-global-typography-primary-font-weight);
    line-height: var(--e-global-typography-primary-line-height)
}

.elementor-5189 .elementor-element.elementor-element-38e3f580>.elementor-widget-container {
    padding: 0 1.25rem 2rem 0
}

.elementor-5189 .elementor-element.elementor-element-76df9292 .elementor-button .elementor-align-icon-right {
    margin-left: 16px
}

.elementor-5189 .elementor-element.elementor-element-76df9292 .elementor-button .elementor-align-icon-left {
    margin-right: 16px
}

.elementor-5189 .elementor-element.elementor-element-76df9292 .elementor-button:hover,
.elementor-5189 .elementor-element.elementor-element-76df9292 .elementor-button:focus {
    background-color: var(--e-global-color-secondary)
}

.elementor-5189 .elementor-element.elementor-element-76df9292>.elementor-widget-container {
    padding: 0 1.25rem 0 0
}

.elementor-5189 .elementor-element.elementor-element-1cb8d23d {
    text-align: right
}

@media(max-width:1064px) {
    .elementor-5189 .elementor-element.elementor-element-6383991 .ae-acf-repeater-item {
        width: calc(100%/1)
    }

    .elementor-5189 .elementor-element.elementor-element-38e3f580 {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height)
    }
}

@media(max-width:767px) {
    .elementor-5189 .elementor-element.elementor-element-54ec80ad {
        padding: 1.625rem 0
    }

    .elementor-5189 .elementor-element.elementor-element-19993f4f {
        width: 100%
    }

    .elementor-5189 .elementor-element.elementor-element-19993f4f>.elementor-element-populated {
        padding: 0
    }

    .elementor-5189 .elementor-element.elementor-element-6383991 .ae-acf-repeater-item {
        width: calc(100%/1)
    }

    .elementor-5189 .elementor-element.elementor-element-6383991>.elementor-widget-container {
        padding: 0 0 1.5rem
    }

    .elementor-5189 .elementor-element.elementor-element-38e3f580 {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height)
    }

    .elementor-5189 .elementor-element.elementor-element-38e3f580>.elementor-widget-container {
        padding: 0 0 1.5625rem
    }

    .elementor-5189 .elementor-element.elementor-element-76df9292>.elementor-widget-container {
        padding: 0 0 2rem
    }

    .elementor-5189 .elementor-element.elementor-element-742ab9e6 {
        width: 100%
    }
}

@media(min-width:768px) {
    .elementor-5189 .elementor-element.elementor-element-19993f4f {
        width: 51%
    }

    .elementor-5189 .elementor-element.elementor-element-742ab9e6 {
        width: 49%
    }
}